{
  "kind": "discovery#restDescription",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/zc7BVZTngzEcCz2hafit0Wqy0Pg\"",
  "discoveryVersion": "v1",
  "id": "adsense:v1.4",
  "name": "adsense",
  "canonicalName": "AdSense",
  "fullyEncodeReservedExpansion": null,
  "version": "v1.4",
  "revision": "20190820",
  "title": "AdSense Management API",
  "description": "Accesses AdSense publishers' inventory and generates performance reports.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/adsense-16.png",
    "x32": "https://www.google.com/images/icons/product/adsense-32.png"
  },
  "documentationLink": "https://developers.google.com/adsense/management/",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/adsense/v1.4/",
  "basePath": "/adsense/v1.4/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "adsense/v1.4/",
  "batchPath": "batch/adsense/v1.4",
  "version_module": null,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "csv",
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of text/csv",
        "Responses with Content-Type of application/json"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "schemas": {
    "Account": {
      "id": "Account",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "creation_time": {
          "description": null,
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique identifier of this account.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#account.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Name of this account.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "premium": {
          "description": "Whether this account is premium.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "subAccounts": {
          "description": "Sub accounts of the this account.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Account"
          }
        },
        "timezone": {
          "description": "AdSense timezone of this account.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Accounts": {
      "id": "Accounts",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Account"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#accounts.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdClient": {
      "id": "AdClient",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "arcOptIn": {
          "description": "Whether this ad client is opted in to ARC.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique identifier of this ad client.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#adClient.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productCode": {
          "description": "This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "supportsReporting": {
          "description": "Whether this ad client supports being reported on.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdClients": {
      "id": "AdClients",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The ad clients returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AdClient"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#adClients.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdCode": {
      "id": "AdCode",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adCode": {
          "description": "The Auto ad code snippet. The ad code snippet.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ampBody": {
          "description": "The AMP Auto ad code snippet that goes in the body of an AMP page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ampHead": {
          "description": "The AMP Auto ad code snippet that goes in the head of an AMP page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind this is, in this case adsense#adCode.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdStyle": {
      "id": "AdStyle",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "colors": {
          "description": "The colors which are included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "background": {
              "description": "The color of the ad background.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "border": {
              "description": "The color of the ad border.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "text": {
              "description": "The color of the ad text.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "title": {
              "description": "The color of the ad title.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The color of the ad url.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "corners": {
          "description": "The style of the corners in the ad (deprecated: never populated, ignored).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "font": {
          "description": "The font which is included in the style.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "family": {
              "description": "The family of the font.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "size": {
              "description": "The size of the font.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind this is, in this case adsense#adStyle.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdUnit": {
      "id": "AdUnit",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "code": {
          "description": "Identity code of this ad unit, not necessarily unique across ad clients.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentAdsSettings": {
          "description": "Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "backupOption": {
              "description": "The backup option to be used in instances where no ad is available.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "color": {
                  "description": "Color to use when type is set to COLOR.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                },
                "type": {
                  "description": "Type of the backup option. Possible values are BLANK, COLOR and URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                },
                "url": {
                  "description": "URL to use when type is set to URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "size": {
              "description": "Size of this ad unit.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "type": {
              "description": "Type of this ad unit.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "customStyle": {
          "description": "Custom style information specific to this ad unit.",
          "$ref": "AdStyle"
        },
        "feedAdsSettings": {
          "description": "Settings specific to feed ads (AFF) - deprecated.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "adPosition": {
              "description": "The position of the ads relative to the feed entries.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "frequency": {
              "description": "The frequency at which ads should appear in the feed (i.e. every N entries).",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "minimumWordCount": {
              "description": "The minimum length an entry should be in order to have attached ads.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "type": {
              "description": "The type of ads which should appear.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#adUnit.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "mobileContentAdsSettings": {
          "description": "Settings specific to WAP mobile content ads (AFMC) - deprecated.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "markupLanguage": {
              "description": "The markup language to use for this ad unit.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "scriptingLanguage": {
              "description": "The scripting language to use for this ad unit.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "size": {
              "description": "Size of this ad unit.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "type": {
              "description": "Type of this ad unit.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Name of this ad unit.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "savedStyleId": {
          "description": "ID of the saved ad style which holds this ad unit's style information.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdUnits": {
      "id": "AdUnits",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The ad units returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AdUnit"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#adUnits.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdsenseReportsGenerateResponse": {
      "id": "AdsenseReportsGenerateResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "endDate": {
          "description": "The requested end date in yyyy-mm-dd format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "headers": {
          "description": "The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "currency": {
                "description": "The currency of this column. Only present if the header type is METRIC_CURRENCY.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "name": {
                "description": "The name of the header.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "type": {
                "description": "The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "Kind this is, in this case adsense#report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "array",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": {
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          }
        },
        "startDate": {
          "description": "The requested start date in yyyy-mm-dd format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totals": {
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "warnings": {
          "description": "Any warnings associated with generation of the report.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Alert": {
      "id": "Alert",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Unique identifier of this alert. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isDismissible": {
          "description": "Whether this alert can be dismissed.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#alert.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "message": {
          "description": "The localized alert message.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "severity": {
          "description": "Severity of this alert. Possible values: INFO, WARNING, SEVERE.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Type of this alert. Possible values: SELF_HOLD, MIGRATED_TO_BILLING3, ADDRESS_PIN_VERIFICATION, PHONE_PIN_VERIFICATION, CORPORATE_ENTITY, GRAYLISTED_PUBLISHER, API_HOLD.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Alerts": {
      "id": "Alerts",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The alerts returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Alert"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#alerts.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CustomChannel": {
      "id": "CustomChannel",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "code": {
          "description": "Code of this custom channel, not necessarily unique across ad clients.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#customChannel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Name of this custom channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "targetingInfo": {
          "description": "The targeting information of this custom channel, if activated.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "adsAppearOn": {
              "description": "The name used to describe this channel externally.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "description": {
              "description": "The external description of the channel.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "location": {
              "description": "The locations in which ads appear. (Only valid for content and mobile content ads (deprecated)). Acceptable values for content ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for mobile content ads (deprecated) are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "siteLanguage": {
              "description": "The language of the sites ads will be displayed on.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CustomChannels": {
      "id": "CustomChannels",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The custom channels returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "CustomChannel"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#customChannels.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Metadata": {
      "id": "Metadata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ReportingMetadataEntry"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#metadata.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Payment": {
      "id": "Payment",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Unique identifier of this Payment.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#payment.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "paymentAmount": {
          "description": "The amount to be paid.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "paymentAmountCurrencyCode": {
          "description": "The currency code for the amount to be paid.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "paymentDate": {
          "description": "The date this payment was/will be credited to the user, or none if the payment threshold has not been met.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Payments": {
      "id": "Payments",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The list of Payments for the account. One or both of a) the account's most recent payment; and b) the account's upcoming payment.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Payment"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#payments.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportingMetadataEntry": {
      "id": "ReportingMetadataEntry",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "compatibleDimensions": {
          "description": "For metrics this is a list of dimension IDs which the metric is compatible with, for dimensions it is a list of compatibility groups the dimension belongs to.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "compatibleMetrics": {
          "description": "The names of the metrics the dimension or metric this reporting metadata entry describes is compatible with.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "id": {
          "description": "Unique identifier of this reporting metadata entry, corresponding to the name of the appropriate dimension or metric.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#reportingMetadataEntry.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "requiredDimensions": {
          "description": "The names of the dimensions which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "requiredMetrics": {
          "description": "The names of the metrics which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "supportedProducts": {
          "description": "The codes of the projects supported by the dimension or metric this reporting metadata entry describes.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedAdStyle": {
      "id": "SavedAdStyle",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adStyle": {
          "description": "The AdStyle itself.",
          "$ref": "AdStyle"
        },
        "id": {
          "description": "Unique identifier of this saved ad style. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#savedAdStyle.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The user selected name of this SavedAdStyle.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedAdStyles": {
      "id": "SavedAdStyles",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The saved ad styles returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "SavedAdStyle"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#savedAdStyles.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedReport": {
      "id": "SavedReport",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Unique identifier of this saved report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#savedReport.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "This saved report's name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedReports": {
      "id": "SavedReports",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The saved reports returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "SavedReport"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#savedReports.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UrlChannel": {
      "id": "UrlChannel",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Kind of resource this is, in this case adsense#urlChannel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "urlPattern": {
          "description": "URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UrlChannels": {
      "id": "UrlChannels",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "ETag of this response for caching purposes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The URL channels returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "UrlChannel"
          }
        },
        "kind": {
          "description": "Kind of list this is, in this case adsense#urlChannels.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "adclients": {
          "resources": {},
          "methods": {
            "getAdCode": {
              "id": "adsense.accounts.adclients.getAdCode",
              "path": "accounts/{accountId}/adclients/{adClientId}/adcode",
              "httpMethod": "GET",
              "description": "Get Auto ad code for a given ad client.",
              "parameters": {
                "accountId": {
                  "description": "Account which contains the ad client.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adClientId": {
                  "description": "Ad client to get the code for.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "request": null,
              "response": {
                "$ref": "AdCode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "adsense.accounts.adclients.list",
              "path": "accounts/{accountId}/adclients",
              "httpMethod": "GET",
              "description": "List all ad clients in the specified account.",
              "parameters": {
                "accountId": {
                  "description": "Account for which to list ad clients.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "maxResults": {
                  "description": "The maximum number of ad clients to include in the response, used for paging.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "0",
                  "maximum": "10000",
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": null,
              "response": {
                "$ref": "AdClients"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "adunits": {
          "resources": {
            "customchannels": {
              "resources": {},
              "methods": {
                "list": {
                  "id": "adsense.accounts.adunits.customchannels.list",
                  "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/customchannels",
                  "httpMethod": "GET",
                  "description": "List all custom channels which the specified ad unit belongs to.",
                  "parameters": {
                    "accountId": {
                      "description": "Account to which the ad client belongs.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "adClientId": {
                      "description": "Ad client which contains the ad unit.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "adUnitId": {
                      "description": "Ad unit for which to list custom channels.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "maxResults": {
                      "description": "The maximum number of custom channels to include in the response, used for paging.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": "0",
                      "maximum": "10000",
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "adClientId",
                    "adUnitId"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "CustomChannels"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "adsense.accounts.adunits.get",
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}",
              "httpMethod": "GET",
              "description": "Gets the specified ad unit in the specified ad client for the specified account.",
              "parameters": {
                "accountId": {
                  "description": "Account to which the ad client belongs.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adClientId": {
                  "description": "Ad client for which to get the ad unit.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adUnitId": {
                  "description": "Ad unit to retrieve.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId",
                "adUnitId"
              ],
              "request": null,
              "response": {
                "$ref": "AdUnit"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "getAdCode": {
              "id": "adsense.accounts.adunits.getAdCode",
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode",
              "httpMethod": "GET",
              "description": "Get ad code for the specified ad unit.",
              "parameters": {
                "accountId": {
                  "description": "Account which contains the ad client.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adClientId": {
                  "description": "Ad client with contains the ad unit.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adUnitId": {
                  "description": "Ad unit to get the code for.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId",
                "adUnitId"
              ],
              "request": null,
              "response": {
                "$ref": "AdCode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "adsense.accounts.adunits.list",
              "path": "accounts/{accountId}/adclients/{adClientId}/adunits",
              "httpMethod": "GET",
              "description": "List all ad units in the specified ad client for the specified account.",
              "parameters": {
                "accountId": {
                  "description": "Account to which the ad client belongs.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adClientId": {
                  "description": "Ad client for which to list ad units.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "includeInactive": {
                  "description": "Whether to include inactive ad units. Default: true.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "boolean",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "maxResults": {
                  "description": "The maximum number of ad units to include in the response, used for paging.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "0",
                  "maximum": "10000",
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "request": null,
              "response": {
                "$ref": "AdUnits"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "alerts": {
          "resources": {},
          "methods": {
            "delete": {
              "id": "adsense.accounts.alerts.delete",
              "path": "accounts/{accountId}/alerts/{alertId}",
              "httpMethod": "DELETE",
              "description": "Dismiss (delete) the specified alert from the specified publisher AdSense account.",
              "parameters": {
                "accountId": {
                  "description": "Account which contains the ad unit.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "alertId": {
                  "description": "Alert to delete.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "alertId"
              ],
              "request": null,
              "response": null,
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "adsense.accounts.alerts.list",
              "path": "accounts/{accountId}/alerts",
              "httpMethod": "GET",
              "description": "List the alerts for the specified AdSense account.",
              "parameters": {
                "accountId": {
                  "description": "Account for which to retrieve the alerts.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "locale": {
                  "description": "The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": null,
              "response": {
                "$ref": "Alerts"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "customchannels": {
          "resources": {
            "adunits": {
              "resources": {},
              "methods": {
                "list": {
                  "id": "adsense.accounts.customchannels.adunits.list",
                  "path": "accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}/adunits",
                  "httpMethod": "GET",
                  "description": "List all ad units in the specified custom channel.",
                  "parameters": {
                    "accountId": {
                      "description": "Account to which the ad client belongs.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "adClientId": {
                      "description": "Ad client which contains the custom channel.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "customChannelId": {
                      "description": "Custom channel for which to list ad units.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "includeInactive": {
                      "description": "Whether to include inactive ad units. Default: true.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "boolean",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "maxResults": {
                      "description": "The maximum number of ad units to include in the response, used for paging.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": "0",
                      "maximum": "10000",
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "adClientId",
                    "customChannelId"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "AdUnits"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "adsense.accounts.customchannels.get",
              "path": "accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}",
              "httpMethod": "GET",
              "description": "Get the specified custom channel from the specified ad client for the specified account.",
              "parameters": {
                "accountId": {
                  "description": "Account to which the ad client belongs.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adClientId": {
                  "description": "Ad client which contains the custom channel.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "customChannelId": {
                  "description": "Custom channel to retrieve.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId",
                "customChannelId"
              ],
              "request": null,
              "response": {
                "$ref": "CustomChannel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "adsense.accounts.customchannels.list",
              "path": "accounts/{accountId}/adclients/{adClientId}/customchannels",
              "httpMethod": "GET",
              "description": "List all custom channels in the specified ad client for the specified account.",
              "parameters": {
                "accountId": {
                  "description": "Account to which the ad client belongs.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "adClientId": {
                  "description": "Ad client for which to list custom channels.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "maxResults": {
                  "description": "The maximum number of custom channels to include in the response, used for paging.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "0",
                  "maximum": "10000",
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "adClientId"
              ],
              "request": null,
              "response": {
                "$ref": "CustomChannels"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "payments": {
          "resources": {},
          "methods": {
            "list": {
              "id": "adsense.accounts.payments.list",
              "path": "accounts/{accountId}/payments",
              "httpMethod": "GET",
              "description": "List the payments for the specified AdSense account.",
              "parameters": {
                "accountId": {
                  "description": "Account for which to retrieve the payments.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": null,
              "response": {
                "$ref": "Payments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "reports": {
          "resources": {
            "saved": {
              "resources": {},
              "methods": {
                "generate": {
                  "id": "adsense.accounts.reports.saved.generate",
                  "path": "accounts/{accountId}/reports/{savedReportId}",
                  "httpMethod": "GET",
                  "description": "Generate an AdSense report based on the saved report ID sent in the query parameters.",
                  "parameters": {
                    "accountId": {
                      "description": "Account to which the saved reports belong.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "locale": {
                      "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "[a-zA-Z_]+",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "maxResults": {
                      "description": "The maximum number of rows of report data to return.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": "0",
                      "maximum": "50000",
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "savedReportId": {
                      "description": "The saved report to retrieve.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "startIndex": {
                      "description": "Index of the first row of report data to return.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": "0",
                      "maximum": "5000",
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "savedReportId"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "AdsenseReportsGenerateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "list": {
                  "id": "adsense.accounts.reports.saved.list",
                  "path": "accounts/{accountId}/reports/saved",
                  "httpMethod": "GET",
                  "description": "List all saved reports in the specified AdSense account.",
                  "parameters": {
                    "accountId": {
                      "description": "Account to which the saved reports belong.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "maxResults": {
                      "description": "The maximum number of saved reports to include in the response, used for paging.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": "0",
                      "maximum": "100",
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
[...]
