{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "chromepolicy:v1",
  "name": "chromepolicy",
  "canonicalName": "Chrome Policy",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "revision": "20210317",
  "title": "Chrome Policy API",
  "description": "The Chrome Policy API is a suite of services that allows Chrome administrators to control the policies applied to their managed Chrome OS devices and Chrome browsers.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "http://developers.google.com/chrome/policy",
  "protocol": "rest",
  "baseUrl": "https://chromepolicy.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://chromepolicy.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/chrome.management.policy": {
          "description": "See, edit, create or delete policies applied to Chrome OS and Chrome Browsers managed within your organization"
        },
        "https://www.googleapis.com/auth/chrome.management.policy.readonly": {
          "description": "See policies applied to Chrome OS and Chrome Browsers managed within your organization"
        }
      }
    }
  },
  "schemas": {
    "GoogleChromePolicyV1AdditionalTargetKeyName": {
      "id": "GoogleChromePolicyV1AdditionalTargetKeyName",
      "description": "Additional key names that will be used to identify the target of the policy value.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "key": {
          "description": "Key name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "keyDescription": {
          "description": "Key description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest",
      "description": "Request message for specifying that multiple policy values inherit their value from their parents.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "requests": {
          "description": "List of policies that have to inherit their values as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1InheritOrgUnitPolicyRequest"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest": {
      "id": "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest",
      "description": "Request message for modifying multiple policy values for a specific target.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "requests": {
          "description": "List of policies to modify as defined by the `requests`. All requests in the list must follow these restrictions: 1. All schemas in the list must have the same root namespace. 2. All `policyTargetKey.targetResource` values must point to an org unit resource. 3. All `policyTargetKey` values must have the same key names in the ` additionalTargetKeys`. This also means if one of the targets has an empty `additionalTargetKeys` map, all of the targets must have an empty `additionalTargetKeys` map. 4. No two modification requests can reference the same `policySchema` + ` policyTargetKey` pair. ",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1InheritOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyV1InheritOrgUnitPolicyRequest",
      "description": "Request parameters for inheriting policy value of a specific org unit target from the policy value of its parent org unit.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema that is being inherited.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1ListPolicySchemasResponse": {
      "id": "GoogleChromePolicyV1ListPolicySchemasResponse",
      "description": "Response message for listing policy schemas that match a filter.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next page of policy schemas.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "policySchemas": {
          "description": "The list of policy schemas that match the query.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchema"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest": {
      "id": "GoogleChromePolicyV1ModifyOrgUnitPolicyRequest",
      "description": "Request parameters for modifying a policy value for a specific org unit target.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "policyTargetKey": {
          "description": "Required. The key of the target for which we want to modify a policy. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "policyValue": {
          "description": "The new value for the policy.",
          "$ref": "GoogleChromePolicyV1PolicyValue"
        },
        "updateMask": {
          "description": "Required. Policy fields to update. Only fields in this mask will be updated; other fields in `policy_value` will be ignored (even if they have values). If a field is in this list it must have a value in 'policy_value'.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1PolicySchema": {
      "id": "GoogleChromePolicyV1PolicySchema",
      "description": "Resource representing a policy schema. Next ID: 10",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "accessRestrictions": {
          "description": "Output only. Specific access restrictions related to this policy.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "additionalTargetKeyNames": {
          "description": "Output only. Additional key names that will be used to identify the target of the policy value. When specifying a `policyTargetKey`, each of the additional keys specified here will have to be included in the `additionalTargetKeys` map.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1AdditionalTargetKeyName"
          }
        },
        "definition": {
          "description": "Schema definition using proto descriptor.",
          "$ref": "Proto2FileDescriptorProto"
        },
        "fieldDescriptions": {
          "description": "Output only. Detailed description of each field that is part of the schema.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDescription"
          }
        },
        "name": {
          "description": "Format: name=customers/{customer}/policySchemas/{schema_namespace}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "notices": {
          "description": "Output only. Special notice messages related to setting certain values in certain fields in the schema.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaNoticeDescription"
          }
        },
        "policyDescription": {
          "description": "Output only. Description about the policy schema for user consumption.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schemaName": {
          "description": "Output only. The full qualified name of the policy schema. This value is used to fill the field `policy_schema` in PolicyValue when calling BatchInheritOrgUnitPolicies or BatchModifyOrgUnitPolicies.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "supportUri": {
          "description": "Output only. URI to related support article for this schema.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1PolicySchemaFieldDescription": {
      "id": "GoogleChromePolicyV1PolicySchemaFieldDescription",
      "description": "Provides detailed information for a particular field that is part of a PolicySchema.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Output only. The description for the field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "field": {
          "description": "Output only. The name of the field for associated with this description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inputConstraint": {
          "description": "Output only. Any input constraints associated on the values for the field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "knownValueDescriptions": {
          "description": "Output only. If the field has a set of know values, this field will provide a description for these values.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription"
          }
        },
        "nestedFieldDescriptions": {
          "description": "Output only. Provides the description of the fields nested in this field, if the field is a message type that defines multiple fields.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1PolicySchemaFieldDescription"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription": {
      "id": "GoogleChromePolicyV1PolicySchemaFieldKnownValueDescription",
      "description": "Provides detailed information about a known value that is allowed for a particular field in a PolicySchema.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Output only. Additional description for this value.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "Output only. The string represenstation of the value that can be set for the field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1PolicySchemaNoticeDescription": {
      "id": "GoogleChromePolicyV1PolicySchemaNoticeDescription",
      "description": "Provides special notice messages related to a particular value in a field that is part of a PolicySchema.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "acknowledgementRequired": {
          "description": "Output only. Whether the user needs to acknowledge the notice message before the value can be set.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "field": {
          "description": "Output only. The field name associated with the notice.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "noticeMessage": {
          "description": "Output only. The notice message associate with the value of the field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "noticeValue": {
          "description": "Output only. The value of the field that has a notice. When setting the field to this value, the user may be required to acknowledge the notice message in order for the value to be set.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1PolicyTargetKey": {
      "id": "GoogleChromePolicyV1PolicyTargetKey",
      "description": "The key used to identify the target on which the policy will be applied.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "additionalTargetKeys": {
          "description": "Map containing the additional target key name and value pairs used to further identify the target of the policy.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": null,
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "targetResource": {
          "description": "The target resource on which this policy is applied. The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\")",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1PolicyValue": {
      "id": "GoogleChromePolicyV1PolicyValue",
      "description": "A particular value for a policy managed by the service.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "policySchema": {
          "description": "The fully qualified name of the policy schema associated with this policy.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "The value of the policy that is compatible with the schema that it is associated with.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1ResolveRequest": {
      "id": "GoogleChromePolicyV1ResolveRequest",
      "description": "Request message for getting the resolved policy value for a specific target.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "pageSize": {
          "description": "The maximum number of policies to return, defaults to 100 and has a maximum of 1000.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pageToken": {
          "description": "The page token used to retrieve a specific page of the request.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "policySchemaFilter": {
          "description": "The schema filter to apply to the resolve request. Specify a schema name to view a particular schema, for example: chrome.users.ShowLogoutButton Wildcards are supported, but only in the leaf portion of the schema name. Wildcards cannot be used in namespace directly. Please read https://developers.google.com/chrome/chrome-management/guides/policyapi for details on schema namepsaces. For example: Valid: \"chrome.users.*\", \"chrome.users.apps.*\", \"chrome.printers.*\" Invalid: \"*\", \"*.users\", \"chrome.*\", \"chrome.*.apps.*\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "policyTargetKey": {
          "description": "Required. The key of the target resource on which the policies should be resolved. The target resource must point to an Org Unit.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1ResolveResponse": {
      "id": "GoogleChromePolicyV1ResolveResponse",
      "description": "Response message for getting the resolved policy value for a specific target.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "The page token used to get the next set of resolved policies found by the request.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "resolvedPolicies": {
          "description": "The list of resolved policies found by the resolve request.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleChromePolicyV1ResolvedPolicy"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleChromePolicyV1ResolvedPolicy": {
      "id": "GoogleChromePolicyV1ResolvedPolicy",
      "description": "The resolved value of a policy for a given target.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "sourceKey": {
          "description": "Output only. The source resource from which this policy value is obtained. May be the same as `targetKey` if the policy is directly modified on the target, otherwise it would be another resource from which the policy gets its value (if applicable). If not present, the source is the default value for the customer.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "targetKey": {
          "description": "Output only. The target resource for which the resolved policy value applies.",
          "$ref": "GoogleChromePolicyV1PolicyTargetKey"
        },
        "value": {
          "description": "Output only. The resolved value of the policy.",
          "$ref": "GoogleChromePolicyV1PolicyValue"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "Proto2DescriptorProto": {
      "id": "Proto2DescriptorProto",
      "description": "Describes a message type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enumType": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "field": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2FieldDescriptorProto"
          }
        },
        "name": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nestedType": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "oneofDecl": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2OneofDescriptorProto"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Proto2EnumDescriptorProto": {
      "id": "Proto2EnumDescriptorProto",
      "description": "Describes an enum type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2EnumValueDescriptorProto"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Proto2EnumValueDescriptorProto": {
      "id": "Proto2EnumValueDescriptorProto",
      "description": "Describes a value within an enum.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "number": {
          "description": null,
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Proto2FieldDescriptorProto": {
      "id": "Proto2FieldDescriptorProto",
      "description": "Describes a field within a message.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "defaultValue": {
          "description": "For numeric types, contains the original text representation of the value. For booleans, \"true\" or \"false\". For strings, contains the default text contents (not escaped in any way). For bytes, contains the C escaped value. All bytes >= 128 are escaped.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "jsonName": {
          "description": "JSON name of this field. The value is set by protocol compiler. If the user has set a \"json_name\" option on this field, that option's value will be used. Otherwise, it's deduced from the field's name by converting it to camelCase.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "label": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "LABEL_OPTIONAL",
            "LABEL_REQUIRED",
            "LABEL_REPEATED"
          ],
          "enumDescriptions": [
            "0 is reserved for errors",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "number": {
          "description": null,
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "oneofIndex": {
          "description": "If set, gives the index of a oneof in the containing type's oneof_decl list. This field is a member of that oneof.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "proto3Optional": {
          "description": "If true, this is a proto3 \"optional\". When a proto3 field is optional, it tracks presence regardless of field type. When proto3_optional is true, this field must be belong to a oneof to signal to old proto3 clients that presence is tracked for this field. This oneof is known as a \"synthetic\" oneof, and this field must be its sole member (each proto3 optional field gets its own synthetic oneof). Synthetic oneofs exist in the descriptor only, and do not generate any API. Synthetic oneofs must be ordered after all \"real\" oneofs. For message fields, proto3_optional doesn't create any semantic change, since non-repeated message fields always track presence. However it still indicates the semantic detail of whether the user wrote \"optional\" or not. This can be useful for round-tripping the .proto file. For consistency we give message fields a synthetic oneof also, even though it is not required to track presence. This is especially important because the parser can't tell if a field is a message or an enum, so it must always create a synthetic oneof. Proto2 optional fields do not set this flag, because they already indicate optional with `LABEL_OPTIONAL`.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "If type_name is set, this need not be set. If both this and type_name are set, this must be one of TYPE_ENUM, TYPE_MESSAGE or TYPE_GROUP.",
          "type": "string",
          "format": null,
          "enum": [
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "0 is reserved for errors. Order is weird for historical reasons.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT64 if negative values are likely.",
            "",
            "Not ZigZag encoded. Negative numbers take 10 bytes. Use TYPE_SINT32 if negative values are likely.",
            "",
            "",
            "",
            "",
            "Tag-delimited aggregate. Group type is deprecated and not supported in proto3. However, Proto3 implementations should still be able to parse the group wire format and treat group fields as unknown fields.",
            "Length-delimited aggregate.",
            "New in version 2.",
            "",
            "",
            "",
            "",
            "Uses ZigZag encoding.",
            "Uses ZigZag encoding."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "typeName": {
          "description": "For message and enum types, this is the name of the type. If the name starts with a '.', it is fully-qualified. Otherwise, C++-like scoping rules are used to find the type (i.e. first the nested types within this message are searched, then within the parent, on up to the root namespace).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Proto2FileDescriptorProto": {
      "id": "Proto2FileDescriptorProto",
      "description": "Describes a complete .proto file.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enumType": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2EnumDescriptorProto"
          }
        },
        "messageType": {
          "description": "All top-level definitions in this file.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Proto2DescriptorProto"
          }
        },
        "name": {
          "description": "file name, relative to root of source tree",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "package": {
          "description": "e.g. \"foo\", \"foo.bar\", etc.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "syntax": {
          "description": "The syntax of the proto file. The supported values are \"proto2\" and \"proto3\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Proto2OneofDescriptorProto": {
      "id": "Proto2OneofDescriptorProto",
      "description": "Describes a oneof.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "customers": {
      "resources": {
        "policies": {
          "resources": {
            "orgunits": {
              "resources": {},
              "methods": {
                "batchInherit": {
                  "id": "chromepolicy.customers.policies.orgunits.batchInherit",
                  "path": "v1/{+customer}/policies/orgunits:batchInherit",
                  "httpMethod": "POST",
                  "description": "Modify multiple policy values that are applied to a specific org unit so that they now inherit the value from a parent (if applicable). All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^customers/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyV1BatchInheritOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "batchModify": {
                  "id": "chromepolicy.customers.policies.orgunits.batchModify",
                  "path": "v1/{+customer}/policies/orgunits:batchModify",
                  "httpMethod": "POST",
                  "description": "Modify multiple policy values that are applied to a specific org unit. All targets must have the same target format. That is to say that they must point to the same target resource and must have the same keys specified in `additionalTargetKeyNames`. On failure the request will return the error details as part of the google.rpc.Status.",
                  "parameters": {
                    "customer": {
                      "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^customers/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "customer"
                  ],
                  "request": {
                    "$ref": "GoogleChromePolicyV1BatchModifyOrgUnitPoliciesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/chrome.management.policy"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "id": "chromepolicy.customers.policies.resolve",
              "path": "v1/{+customer}/policies:resolve",
              "httpMethod": "POST",
              "description": "Gets the resolved policy values for a list of policies that match a search query.",
              "parameters": {
                "customer": {
                  "description": "ID of the G Suite account or literal \"my_customer\" for the customer associated to the request.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^customers/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "customer"
              ],
              "request": {
                "$ref": "GoogleChromePolicyV1ResolveRequest"
              },
              "response": {
                "$ref": "GoogleChromePolicyV1ResolveResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "policySchemas": {
          "resources": {},
          "methods": {
            "get": {
              "id": "chromepolicy.customers.policySchemas.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Get a specific policy schema for a customer by its resource name.",
              "parameters": {
                "name": {
                  "description": "Required. The policy schema resource name to query.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^customers/[^/]+/policySchemas/.*$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleChromePolicyV1PolicySchema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "chromepolicy.customers.policySchemas.list",
              "path": "v1/{+parent}/policySchemas",
              "httpMethod": "GET",
              "description": "Gets a list of policy schemas that match a specified filter value for a given customer.",
              "parameters": {
                "filter": {
                  "description": "The schema filter used to find a particular schema based on fields like its resource name, description and `additionalTargetKeyNames`.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageSize": {
                  "description": "The maximum number of policy schemas to return.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "The page token used to retrieve a specific page of the listing request.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. The customer for which the listing request will apply.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^customers/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleChromePolicyV1ListPolicySchemasResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/chrome.management.policy",
                "https://www.googleapis.com/auth/chrome.management.policy.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        }
      },
      "methods": {}
    }
  },
  "methods": {}
}