{
  "kind": "discovery#restDescription",
  "etag": "\"LYADMvHWYH2ul9D6m9UT9gT77YM/3TQy1Ai_2Z54kwW7MRlLvqd88SA\"",
  "discoveryVersion": "v1",
  "id": "fusiontables:v2",
  "name": "fusiontables",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v2",
  "revision": "20171117",
  "title": "Fusion Tables API",
  "description": "API for working with Fusion Tables data.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "documentationLink": "https://developers.google.com/fusiontables",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/fusiontables/v2/",
  "basePath": "/fusiontables/v2/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "fusiontables/v2/",
  "batchPath": "batch/fusiontables/v2",
  "version_module": null,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "csv",
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of text/csv",
        "Responses with Content-Type of application/json"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/fusiontables": {
          "description": "Manage your Fusion Tables"
        },
        "https://www.googleapis.com/auth/fusiontables.readonly": {
          "description": "View your Fusion Tables"
        }
      }
    }
  },
  "schemas": {
    "Bucket": {
      "id": "Bucket",
      "description": "Specifies the minimum and maximum values, the color, opacity, icon and weight of a bucket within a StyleSetting.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "color": {
          "description": "Color of line or the interior of a polygon in #RRGGBB format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "icon": {
          "description": "Icon name used for a point.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "max": {
          "description": "Maximum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "min": {
          "description": "Minimum value in the selected column for a row to be styled according to the bucket color, opacity, icon, or weight.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "opacity": {
          "description": "Opacity of the color: 0.0 (transparent) to 1.0 (opaque).",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "weight": {
          "description": "Width of a line (in pixels).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Column": {
      "id": "Column",
      "description": "Specifies the details of a column in a table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "baseColumn": {
          "description": "Identifier of the base column. If present, this column is derived from the specified base column.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "columnId": {
              "description": "The id of the column in the base table from which this column is derived.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "tableIndex": {
              "description": "Offset to the entry in the list of base tables in the table definition.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "columnId": {
          "description": "Identifier for the column.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "columnJsonSchema": {
          "description": "JSON schema for interpreting JSON in this column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "columnPropertiesJson": {
          "description": "JSON object containing custom column properties.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Column description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "formatPattern": {
          "description": "Format pattern.\nAcceptable values are DT_DATE_MEDIUMe.g Dec 24, 2008 DT_DATE_SHORTfor example 12/24/08 DT_DATE_TIME_MEDIUMfor example Dec 24, 2008 8:30:45 PM DT_DATE_TIME_SHORTfor example 12/24/08 8:30 PM DT_DAY_MONTH_2_DIGIT_YEARfor example 24/12/08 DT_DAY_MONTH_2_DIGIT_YEAR_TIMEfor example 24/12/08 20:30 DT_DAY_MONTH_2_DIGIT_YEAR_TIME_MERIDIANfor example 24/12/08 8:30 PM DT_DAY_MONTH_4_DIGIT_YEARfor example 24/12/2008 DT_DAY_MONTH_4_DIGIT_YEAR_TIMEfor example 24/12/2008 20:30 DT_DAY_MONTH_4_DIGIT_YEAR_TIME_MERIDIANfor example 24/12/2008 8:30 PM DT_ISO_YEAR_MONTH_DAYfor example 2008-12-24 DT_ISO_YEAR_MONTH_DAY_TIMEfor example 2008-12-24 20:30:45 DT_MONTH_DAY_4_DIGIT_YEARfor example 12/24/2008 DT_TIME_LONGfor example 8:30:45 PM UTC-6 DT_TIME_MEDIUMfor example 8:30:45 PM DT_TIME_SHORTfor example 8:30 PM DT_YEAR_ONLYfor example 2008 HIGHLIGHT_UNTYPED_CELLSHighlight cell data that does not match the data type NONENo formatting (default) NUMBER_CURRENCYfor example $1234.56 NUMBER_DEFAULTfor example 1,234.56 NUMBER_INTEGERfor example 1235 NUMBER_NO_SEPARATORfor example 1234.56 NUMBER_PERCENTfor example 123,456% NUMBER_SCIENTIFICfor example 1E3 STRING_EIGHT_LINE_IMAGEDisplays thumbnail images as tall as eight lines of text STRING_FOUR_LINE_IMAGEDisplays thumbnail images as tall as four lines of text STRING_JSON_TEXTAllows editing of text as JSON in UI STRING_JSON_LISTAllows editing of text as a JSON list in UI STRING_LINKTreats cell as a link (must start with http:// or https://) STRING_ONE_LINE_IMAGEDisplays thumbnail images as tall as one line of text STRING_VIDEO_OR_MAPDisplay a video or map thumbnail",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "graphPredicate": {
          "description": "Column graph predicate.\nUsed to map table to graph data model (subject,predicate,object)\nSee W3C Graph-based Data Model.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of item this is. For a column, this is always fusiontables#column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Name of the column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Type of the column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "validValues": {
          "description": "List of valid values used to validate data and supply a drop-down list of values in the web application.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "validateData": {
          "description": "If true, data entered via the web application is validated.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ColumnList": {
      "id": "ColumnList",
      "description": "Represents a list of columns in a table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "List of all requested columns.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Column"
          }
        },
        "kind": {
          "description": "The kind of item this is. For a column list, this is always fusiontables#columnList.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "Total number of columns for the table.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Geometry": {
      "id": "Geometry",
      "description": "Represents a Geometry object.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "geometries": {
          "description": "The list of geometries in this geometry collection.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "geometry": {
          "description": null,
          "type": "any",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Type: A collection of geometries.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Import": {
      "id": "Import",
      "description": "Represents an import request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "The kind of item this is. For an import, this is always fusiontables#import.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "numRowsReceived": {
          "description": "The number of rows received from the import request.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Line": {
      "id": "Line",
      "description": "Represents a line geometry.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "coordinates": {
          "description": "The coordinates that define the line.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "array",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": {
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          }
        },
        "type": {
          "description": "Type: A line geometry.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "LineStyle": {
      "id": "LineStyle",
      "description": "Represents a LineStyle within a StyleSetting",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "strokeColor": {
          "description": "Color of the line in #RRGGBB format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeColorStyler": {
          "description": "Column-value, gradient or buckets styler that is used to determine the line color and opacity.",
          "$ref": "StyleFunction"
        },
        "strokeOpacity": {
          "description": "Opacity of the line : 0.0 (transparent) to 1.0 (opaque).",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeWeight": {
          "description": "Width of the line in pixels.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeWeightStyler": {
          "description": "Column-value or bucket styler that is used to determine the width of the line.",
          "$ref": "StyleFunction"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Point": {
      "id": "Point",
      "description": "Represents a point object.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "coordinates": {
          "description": "The coordinates that define the point.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "number",
            "format": "double",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "type": {
          "description": "Point: A point geometry.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PointStyle": {
      "id": "PointStyle",
      "description": "Represents a PointStyle within a StyleSetting",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "iconName": {
          "description": "Name of the icon. Use values defined in http://www.google.com/fusiontables/DataSource?dsrcid=308519",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "iconStyler": {
          "description": "Column or a bucket value from which the icon name is to be determined.",
          "$ref": "StyleFunction"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Polygon": {
      "id": "Polygon",
      "description": "Represents a polygon object.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "coordinates": {
          "description": "The coordinates that define the polygon.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "array",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": {
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "number",
                "format": "double",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            }
          }
        },
        "type": {
          "description": "Type: A polygon geometry.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PolygonStyle": {
      "id": "PolygonStyle",
      "description": "Represents a PolygonStyle within a StyleSetting",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fillColor": {
          "description": "Color of the interior of the polygon in #RRGGBB format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "fillColorStyler": {
          "description": "Column-value, gradient, or bucket styler that is used to determine the interior color and opacity of the polygon.",
          "$ref": "StyleFunction"
        },
        "fillOpacity": {
          "description": "Opacity of the interior of the polygon: 0.0 (transparent) to 1.0 (opaque).",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeColor": {
          "description": "Color of the polygon border in #RRGGBB format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeColorStyler": {
          "description": "Column-value, gradient or buckets styler that is used to determine the border color and opacity.",
          "$ref": "StyleFunction"
        },
        "strokeOpacity": {
          "description": "Opacity of the polygon border: 0.0 (transparent) to 1.0 (opaque).",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeWeight": {
          "description": "Width of the polyon border in pixels.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "strokeWeightStyler": {
          "description": "Column-value or bucket styler that is used to determine the width of the polygon border.",
          "$ref": "StyleFunction"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Sqlresponse": {
      "id": "Sqlresponse",
      "description": "Represents a response to a SQL statement.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "columns": {
          "description": "Columns in the table.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "The kind of item this is. For responses to SQL queries, this is always fusiontables#sqlresponse.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rows": {
          "description": "The rows in the table. For each cell we print out whatever cell value (e.g., numeric, string) exists. Thus it is important that each cell contains only one value.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "array",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": {
              "type": "any",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "StyleFunction": {
      "id": "StyleFunction",
      "description": "Represents a StyleFunction within a StyleSetting",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "buckets": {
          "description": "Bucket function that assigns a style based on the range a column value falls into.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Bucket"
          }
        },
        "columnName": {
          "description": "Name of the column whose value is used in the style.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "gradient": {
          "description": "Gradient function that interpolates a range of colors based on column value.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "colors": {
              "description": "Array with two or more colors.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "object",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {
                  "color": {
                    "description": "Color in #RRGGBB format.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "opacity": {
                    "description": "Opacity of the color: 0.0 (transparent) to 1.0 (opaque).",
                    "type": "number",
                    "format": "double",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  }
                },
                "additionalProperties": null,
                "items": null
              }
            },
            "max": {
              "description": "Higher-end of the interpolation range: rows with this value will be assigned to colors[n-1].",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "min": {
              "description": "Lower-end of the interpolation range: rows with this value will be assigned to colors[0].",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Stylers can be one of three kinds: \"fusiontables#fromColumn if the column value is to be used as is, i.e., the column values can have colors in #RRGGBBAA format or integer line widths or icon names; fusiontables#gradient if the styling of the row is to be based on applying the gradient function on the column value; or fusiontables#buckets if the styling is to based on the bucket into which the the column value falls.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "StyleSetting": {
      "id": "StyleSetting",
      "description": "Represents a complete StyleSettings object. The primary key is a combination of the tableId and a styleId.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "The kind of item this is. A StyleSetting contains the style definitions for points, lines, and polygons in a table. Since a table can have any one or all of them, a style definition can have point, line and polygon style definitions.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "markerOptions": {
          "description": "Style definition for points in the table.",
          "$ref": "PointStyle"
        },
        "name": {
          "description": "Optional name for the style setting.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "polygonOptions": {
          "description": "Style definition for polygons in the table.",
          "$ref": "PolygonStyle"
        },
        "polylineOptions": {
          "description": "Style definition for lines in the table.",
          "$ref": "LineStyle"
        },
        "styleId": {
          "description": "Identifier for the style setting (unique only within tables).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tableId": {
          "description": "Identifier for the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "StyleSettingList": {
      "id": "StyleSettingList",
      "description": "Represents a list of styles for a given table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "All requested style settings.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "StyleSetting"
          }
        },
        "kind": {
          "description": "The kind of item this is. For a style list, this is always fusiontables#styleSettingList .",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. No token is displayed if there are no more styles left.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "Total number of styles for the table.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Table": {
      "id": "Table",
      "description": "Represents a table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "attribution": {
          "description": "Attribution assigned to the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "attributionLink": {
          "description": "Optional link for attribution.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "baseTableIds": {
          "description": "Base table identifier if this table is a view or merged table.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "columnPropertiesJsonSchema": {
          "description": "Default JSON schema for validating all JSON column properties.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "columns": {
          "description": "Columns in the table.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Column"
          }
        },
        "description": {
          "description": "Description assigned to the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isExportable": {
          "description": "Variable for whether table is exportable.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of item this is. For a table, this is always fusiontables#table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Name assigned to a table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "sql": {
          "description": "SQL that encodes the table definition for derived tables.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tableId": {
          "description": "Encrypted unique alphanumeric identifier for the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tablePropertiesJson": {
          "description": "JSON object containing custom table properties.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tablePropertiesJsonSchema": {
          "description": "JSON schema for validating the JSON table properties.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "TableList": {
      "id": "TableList",
      "description": "Represents a list of tables.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "List of all requested tables.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Table"
          }
        },
        "kind": {
          "description": "The kind of item this is. For table list, this is always fusiontables#tableList.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Task": {
      "id": "Task",
      "description": "A background task on a table, initiated for time- or resource-consuming operations such as changing column types or deleting all rows.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Type of the resource. This is always \"fusiontables#task\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "progress": {
          "description": "Task percentage completion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "started": {
          "description": "false while the table is busy with some other task. true if this background task is currently running.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "taskId": {
          "description": "Identifier for the task.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Type of background task.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "TaskList": {
      "id": "TaskList",
      "description": "Represents a list of tasks for a table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "List of all requested tasks.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Task"
          }
        },
        "kind": {
          "description": "Type of the resource. This is always \"fusiontables#taskList\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "Total number of tasks for the table.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Template": {
      "id": "Template",
      "description": "Represents the contents of InfoWindow templates.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "automaticColumnNames": {
          "description": "List of columns from which the template is to be automatically constructed. Only one of body or automaticColumns can be specified.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "body": {
          "description": "Body of the template. It contains HTML with {column_name} to insert values from a particular column. The body is sanitized to remove certain tags, e.g., script. Only one of body or automaticColumns can be specified.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of item this is. For a template, this is always fusiontables#template.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Optional name assigned to a template.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tableId": {
          "description": "Identifier for the table for which the template is defined.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "templateId": {
          "description": "Identifier for the template, unique within the context of a particular table.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "TemplateList": {
      "id": "TemplateList",
      "description": "Represents a list of templates for a given table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "List of all requested templates.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Template"
          }
        },
        "kind": {
          "description": "The kind of item this is. For a template list, this is always fusiontables#templateList .",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. No token is displayed if there are no more pages left.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "Total number of templates for the table.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "column": {
      "resources": {},
      "methods": {
        "delete": {
          "id": "fusiontables.column.delete",
          "path": "tables/{tableId}/columns/{columnId}",
          "httpMethod": "DELETE",
          "description": "Deletes the specified column.",
          "parameters": {
            "columnId": {
              "description": "Name or identifier for the column being deleted.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table from which the column is being deleted.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "columnId"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "get": {
          "id": "fusiontables.column.get",
          "path": "tables/{tableId}/columns/{columnId}",
          "httpMethod": "GET",
          "description": "Retrieves a specific column by its ID.",
          "parameters": {
            "columnId": {
              "description": "Name or identifier for the column that is being requested.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table to which the column belongs.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "columnId"
          ],
          "request": null,
          "response": {
            "$ref": "Column"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "insert": {
          "id": "fusiontables.column.insert",
          "path": "tables/{tableId}/columns",
          "httpMethod": "POST",
          "description": "Adds a new column to the table.",
          "parameters": {
            "tableId": {
              "description": "Table for which a new column is being added.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": {
            "$ref": "Column"
          },
          "response": {
            "$ref": "Column"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "fusiontables.column.list",
          "path": "tables/{tableId}/columns",
          "httpMethod": "GET",
          "description": "Retrieves a list of columns.",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of columns to return. Default is 5.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token specifying which result page to return.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table whose columns are being listed.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "ColumnList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "patch": {
          "id": "fusiontables.column.patch",
          "path": "tables/{tableId}/columns/{columnId}",
          "httpMethod": "PATCH",
          "description": "Updates the name or type of an existing column. This method supports patch semantics.",
          "parameters": {
            "columnId": {
              "description": "Name or identifier for the column that is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table for which the column is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "columnId"
          ],
          "request": {
            "$ref": "Column"
          },
          "response": {
            "$ref": "Column"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "update": {
          "id": "fusiontables.column.update",
          "path": "tables/{tableId}/columns/{columnId}",
          "httpMethod": "PUT",
          "description": "Updates the name or type of an existing column.",
          "parameters": {
            "columnId": {
              "description": "Name or identifier for the column that is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table for which the column is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "columnId"
          ],
          "request": {
            "$ref": "Column"
          },
          "response": {
            "$ref": "Column"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "query": {
      "resources": {},
      "methods": {
        "sql": {
          "id": "fusiontables.query.sql",
          "path": "query",
          "httpMethod": "POST",
          "description": "Executes a Fusion Tables SQL statement, which can be any of \n- SELECT\n- INSERT\n- UPDATE\n- DELETE\n- SHOW\n- DESCRIBE\n- CREATE statement.",
          "parameters": {
            "hdrs": {
              "description": "Whether column names are included in the first row. Default is true.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "sql": {
              "description": "A Fusion Tables SQL statement, which can be any of \n- SELECT\n- INSERT\n- UPDATE\n- DELETE\n- SHOW\n- DESCRIBE\n- CREATE",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "typed": {
              "description": "Whether typed values are returned in the (JSON) response: numbers for numeric values and parsed geometries for KML values. Default is true.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "sql"
          ],
          "request": null,
          "response": {
            "$ref": "Sqlresponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "sqlGet": {
          "id": "fusiontables.query.sqlGet",
          "path": "query",
          "httpMethod": "GET",
          "description": "Executes a SQL statement which can be any of \n- SELECT\n- SHOW\n- DESCRIBE",
          "parameters": {
            "hdrs": {
              "description": "Whether column names are included (in the first row). Default is true.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "sql": {
              "description": "A SQL statement which can be any of \n- SELECT\n- SHOW\n- DESCRIBE",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "typed": {
              "description": "Whether typed values are returned in the (JSON) response: numbers for numeric values and parsed geometries for KML values. Default is true.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "sql"
          ],
          "request": null,
          "response": {
            "$ref": "Sqlresponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "style": {
      "resources": {},
      "methods": {
        "delete": {
          "id": "fusiontables.style.delete",
          "path": "tables/{tableId}/styles/{styleId}",
          "httpMethod": "DELETE",
          "description": "Deletes a style.",
          "parameters": {
            "styleId": {
              "description": "Identifier (within a table) for the style being deleted",
              "default": null,
              "location": "path",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table from which the style is being deleted",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "styleId"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "get": {
          "id": "fusiontables.style.get",
          "path": "tables/{tableId}/styles/{styleId}",
          "httpMethod": "GET",
          "description": "Gets a specific style.",
          "parameters": {
            "styleId": {
              "description": "Identifier (integer) for a specific style in a table",
              "default": null,
              "location": "path",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table to which the requested style belongs",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "styleId"
          ],
          "request": null,
          "response": {
            "$ref": "StyleSetting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "insert": {
          "id": "fusiontables.style.insert",
          "path": "tables/{tableId}/styles",
          "httpMethod": "POST",
          "description": "Adds a new style for the table.",
          "parameters": {
            "tableId": {
              "description": "Table for which a new style is being added",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": {
            "$ref": "StyleSetting"
          },
          "response": {
            "$ref": "StyleSetting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "fusiontables.style.list",
          "path": "tables/{tableId}/styles",
          "httpMethod": "GET",
          "description": "Retrieves a list of styles.",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of styles to return. Optional. Default is 5.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token specifying which result page to return. Optional.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table whose styles are being listed",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "StyleSettingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "patch": {
          "id": "fusiontables.style.patch",
          "path": "tables/{tableId}/styles/{styleId}",
          "httpMethod": "PATCH",
          "description": "Updates an existing style. This method supports patch semantics.",
          "parameters": {
            "styleId": {
              "description": "Identifier (within a table) for the style being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table whose style is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "styleId"
          ],
          "request": {
            "$ref": "StyleSetting"
          },
          "response": {
            "$ref": "StyleSetting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "update": {
          "id": "fusiontables.style.update",
          "path": "tables/{tableId}/styles/{styleId}",
          "httpMethod": "PUT",
          "description": "Updates an existing style.",
          "parameters": {
            "styleId": {
              "description": "Identifier (within a table) for the style being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table whose style is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId",
            "styleId"
          ],
          "request": {
            "$ref": "StyleSetting"
          },
          "response": {
            "$ref": "StyleSetting"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "table": {
      "resources": {},
      "methods": {
        "copy": {
          "id": "fusiontables.table.copy",
          "path": "tables/{tableId}/copy",
          "httpMethod": "POST",
          "description": "Copies a table.",
          "parameters": {
            "copyPresentation": {
              "description": "Whether to also copy tabs, styles, and templates. Default is false.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "ID of the table that is being copied.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "delete": {
          "id": "fusiontables.table.delete",
          "path": "tables/{tableId}",
          "httpMethod": "DELETE",
          "description": "Deletes a table.",
          "parameters": {
            "tableId": {
              "description": "ID of the table to be deleted.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "get": {
          "id": "fusiontables.table.get",
          "path": "tables/{tableId}",
          "httpMethod": "GET",
          "description": "Retrieves a specific table by its ID.",
          "parameters": {
            "tableId": {
              "description": "Identifier for the table being requested.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "importRows": {
          "id": "fusiontables.table.importRows",
          "path": "tables/{tableId}/import",
          "httpMethod": "POST",
          "description": "Imports more rows into a table.",
          "parameters": {
            "delimiter": {
              "description": "The delimiter used to separate cell values. This can only consist of a single character. Default is ,.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "encoding": {
              "description": "The encoding of the content. Default is UTF-8. Use auto-detect if you are unsure of the encoding.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "endLine": {
              "description": "The index of the line up to which data will be imported. Default is to import the entire file. If endLine is negative, it is an offset from the end of the file; the imported content will exclude the last endLine lines.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "isStrict": {
              "description": "Whether the imported CSV must have the same number of values for each row. If false, rows with fewer values will be padded with empty values. Default is true.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startLine": {
              "description": "The index of the first line from which to start importing, inclusive. Default is 0.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "The table into which new rows are being imported.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "Import"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "250MB",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/fusiontables/v2/tables/{tableId}/import"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/fusiontables/v2/tables/{tableId}/import"
              }
            }
          }
        },
        "importTable": {
          "id": "fusiontables.table.importTable",
          "path": "tables/import",
          "httpMethod": "POST",
          "description": "Imports a new table.",
          "parameters": {
            "delimiter": {
              "description": "The delimiter used to separate cell values. This can only consist of a single character. Default is ,.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "encoding": {
              "description": "The encoding of the content. Default is UTF-8. Use auto-detect if you are unsure of the encoding.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "name": {
              "description": "The name to be assigned to the new table.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": null,
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "250MB",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/fusiontables/v2/tables/import"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/fusiontables/v2/tables/import"
              }
            }
          }
        },
        "insert": {
          "id": "fusiontables.table.insert",
          "path": "tables",
          "httpMethod": "POST",
          "description": "Creates a new table.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "fusiontables.table.list",
          "path": "tables",
          "httpMethod": "GET",
          "description": "Retrieves a list of tables a user owns.",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of tables to return. Default is 5.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token specifying which result page to return.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [],
          "request": null,
          "response": {
            "$ref": "TableList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables",
            "https://www.googleapis.com/auth/fusiontables.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "patch": {
          "id": "fusiontables.table.patch",
          "path": "tables/{tableId}",
          "httpMethod": "PATCH",
          "description": "Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated. This method supports patch semantics.",
          "parameters": {
            "replaceViewDefinition": {
              "description": "Whether the view definition is also updated. The specified view definition replaces the existing one. Only a view can be updated with a new definition.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "ID of the table that is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "refetchSheet": {
          "id": "fusiontables.table.refetchSheet",
          "path": "tables/{tableId}/refetch",
          "httpMethod": "POST",
          "description": "Replaces rows of the table with the rows of the spreadsheet that is first imported from. Current rows remain visible until all replacement rows are ready.",
          "parameters": {
            "tableId": {
              "description": "Table whose rows will be replaced from the spreadsheet.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "replaceRows": {
          "id": "fusiontables.table.replaceRows",
          "path": "tables/{tableId}/replace",
          "httpMethod": "POST",
          "description": "Replaces rows of an existing table. Current rows remain visible until all replacement rows are ready.",
          "parameters": {
            "delimiter": {
              "description": "The delimiter used to separate cell values. This can only consist of a single character. Default is ,.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "encoding": {
              "description": "The encoding of the content. Default is UTF-8. Use 'auto-detect' if you are unsure of the encoding.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "endLine": {
              "description": "The index of the line up to which data will be imported. Default is to import the entire file. If endLine is negative, it is an offset from the end of the file; the imported content will exclude the last endLine lines.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "isStrict": {
              "description": "Whether the imported CSV must have the same number of column values for each row. If true, throws an exception if the CSV does not have the same number of columns. If false, rows with fewer column values will be padded with empty values. Default is true.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startLine": {
              "description": "The index of the first line from which to start importing, inclusive. Default is 0.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "Table whose rows will be replaced.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": null,
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "250MB",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/fusiontables/v2/tables/{tableId}/replace"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/fusiontables/v2/tables/{tableId}/replace"
              }
            }
          }
        },
        "update": {
          "id": "fusiontables.table.update",
          "path": "tables/{tableId}",
          "httpMethod": "PUT",
          "description": "Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated.",
          "parameters": {
            "replaceViewDefinition": {
              "description": "Whether the view definition is also updated. The specified view definition replaces the existing one. Only a view can be updated with a new definition.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "tableId": {
              "description": "ID of the table that is being updated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "tableId"
          ],
          "request": {
            "$ref": "Table"
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/fusiontables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "task": {
      "resources": {},
      "methods": {
        "delete": {
          "id": "fusiontables.task.delete",
          "path": "tables/{tableId}/tasks/{taskId}",
          "httpMethod": "DELETE",
          "description": "Deletes a specific task by its ID, unless that task has already started running.",
          "parameters": {
            "tableId": {
              "description": "Table from which the task is being deleted.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "taskId": {
              "description": "The identifier of the task to delete.",
              "default": null,
              "location": "path",
[...]
