{
  "kind": "discovery#restDescription",
  "etag": "\"LYADMvHWYH2ul9D6m9UT9gT77YM/zeFiTF7dFzipBcUZ7HKiIsW5EE0\"",
  "discoveryVersion": "v1",
  "id": "blogger:v3",
  "name": "blogger",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v3",
  "revision": "20150422",
  "title": "Blogger API",
  "description": "API for access to the data within Blogger.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/blogger-16.png",
    "x32": "https://www.google.com/images/icons/product/blogger-32.png"
  },
  "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/blogger/v3/",
  "basePath": "/blogger/v3/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "blogger/v3/",
  "batchPath": "batch/blogger/v3",
  "version_module": null,
  "packagePath": null,
  "labels": [
    "limited_availability"
  ],
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/blogger": {
          "description": "Manage your Blogger account"
        },
        "https://www.googleapis.com/auth/blogger.readonly": {
          "description": "View your Blogger account"
        }
      }
    }
  },
  "schemas": {
    "Blog": {
      "id": "Blog",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "customMetaData": {
          "description": "The JSON custom meta-data for the Blog",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "The description of this blog. This is displayed underneath the title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#blog",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "locale": {
          "description": "The locale this Blog is set to.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "country": {
              "description": "The country this blog's locale is set to.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "language": {
              "description": "The language this blog is authored in.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "variant": {
              "description": "The language variant this blog is authored in.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The name of this blog. This is displayed as the title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pages": {
          "description": "The container of pages in this blog.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "selfLink": {
              "description": "The URL of the container for pages in this blog.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalItems": {
              "description": "The count of pages in this blog.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "posts": {
          "description": "The container of posts in this blog.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "items": {
              "description": "The List of Posts for this Blog.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "$ref": "Post"
              }
            },
            "selfLink": {
              "description": "The URL of the container for posts in this blog.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalItems": {
              "description": "The count of posts in this blog.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this blog was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "The status of the blog.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this blog was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL where this blog is published.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BlogList": {
      "id": "BlogList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blogUserInfos": {
          "description": "Admin level list of blog per-user information",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "BlogUserInfo"
          }
        },
        "items": {
          "description": "The list of Blogs this user has Authorship or Admin rights over.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Blog"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BlogPerUserInfo": {
      "id": "BlogPerUserInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blogId": {
          "description": "ID of the Blog resource",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hasAdminAccess": {
          "description": "True if the user has Admin level access to the blog.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogPerUserInfo",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "photosAlbumKey": {
          "description": "The Photo Album Key for the user when adding photos to the blog",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "role": {
          "description": "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userId": {
          "description": "ID of the User",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BlogUserInfo": {
      "id": "BlogUserInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blog": {
          "description": "The Blog resource.",
          "$ref": "Blog"
        },
        "blog_user_info": {
          "description": "Information about a User for the Blog.",
          "$ref": "BlogPerUserInfo"
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogUserInfo",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Comment": {
      "id": "Comment",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of this Comment.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "id": {
              "description": "The identifier of the Comment creator.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "image": {
              "description": "The comment creator's avatar.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "url": {
                  "description": "The comment creator's avatar URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The URL of the Comment creator's Profile page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "blog": {
          "description": "Data about the blog containing this comment.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the blog containing this comment.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "content": {
          "description": "The actual content of the comment. May include HTML markup.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inReplyTo": {
          "description": "Data about the comment this is in reply to.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identified of the parent of this comment.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#comment",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "post": {
          "description": "Data about the post containing this comment.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the post containing this comment.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this comment was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "The status of the comment (only populated for admin users)",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this comment was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CommentList": {
      "id": "CommentList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of the response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The List of Comments for a Post.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#commentList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "prevPageToken": {
          "description": "Pagination token to fetch the previous page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Page": {
      "id": "Page",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of this Page.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "id": {
              "description": "The identifier of the Page creator.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "image": {
              "description": "The page author's avatar.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "url": {
                  "description": "The page author's avatar URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The URL of the Page creator's Profile page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "blog": {
          "description": "Data about the blog containing this Page.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the blog containing this page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "content": {
          "description": "The body content of this Page, in HTML.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#page",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this Page was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "The status of the page for admin resources (either LIVE or DRAFT).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The title of this entity. This is the name displayed in the Admin user interface.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this Page was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL that this Page is displayed at.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PageList": {
      "id": "PageList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of the response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The list of Pages for a Blog.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Page"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#pageList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Pageviews": {
      "id": "Pageviews",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blogId": {
          "description": "Blog Id",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "counts": {
          "description": "The container of posts in this blog.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "count": {
                "description": "Count of page views for the given time range",
                "type": "string",
                "format": "int64",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "timeRange": {
                "description": "Time range the given count applies to",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#page_views",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Post": {
      "id": "Post",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of this Post.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "id": {
              "description": "The identifier of the Post creator.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "image": {
              "description": "The Post author's avatar.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "url": {
                  "description": "The Post author's avatar URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The URL of the Post creator's Profile page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "blog": {
          "description": "Data about the blog containing this Post.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the Blog that contains this Post.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "content": {
          "description": "The content of the Post. May contain HTML markup.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "customMetaData": {
          "description": "The JSON meta-data for the Post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier of this Post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "images": {
          "description": "Display image for the Post.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "url": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#post",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labels": {
          "description": "The list of labels this Post was tagged with.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "location": {
          "description": "The location for geotagged posts.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "lat": {
              "description": "Location's latitude.",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "lng": {
              "description": "Location's longitude.",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "name": {
              "description": "Location name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "span": {
              "description": "Location's viewport span. Can be used when rendering a map preview.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this Post was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "readerComments": {
          "description": "Comment control and display setting for readers of this post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "replies": {
          "description": "The container of comments on this Post.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "items": {
              "description": "The List of Comments for this Post.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "$ref": "Comment"
              }
            },
            "selfLink": {
              "description": "The URL of the comments on this post.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalItems": {
              "description": "The count of comments on this post.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "Status of the post. Only set for admin-level requests",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The title of the Post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "titleLink": {
          "description": "The title link URL, similar to atom's related link.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this Post was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL where this Post is displayed.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PostList": {
      "id": "PostList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of the response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "The list of Posts for this Blog.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Post"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#postList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PostPerUserInfo": {
      "id": "PostPerUserInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blogId": {
          "description": "ID of the Blog that the post resource belongs to.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hasEditAccess": {
          "description": "True if the user has Author level access to the post.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#postPerUserInfo",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "postId": {
          "description": "ID of the Post resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userId": {
          "description": "ID of the User.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PostUserInfo": {
      "id": "PostUserInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "The kind of this entity. Always blogger#postUserInfo",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "post": {
          "description": "The Post resource.",
          "$ref": "Post"
        },
        "post_user_info": {
          "description": "Information about a User for the Post.",
          "$ref": "PostPerUserInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PostUserInfosList": {
      "id": "PostUserInfosList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The list of Posts with User information for the post, for this Blog.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "PostUserInfo"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#postList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "User": {
      "id": "User",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "about": {
          "description": "Profile summary information.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "blogs": {
          "description": "The container of blogs for this user.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "selfLink": {
              "description": "The URL of the Blogs for this user.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "created": {
          "description": "The timestamp of when this profile was created, in seconds since epoch.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "The display name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this User.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#user",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "locale": {
          "description": "This user's locale",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "country": {
              "description": "The user's country setting.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "language": {
              "description": "The user's language setting.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "variant": {
              "description": "The user's language variant setting.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The user's profile page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "blogUserInfos": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.blogUserInfos.get",
          "path": "users/{userId}/blogs/{blogId}",
          "httpMethod": "GET",
          "description": "Gets one blog and user info pair by blogId and userId.",
          "parameters": {
            "blogId": {
              "description": "The ID of the blog to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxPosts": {
              "description": "Maximum number of posts to pull back with the blog.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "userId": {
              "description": "ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "userId",
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "BlogUserInfo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "blogs": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.blogs.get",
          "path": "blogs/{blogId}",
          "httpMethod": "GET",
          "description": "Gets one blog by ID.",
          "parameters": {
            "blogId": {
              "description": "The ID of the blog to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxPosts": {
              "description": "Maximum number of posts to pull back with the blog.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "view": {
              "description": "Access level with which to view the blog. Note that some fields require elevated access.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail.",
                "Author level detail.",
                "Reader level detail."
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "Blog"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "getByUrl": {
          "id": "blogger.blogs.getByUrl",
          "path": "blogs/byurl",
          "httpMethod": "GET",
          "description": "Retrieve a Blog by URL.",
          "parameters": {
            "url": {
              "description": "The URL of the blog to retrieve.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "view": {
              "description": "Access level with which to view the blog. Note that some fields require elevated access.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail.",
                "Author level detail.",
                "Reader level detail."
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "url"
          ],
          "request": null,
          "response": {
            "$ref": "Blog"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "listByUser": {
          "id": "blogger.blogs.listByUser",
          "path": "users/{userId}/blogs",
          "httpMethod": "GET",
          "description": "Retrieves a list of blogs, possibly filtered.",
          "parameters": {
            "fetchUserInfo": {
              "description": "Whether the response is a list of blogs with per-user information instead of just blogs.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "role": {
              "description": "User access types for blogs to include in the results, e.g. AUTHOR will return blogs where the user has author level access. If no roles are specified, defaults to ADMIN and AUTHOR roles.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin role - Blogs where the user has Admin level access.",
                "Author role - Blogs where the user has Author level access.",
                "Reader role - Blogs where the user has Reader level access (to a private blog)."
              ],
              "repeated": true
            },
            "status": {
              "description": "Blog statuses to include in the result (default: Live blogs only). Note that ADMIN access is required to view deleted blogs.",
              "default": "LIVE",
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "DELETED",
                "LIVE"
              ],
              "enumDescriptions": [
                "Blog has been deleted by an administrator.",
                "Blog is currently live."
              ],
              "repeated": true
            },
            "userId": {
              "description": "ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "view": {
              "description": "Access level with which to view the blogs. Note that some fields require elevated access.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail.",
                "Author level detail.",
                "Reader level detail."
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "request": null,
          "response": {
            "$ref": "BlogList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "comments": {
      "resources": {},
      "methods": {
        "approve": {
          "id": "blogger.comments.approve",
          "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}/approve",
          "httpMethod": "POST",
          "description": "Marks a comment as not spam.",
          "parameters": {
            "blogId": {
              "description": "The ID of the Blog.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "commentId": {
              "description": "The ID of the comment to mark as not spam.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "The ID of the Post.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "request": null,
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "delete": {
          "id": "blogger.comments.delete",
          "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "description": "Delete a comment by ID.",
          "parameters": {
            "blogId": {
              "description": "The ID of the Blog.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "commentId": {
              "description": "The ID of the comment to delete.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "The ID of the Post.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "get": {
          "id": "blogger.comments.get",
          "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "httpMethod": "GET",
          "description": "Gets one comment by ID.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to containing the comment.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "commentId": {
              "description": "The ID of the comment to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "ID of the post to fetch posts from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "view": {
              "description": "Access level for the requested comment (default: READER). Note that some comments will require elevated permissions, for example comments where the parent posts which is in a draft state, or comments that are pending moderation.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail",
                "Author level detail",
                "Admin level detail"
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "request": null,
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "blogger.comments.list",
          "path": "blogs/{blogId}/posts/{postId}/comments",
          "httpMethod": "GET",
          "description": "Retrieves the comments for a post, possibly filtered.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch comments from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "endDate": {
              "description": "Latest date of comment to fetch, a date-time with RFC 3339 formatting.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "date-time",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "fetchBodies": {
              "description": "Whether the body content of the comments is included.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxResults": {
              "description": "Maximum number of comments to include in the result.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token if request is paged.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "ID of the post to fetch posts from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startDate": {
              "description": "Earliest date of comment to fetch, a date-time with RFC 3339 formatting.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "date-time",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "status": {
              "description": null,
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "emptied",
                "live",
                "pending",
                "spam"
              ],
              "enumDescriptions": [
                "Comments that have had their content removed",
                "Comments that are publicly visible",
                "Comments that are awaiting administrator approval",
                "Comments marked as spam by the administrator"
              ],
              "repeated": true
            },
            "view": {
              "description": "Access level with which to view the returned result. Note that some fields require elevated access.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail",
                "Author level detail",
                "Reader level detail"
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "request": null,
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "listByBlog": {
          "id": "blogger.comments.listByBlog",
          "path": "blogs/{blogId}/comments",
          "httpMethod": "GET",
          "description": "Retrieves the comments for a blog, across all posts, possibly filtered.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch comments from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "endDate": {
              "description": "Latest date of comment to fetch, a date-time with RFC 3339 formatting.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "date-time",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "fetchBodies": {
              "description": "Whether the body content of the comments is included.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxResults": {
              "description": "Maximum number of comments to include in the result.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token if request is paged.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startDate": {
              "description": "Earliest date of comment to fetch, a date-time with RFC 3339 formatting.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "date-time",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "status": {
              "description": null,
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "emptied",
                "live",
                "pending",
                "spam"
              ],
              "enumDescriptions": [
                "Comments that have had their content removed",
                "Comments that are publicly visible",
                "Comments that are awaiting administrator approval",
                "Comments marked as spam by the administrator"
              ],
              "repeated": true
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "markAsSpam": {
          "id": "blogger.comments.markAsSpam",
          "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}/spam",
          "httpMethod": "POST",
          "description": "Marks a comment as spam.",
          "parameters": {
            "blogId": {
              "description": "The ID of the Blog.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "commentId": {
              "description": "The ID of the comment to mark as spam.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "The ID of the Post.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "request": null,
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "removeContent": {
          "id": "blogger.comments.removeContent",
          "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent",
          "httpMethod": "POST",
          "description": "Removes the content of a comment.",
          "parameters": {
            "blogId": {
              "description": "The ID of the Blog.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "commentId": {
              "description": "The ID of the comment to delete content from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "The ID of the Post.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "request": null,
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "pageViews": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.pageViews.get",
          "path": "blogs/{blogId}/pageviews",
          "httpMethod": "GET",
          "description": "Retrieve pageview stats for a Blog.",
          "parameters": {
            "blogId": {
              "description": "The ID of the blog to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "range": {
              "description": null,
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "30DAYS",
                "7DAYS",
                "all"
              ],
              "enumDescriptions": [
                "Page view counts from the last thirty days.",
                "Page view counts from the last seven days.",
                "Total page view counts from all time."
              ],
              "repeated": true
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "Pageviews"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "pages": {
      "resources": {},
      "methods": {
        "delete": {
          "id": "blogger.pages.delete",
          "path": "blogs/{blogId}/pages/{pageId}",
          "httpMethod": "DELETE",
          "description": "Delete a page by ID.",
          "parameters": {
            "blogId": {
              "description": "The ID of the Blog.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageId": {
              "description": "The ID of the Page.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "get": {
          "id": "blogger.pages.get",
          "path": "blogs/{blogId}/pages/{pageId}",
          "httpMethod": "GET",
          "description": "Gets one blog page by ID.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog containing the page.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageId": {
              "description": "The ID of the page to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "view": {
              "description": null,
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail",
                "Author level detail",
                "Reader level detail"
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "request": null,
          "response": {
            "$ref": "Page"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "insert": {
          "id": "blogger.pages.insert",
          "path": "blogs/{blogId}/pages",
          "httpMethod": "POST",
          "description": "Add a page.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to add the page to.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "isDraft": {
              "description": "Whether to create the page as a draft (default: false).",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": {
            "$ref": "Page"
          },
          "response": {
            "$ref": "Page"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "blogger.pages.list",
          "path": "blogs/{blogId}/pages",
          "httpMethod": "GET",
          "description": "Retrieves the pages for a blog, optionally including non-LIVE statuses.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch Pages from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "fetchBodies": {
              "description": "Whether to retrieve the Page bodies.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxResults": {
              "description": "Maximum number of Pages to fetch.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token if the request is paged.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "status": {
              "description": null,
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "draft",
                "live"
              ],
              "enumDescriptions": [
                "Draft (unpublished) Pages",
                "Pages that are publicly visible"
              ],
              "repeated": true
            },
            "view": {
              "description": "Access level with which to view the returned result. Note that some fields require elevated access.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [
                "ADMIN",
                "AUTHOR",
                "READER"
              ],
              "enumDescriptions": [
                "Admin level detail",
                "Author level detail",
                "Reader level detail"
              ],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "PageList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger",
            "https://www.googleapis.com/auth/blogger.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "patch": {
          "id": "blogger.pages.patch",
          "path": "blogs/{blogId}/pages/{pageId}",
          "httpMethod": "PATCH",
          "description": "Update a page. This method supports patch semantics.",
          "parameters": {
            "blogId": {
              "description": "The ID of the Blog.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageId": {
              "description": "The ID of the Page.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "publish": {
              "description": "Whether a publish action should be performed when the page is updated (default: false).",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
[...]
