{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "androidenterprise:v1",
  "name": "androidenterprise",
  "canonicalName": "Android Enterprise",
  "fullyEncodeReservedExpansion": null,
  "version": "v1",
  "revision": "20200620",
  "title": "Google Play EMM API",
  "description": "Manages the deployment of apps to Android Enterprise devices.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/android/work/play/emm-api",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch/androidenterprise/v1",
  "version_module": null,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidenterprise": {
          "description": "Manage corporate Android devices"
        }
      }
    }
  },
  "schemas": {
    "Administrator": {
      "id": "Administrator",
      "description": "This represents an enterprise admin who can manage the enterprise\nin the managed Google Play store.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "email": {
          "description": "The admin's email address.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebToken": {
      "id": "AdministratorWebToken",
      "description": "A token authorizing an admin to access an iframe.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "token": {
          "description": "An opaque token to be passed to the Play front-end to generate an iframe.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebTokenSpec": {
      "id": "AdministratorWebTokenSpec",
      "description": "Specification for a token used to generate iframes. The token specifies\nwhat data the admin is allowed to modify and the URI the iframe is\nallowed to communiate with.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "managedConfigurations": {
          "description": "Options for displaying the Managed Configuration page.",
          "$ref": "AdministratorWebTokenSpecManagedConfigurations"
        },
        "parent": {
          "description": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe\nmay not be hosted at other URIs. This URI must be https.\nUse whitespaces to separate multiple parent URIs.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "permission": {
          "description": "Deprecated. Use <code>PlaySearch.approveApps</code>.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [
            "Unknown permission.",
            "Permission to approve and unapprove apps.",
            "Permission to manage app restrictions."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "UNKNOWN",
              "APPROVE_APPS",
              "MANAGE_MCM"
            ],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "playSearch": {
          "description": "Options for displaying the managed Play Search apps page.",
          "$ref": "AdministratorWebTokenSpecPlaySearch"
        },
        "privateApps": {
          "description": "Options for displaying the Private Apps page.",
          "$ref": "AdministratorWebTokenSpecPrivateApps"
        },
        "storeBuilder": {
          "description": "Options for displaying the Organize apps page.",
          "$ref": "AdministratorWebTokenSpecStoreBuilder"
        },
        "webApps": {
          "description": "Options for displaying the Web Apps page.",
          "$ref": "AdministratorWebTokenSpecWebApps"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebTokenSpecManagedConfigurations": {
      "id": "AdministratorWebTokenSpecManagedConfigurations",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enabled": {
          "description": "Whether the Managed Configuration page is displayed. Default is true.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebTokenSpecPlaySearch": {
      "id": "AdministratorWebTokenSpecPlaySearch",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "approveApps": {
          "description": "Allow access to the iframe in <a\nhref=\"https://developers.google.com/android/work/play/emm-api/managed-play-iframe#render\">approve\nmode</a>. Default is false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "enabled": {
          "description": "Whether the managed Play Search apps page is displayed. Default is true.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebTokenSpecPrivateApps": {
      "id": "AdministratorWebTokenSpecPrivateApps",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enabled": {
          "description": "Whether the Private Apps page is displayed. Default is true.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebTokenSpecStoreBuilder": {
      "id": "AdministratorWebTokenSpecStoreBuilder",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enabled": {
          "description": "Whether the Organize apps page is displayed. Default is true.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdministratorWebTokenSpecWebApps": {
      "id": "AdministratorWebTokenSpecWebApps",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enabled": {
          "description": "Whether the Web Apps page is displayed. Default is true.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppRestrictionsSchema": {
      "id": "AppRestrictionsSchema",
      "description": "Represents the list of app restrictions available to be pre-configured for\nthe product.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Deprecated.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "restrictions": {
          "description": "The set of restrictions that make up this schema.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppRestrictionsSchemaChangeEvent": {
      "id": "AppRestrictionsSchemaChangeEvent",
      "description": "An event generated when a new app version is uploaded to Google Play and its\napp restrictions schema changed.\nTo fetch the app restrictions schema for an app, use\nProducts.getAppRestrictionsSchema on the EMM API.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the\napp restriction schema changed. This field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppRestrictionsSchemaRestriction": {
      "id": "AppRestrictionsSchemaRestriction",
      "description": "A restriction in the App Restriction Schema represents a piece of\nconfiguration that may be pre-applied.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "defaultValue": {
          "description": "The default value of the restriction. <code>bundle</code> and\n<code>bundleArray</code> restrictions never have a default value.",
          "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue"
        },
        "description": {
          "description": "A longer description of the restriction, giving more detail of what it\naffects.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "entry": {
          "description": "For <code>choice</code> or <code>multiselect</code> restrictions, the list\nof possible entries' human-readable names.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "entryValue": {
          "description": "For <code>choice</code> or <code>multiselect</code> restrictions, the list\nof possible entries' machine-readable values. These values should be used\nin the configuration, either as a single <code>string</code> value for a\n<code>choice</code> restriction or in a <code>stringArray</code> for a\n<code>multiselect</code> restriction.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "key": {
          "description": "The unique key that the product uses to identify the restriction,\ne.g. \"com.google.android.gm.fieldname\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nestedRestriction": {
          "description": "For <code>bundle</code> or <code>bundleArray</code> restrictions, the list\nof nested restrictions. A <code>bundle</code> restriction is always nested\nwithin a <code>bundleArray</code> restriction, and a\n<code>bundleArray</code> restriction is at most two levels deep.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          }
        },
        "restrictionType": {
          "description": "The type of the restriction.",
          "type": "string",
          "format": null,
          "enum": [
            "BOOL",
            "STRING",
            "INTEGER",
            "CHOICE",
            "MULTISELECT",
            "HIDDEN",
            "BUNDLE",
            "BUNDLE_ARRAY"
          ],
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used\nto pass along information that cannot be modified, such as a version\ncode).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The name of the restriction.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppRestrictionsSchemaRestrictionRestrictionValue": {
      "id": "AppRestrictionsSchemaRestrictionRestrictionValue",
      "description": "A typed value for the restriction.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "type": {
          "description": "The type of the value being provided.",
          "type": "string",
          "format": null,
          "enum": [
            "BOOL",
            "STRING",
            "INTEGER",
            "CHOICE",
            "MULTISELECT",
            "HIDDEN",
            "BUNDLE",
            "BUNDLE_ARRAY"
          ],
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used\nto pass along information that cannot be modified, such as a version\ncode).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueBool": {
          "description": "The boolean value - this will only be present if type is bool.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueInteger": {
          "description": "The integer value - this will only be present if type is integer.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueMultiselect": {
          "description": "The list of string values - this will only be present if type is\nmultiselect.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "valueString": {
          "description": "The string value - this will be present for types string, choice and\nhidden.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppState": {
      "id": "AppState",
      "description": "List of states set by the app.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "keyedAppState": {
          "description": "List of keyed app states.\nThis field will always be present.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "KeyedAppState"
          }
        },
        "packageName": {
          "description": "The package name of the app.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppUpdateEvent": {
      "id": "AppUpdateEvent",
      "description": "An event generated when a new version of an app is uploaded to Google Play.\nNotifications are sent for new public versions only: alpha, beta, or canary\nversions do not generate this event. To fetch up-to-date version history for\nan app, use Products.Get on the EMM API.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") that was updated.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppVersion": {
      "id": "AppVersion",
      "description": "This represents a single version of the app.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "isProduction": {
          "description": "True if this version is a production APK.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "track": {
          "description": "Deprecated, use <code>trackId</code> instead.",
          "type": "string",
          "format": null,
          "enum": [
            "APP_TRACK_UNSPECIFIED",
            "PRODUCTION",
            "BETA",
            "ALPHA"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "trackId": {
          "description": "Track ids that the app version is published in. Replaces the\n<code>track</code> field (deprecated), but doesn't include the production\ntrack (see <code>isProduction</code> instead).",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "versionCode": {
          "description": "Unique increasing identifier for the app version.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "versionString": {
          "description": "The string used in the Play store by the app developer to identify\nthe version.\nThe string is not necessarily unique or localized (for example, the string\ncould be \"1.4\").",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ApprovalUrlInfo": {
      "id": "ApprovalUrlInfo",
      "description": "Information on an approval URL.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "approvalUrl": {
          "description": "A URL that displays a product's permissions and that can also be used to\napprove the product with the <code>Products.approve</code> call.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AuthenticationToken": {
      "id": "AuthenticationToken",
      "description": "An AuthenticationToken is used by the EMM's device policy client on a device\nto provision the given EMM-managed user on that device.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "token": {
          "description": "The authentication token to be passed to the device policy client on the\ndevice where it can be used to provision the account for which this token\nwas generated.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AutoInstallConstraint": {
      "id": "AutoInstallConstraint",
      "description": "The auto-install constraint. Defines a set of restrictions for installation.\nAt least one of the fields must be set.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "chargingStateConstraint": {
          "description": "Charging state constraint.",
          "type": "string",
          "format": null,
          "enum": [
            "CHARGING_STATE_CONSTRAINT_UNSPECIFIED",
            "CHARGING_NOT_REQUIRED",
            "CHARGING_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Device doesn't have to be charging.",
            "Device has to be charging."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "deviceIdleStateConstraint": {
          "description": "Device idle state constraint.",
          "type": "string",
          "format": null,
          "enum": [
            "DEVICE_IDLE_STATE_CONSTRAINT_UNSPECIFIED",
            "DEVICE_IDLE_NOT_REQUIRED",
            "DEVICE_IDLE_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Device doesn't have to be idle, app can be installed while the user is\ninteracting with the device.",
            "Device has to be idle."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "networkTypeConstraint": {
          "description": "Network type constraint.",
          "type": "string",
          "format": null,
          "enum": [
            "NETWORK_TYPE_CONSTRAINT_UNSPECIFIED",
            "ANY_NETWORK",
            "UNMETERED_NETWORK"
          ],
          "enumDescriptions": [
            "",
            "Any active networks (Wi-Fi, cellular, etc.).",
            "Any unmetered network (e.g. Wi-FI)."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AutoInstallPolicy": {
      "id": "AutoInstallPolicy",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "autoInstallConstraint": {
          "description": "The constraints for auto-installing the app. You can specify a maximum of\none constraint.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AutoInstallConstraint"
          }
        },
        "autoInstallMode": {
          "description": "The auto-install mode. If unset defaults to \"doNotAutoInstall\".",
          "type": "string",
          "format": null,
          "enum": [
            "AUTO_INSTALL_MODE_UNSPECIFIED",
            "DO_NOT_AUTO_INSTALL",
            "AUTO_INSTALL_ONCE",
            "FORCE_AUTO_INSTALL"
          ],
          "enumDescriptions": [
            "",
            "The product is not installed automatically, the user needs to install it\nfrom the Play Store.",
            "The product is automatically installed once, if the user uninstalls the\nproduct it will not be installed again.",
            "The product is automatically installed, if the user uninstalls the\nproduct it will be installed again. On managed devices the DPC should\nblock uninstall."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "autoInstallPriority": {
          "description": "The priority of the install, as an unsigned integer. A lower number means\nhigher priority.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minimumVersionCode": {
          "description": "The minimum version of the app. If a lower version of the app is installed,\nthen the app will be auto-updated according to the auto-install\nconstraints, instead of waiting for the regular auto-update. You can set a\nminimum version code for at most 20 apps per device.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ConfigurationVariables": {
      "id": "ConfigurationVariables",
      "description": "A configuration variables resource contains the managed configuration\nsettings ID to be applied to a single user, as well as the variable set that\nis attributed to the user. The variable set will be used to replace\nplaceholders in the managed configuration settings.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "mcmId": {
          "description": "The ID of the managed configurations settings.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "variableSet": {
          "description": "The variable set that is attributed to the user.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "VariableSet"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Device": {
      "id": "Device",
      "description": "A Devices resource represents a mobile device managed by the EMM and\nbelonging to a specific enterprise user.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "androidId": {
          "description": "The Google Play Services Android ID for the device encoded as\na lowercase hex string. For example,\n<code>&quot;123456789abcdef0&quot;</code>.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "managementType": {
          "description": "Identifies the extent to which the device is controlled by a managed\nGoogle Play EMM in various deployment configurations. <br><br>\nPossible values include:\n<ul><li>\"<code>managedDevice</code>\", a device that has the EMM's device\npolicy controller (DPC) as the device owner.</li>\n<li>\"<code>managedProfile</code>\", a device that has a profile managed\nby the DPC (DPC is profile owner) in addition to a separate, personal\nprofile that is unavailable to the DPC.</li>\n<li>\"<code>containerApp</code>\", no longer used (deprecated).</li>\n<li>\"<code>unmanagedProfile</code>\", a device that has been allowed (by the\ndomain's admin, using the Admin Console to enable the privilege) to use\nmanaged Google Play, but the profile is itself\nnot owned by a DPC.</li></ul>",
          "type": "string",
          "format": null,
          "enum": [
            "MANAGED_DEVICE",
            "MANAGED_PROFILE",
            "CONTAINER_APP",
            "UNMANAGED_PROFILE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "policy": {
          "description": "The policy enforced on the device.",
          "$ref": "Policy"
        },
        "report": {
          "description": "The device report updated with the latest app states.",
          "$ref": "DeviceReport"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DeviceReport": {
      "id": "DeviceReport",
      "description": "Device report updated with the latest app states for managed apps on the\ndevice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appState": {
          "description": "List of app states set by managed apps on the device. App states are\ndefined by the app's developers.\nThis field will always be present.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppState"
          }
        },
        "lastUpdatedTimestampMillis": {
          "description": "The timestamp of the last report update in milliseconds since epoch.\nThis field will always be present.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DeviceReportUpdateEvent": {
      "id": "DeviceReportUpdateEvent",
      "description": "An event generated when an updated device report is available.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deviceId": {
          "description": "The Android ID of the device.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "report": {
          "description": "The device report updated with the latest app states.\nThis field will always be present.",
          "$ref": "DeviceReport"
        },
        "userId": {
          "description": "The ID of the user.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DeviceState": {
      "id": "DeviceState",
      "description": "The state of a user's device, as accessed by the getState and setState\nmethods on device resources.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "accountState": {
          "description": "The state of the Google account on the device. \"enabled\" indicates that\nthe Google account on the device can be used to access Google services\n(including Google Play), while \"disabled\" means that it cannot.\nA new device is initially in the \"disabled\" state.",
          "type": "string",
          "format": null,
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DevicesListResponse": {
      "id": "DevicesListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "device": {
          "description": "A managed device.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Device"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Enterprise": {
      "id": "Enterprise",
      "description": "An Enterprises resource represents the binding between an EMM and a\nspecific organization. That binding can be instantiated in one of two\ndifferent ways using this API as follows:\n<ul><li>For Google managed domain customers, the process involves using\n<code>Enterprises.enroll</code> and <code>Enterprises.setAccount</code> (in\nconjunction with artifacts obtained from the Admin console and the Google\nAPI Console) and submitted to the EMM through a more-or-less manual\nprocess.</li>\n<li>For managed Google Play Accounts customers, the process involves using\n<code>Enterprises.generateSignupUrl</code> and\n<code>Enterprises.completeSignup</code> in conjunction with the managed\nGoogle Play sign-up UI (Google-provided mechanism) to create the binding\nwithout manual steps.</li></ul> As an EMM, you can support either or both\napproaches in your EMM console. See <a\nhref=\"/android/work/play/emm-api/create-enterprise\">Create an Enterprise</a>\nfor details.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "administrator": {
          "description": "Admins of the enterprise. This is only supported for enterprises\ncreated via the EMM-initiated flow.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Administrator"
          }
        },
        "id": {
          "description": "The unique ID for the enterprise.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The name of the enterprise, for example, \"Example, Inc\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "primaryDomain": {
          "description": "The enterprise's primary domain, such as \"example.com\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "EnterpriseAccount": {
      "id": "EnterpriseAccount",
      "description": "A service account that can be used to authenticate as the enterprise to\nAPI calls that require such authentication.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "accountEmail": {
          "description": "The email address of the service account.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "EnterprisesListResponse": {
      "id": "EnterprisesListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "enterprise": {
          "description": "An enterprise.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Enterprise"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "EnterprisesSendTestPushNotificationResponse": {
      "id": "EnterprisesSendTestPushNotificationResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "messageId": {
          "description": "The message ID of the test push notification that was sent.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "topicName": {
          "description": "The name of the Cloud Pub/Sub topic to which notifications for this\nenterprise's enrolled account will be sent.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Entitlement": {
      "id": "Entitlement",
      "description": "The presence of an Entitlements resource indicates that a user has the right\nto use a particular app. Entitlements are user specific, not device specific.\nThis allows a user with an entitlement to an app to install the app on all\ntheir devices. It's also possible for a user to hold an entitlement to an app\nwithout installing the app on any device.\n\nThe API can be used to create an entitlement. As an option, you can also use\nthe API to trigger the installation of an app on all a user's managed devices\nat the same time the entitlement is created.\n\nIf the app is free, creating the entitlement also creates a group license\nfor that app. For paid apps, creating the entitlement consumes one license,\nand that license remains consumed until the entitlement is removed. If the\nenterprise hasn't purchased enough licenses, then no entitlement is created\nand the installation fails. An entitlement is also not created for an app if\nthe app requires permissions that the enterprise hasn't accepted.\n\nIf an entitlement is deleted, the app may be uninstalled from a user's\ndevice. As a best practice, uninstall the app by calling\n<a class=\"method-link\" method=\"androidenterprise.installs.delete\">\nInstalls.delete()</a> before deleting the entitlement.\n\nEntitlements for apps that a user pays for on an unmanaged profile have\n<code class=\"\">\"userPurchase\"</code> as the entitlement reason. These\nentitlements cannot be removed via the API.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "productId": {
          "description": "The ID of the product that the entitlement is for. For example,\n<code>&quot;app:com.google.android.gm&quot;</code>.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reason": {
          "description": "The reason for the entitlement. For example, <code class=\"\">\"free\"</code>\nfor free apps. This property is temporary: it will be replaced by the <code\nclass=\"\">acquisition kind</code> field of group licenses.",
          "type": "string",
          "format": null,
          "enum": [
            "FREE",
            "GROUP_LICENSE",
            "USER_PURCHASE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "EntitlementsListResponse": {
      "id": "EntitlementsListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "entitlement": {
          "description": "An entitlement of a user to a product (e.g. an app).\nFor example, a free app that they have installed, or a paid app that they\nhave been allocated a license to.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Entitlement"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GroupLicense": {
      "id": "GroupLicense",
      "description": "Group license objects allow you to keep track of licenses (called\n<a href=\"/android/work/play/emm-api/v1/entitlements\">entitlements</a>)\nfor both free and paid apps. For a free app, a group license is created when\nan enterprise admin first approves the product in Google Play or when the\nfirst entitlement for the product is created for a user via the API. For a\npaid app, a group license object is only created when an enterprise admin\npurchases the product in Google Play for the first time.\n\nUse the API to query group licenses. A <code>Grouplicenses</code> resource\nincludes the total number of licenses purchased (paid apps only) and the\ntotal number of licenses currently in use. In other words, the total number\nof <code>Entitlements</code> that exist for the product.\n\nOnly one group license object is created per product and group license\nobjects are never deleted. If a product is unapproved, its group license\nremains. This allows enterprise admins to keep track of any remaining\nentitlements for the product.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "acquisitionKind": {
          "description": "How this group license was acquired. <code>&quot;bulkPurchase&quot;</code>\nmeans that this Grouplicenses resource was created because the enterprise\npurchased licenses for this product; otherwise, the value is\n<code>&quot;free&quot;</code> (for free products).",
          "type": "string",
          "format": null,
          "enum": [
            "FREE",
            "BULK_PURCHASE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "approval": {
          "description": "Whether the product to which this group license relates is currently\napproved by the enterprise. Products are approved when a group license is\nfirst created, but this approval may be revoked by an enterprise admin via\nGoogle Play. Unapproved products will not be visible to end users in\ncollections, and new entitlements to them should not normally be created.",
          "type": "string",
          "format": null,
          "enum": [
            "APPROVED",
            "UNAPPROVED"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "numProvisioned": {
          "description": "The total number of provisioned licenses for this product.\nReturned by read operations, but ignored in write operations.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "numPurchased": {
          "description": "The number of purchased licenses (possibly in multiple purchases).\nIf this field is omitted, then there is no limit on the number of licenses\nthat can be provisioned (for example, if the acquisition kind is\n<code>&quot;free&quot;</code>).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "permissions": {
          "description": "The permission approval status of the product. This field\nis only set if the product is approved. Possible states are:<ul>\n<li>\"<code>currentApproved</code>\", the current set\nof permissions is approved, but additional permissions will require the\nadministrator to reapprove the product (If the product was approved\nwithout specifying the approved permissions setting, then this is the\ndefault behavior.),</li>\n<li>\"<code>needsReapproval</code>\", the product has unapproved permissions.\nNo additional product licenses can be assigned until the product is\nreapproved,</li>\n<li>\"<code>allCurrentAndFutureApproved</code>\",\nthe current permissions are approved and any future permission updates\nwill be automatically approved without administrator review.</li></ul>",
          "type": "string",
          "format": null,
          "enum": [
            "CURRENT_APPROVED",
            "NEEDS_REAPPROVAL",
            "ALL_CURRENT_AND_FUTURE_APPROVED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productId": {
          "description": "The ID of the product that the license is for. For example,\n<code>&quot;app:com.google.android.gm&quot;</code>.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GroupLicenseUsersListResponse": {
      "id": "GroupLicenseUsersListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "user": {
          "description": "A user of an enterprise.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "User"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GroupLicensesListResponse": {
      "id": "GroupLicensesListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "groupLicense": {
          "description": "A group license for a product approved for use in the enterprise.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GroupLicense"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Install": {
      "id": "Install",
      "description": "The existence of an Installs resource indicates that an app is\ninstalled on a particular device (or that an install is pending).\n\nThe API can be used to create an install resource using the\n<a class=\"method-link\" method=\"androidenterprise.installs.update\">update</a>\nmethod. This triggers the actual install of the app on the device. If the\nuser does not already have an entitlement for the app, then an attempt is\nmade to create one. If this fails (for example, because the app is not free\nand there is no available license), then the creation of the install fails.\n\nThe API can also be used to update an installed app. If\nthe&nbsp;<a class=\"method-link\" method=\"androidenterprise.installs.update\"\nstyle=\"font-style: normal; font-size: 14px; font-family: Roboto, sans-serif;\nline-height: 22.3999996185303px;\">update</a>&nbsp;method is\nused on an existing install, then the app will be updated to the latest\navailable version.\n\nNote that it is not possible to force the installation of a specific version\nof an app: the version code is read-only.\n\nIf a user installs an app themselves (as permitted by the enterprise), then\nagain an install resource and possibly an entitlement resource are\nautomatically created.\n\nThe API can also be used to delete an install resource, which triggers the\nremoval of the app from the device. Note that deleting an install does not\nautomatically remove the corresponding entitlement, even if there are no\nremaining installs. The install resource will also be deleted if the user\nuninstalls the app themselves.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "installState": {
          "description": "Install state. The state <code>&quot;installPending&quot;</code>\nmeans that an install request has recently been made and download to the\ndevice is in progress. The state <code>&quot;installed&quot;</code>\nmeans that the app has been installed. This field is read-only.",
          "type": "string",
          "format": null,
          "enum": [
            "INSTALLED",
            "INSTALL_PENDING"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productId": {
          "description": "The ID of the product that the install is for. For example,\n<code>&quot;app:com.google.android.gm&quot;</code>.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "versionCode": {
          "description": "The version of the installed product. Guaranteed to be set only if the\ninstall state is <code>&quot;installed&quot;</code>.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "InstallFailureEvent": {
      "id": "InstallFailureEvent",
      "description": "An event generated when an app installation failed on a device",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deviceId": {
          "description": "The Android ID of the device.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "failureDetails": {
          "description": "Additional details on the failure if applicable.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "failureReason": {
          "description": "The reason for the installation failure.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [
            "UNKNOWN",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "Used whenever no better reason for failure can be provided.",
            "Used when the installation timed out. This can cover a number of\nsituations, for example when the device did not have connectivity\nat any point during the retry period, or if the device is OOM."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the\ninstall failure event occured. This field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userId": {
          "description": "The ID of the user.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "InstallsListResponse": {
      "id": "InstallsListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "install": {
          "description": "An installation of an app for a user on a specific device.\nThe existence of an install implies that the user must have an\nentitlement to the app.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Install"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "KeyedAppState": {
      "id": "KeyedAppState",
      "description": "Represents a keyed app state containing a key, timestamp, severity level,\noptional description, and optional data.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "data": {
          "description": "Additional field intended for machine-readable data. For example, a number\nor JSON object. To prevent XSS, we recommend removing any HTML from the\ndata before displaying it.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "key": {
          "description": "Key indicating what the app is providing a state for. The content of the\nkey is set by the app's developer. To prevent XSS, we recommend removing\nany HTML from the key before displaying it.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "message": {
          "description": "Free-form, human-readable message describing the app state. For example,\nan error message. To prevent XSS, we recommend removing any HTML from the\nmessage before displaying it.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "severity": {
          "description": "Severity of the app state.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [
            "SEVERITY_UNKNOWN",
            "SEVERITY_INFO",
            "SEVERITY_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "stateTimestampMillis": {
          "description": "Timestamp of when the app set the state in milliseconds since epoch.\nThis field will always be present.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "LocalizedText": {
      "id": "LocalizedText",
      "description": "A localized string with its locale.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "locale": {
          "description": "The BCP47 tag for a locale. (e.g. \"en-US\", \"de\").",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "text": {
          "description": "The text localized in the associated locale.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window for managed Google Play Accounts.\nThis allows Play store to update the apps on the foreground in the designated\nwindow.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "durationMs": {
          "description": "Duration of the maintenance window, in milliseconds. The duration must be\nbetween 30 minutes and 24 hours (inclusive).",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startTimeAfterMidnightMs": {
          "description": "Start time of the maintenance window, in milliseconds after midnight on the\ndevice. Windows can span midnight.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedConfiguration": {
      "id": "ManagedConfiguration",
      "description": "A managed configuration resource contains the set of managed properties\ndefined by the app developer in the app's managed configurations schema,\nas well as any configuration variables defined for the user.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "configurationVariables": {
          "description": "Contains the ID of the managed configuration profile and the set of\nconfiguration variables (if any) defined for the user.",
          "$ref": "ConfigurationVariables"
        },
        "kind": {
          "description": "Deprecated.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "managedProperty": {
          "description": "The set of managed properties for this configuration.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ManagedProperty"
          }
        },
        "productId": {
          "description": "The ID of the product that the managed configuration is for, e.g.\n\"app:com.google.android.gm\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedConfigurationsForDeviceListResponse": {
      "id": "ManagedConfigurationsForDeviceListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "managedConfigurationForDevice": {
          "description": "A managed configuration for an app on a specific device.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ManagedConfiguration"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedConfigurationsForUserListResponse": {
      "id": "ManagedConfigurationsForUserListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "managedConfigurationForUser": {
          "description": "A managed configuration for an app for a specific user.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ManagedConfiguration"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedConfigurationsSettings": {
      "id": "ManagedConfigurationsSettings",
      "description": "A managed configurations settings resource contains the set of\nmanaged properties that have been configured for an Android app to be applied\nto a set of users. The app's developer would have\ndefined configurable properties in the managed configurations schema.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "lastUpdatedTimestampMillis": {
          "description": "The last updated time of the managed configuration settings in\nmilliseconds since 1970-01-01T00:00:00Z.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "mcmId": {
          "description": "The ID of the managed configurations settings.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The name of the managed configurations settings.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedConfigurationsSettingsListResponse": {
      "id": "ManagedConfigurationsSettingsListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "managedConfigurationsSettings": {
          "description": "A managed configurations settings for an app that may be assigned to a\ngroup of users in an enterprise.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ManagedConfigurationsSettings"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedProperty": {
      "id": "ManagedProperty",
      "description": "A managed property of a managed configuration. The property must match one of\nthe properties in the app restrictions schema of the product. Exactly one of\nthe value fields must be populated, and it must match the property's type in\nthe app restrictions schema.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "key": {
          "description": "The unique key that identifies the property.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueBool": {
          "description": "The boolean value - this will only be present if type of the property is\nbool.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueBundle": {
          "description": "The bundle of managed properties - this will only be present if type of the\nproperty is bundle.",
          "$ref": "ManagedPropertyBundle"
        },
        "valueBundleArray": {
          "description": "The list of bundles of properties - this will only be present if type of\nthe property is bundle_array.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ManagedPropertyBundle"
          }
        },
        "valueInteger": {
          "description": "The integer value - this will only be present if type of the property is\ninteger.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueString": {
          "description": "The string value - this will only be present if type of the property is\nstring, choice or hidden.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueStringArray": {
          "description": "The list of string values - this will only be present if type of the\nproperty is multiselect.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ManagedPropertyBundle": {
      "id": "ManagedPropertyBundle",
      "description": "A bundle of managed properties.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "managedProperty": {
          "description": "The list of managed properties.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ManagedProperty"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "NewDeviceEvent": {
      "id": "NewDeviceEvent",
      "description": "An event generated when a new device is ready to be managed.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deviceId": {
          "description": "The Android ID of the device.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dpcPackageName": {
          "description": "Policy app on the device.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "managementType": {
          "description": "Identifies the extent to which the device is controlled by an Android\nEMM in various deployment configurations. <br><br>\nPossible values include:\n<ul><li>\"<code>managedDevice</code>\", a device where the DPC is set as\ndevice owner,</li>\n<li>\"<code>managedProfile</code>\", a device where the DPC is set as profile\nowner.</li></ul>",
          "type": "string",
          "format": null,
          "enum": [
            "MANAGED_DEVICE",
            "MANAGED_PROFILE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userId": {
          "description": "The ID of the user.\nThis field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "NewPermissionsEvent": {
      "id": "NewPermissionsEvent",
      "description": "An event generated when new permissions are added to an app.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "approvedPermissions": {
          "description": "The set of permissions that the enterprise admin has already approved for\nthis application.\nUse Permissions.Get on the EMM API to retrieve details about these\npermissions.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which new\npermissions were added. This field will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "requestedPermissions": {
          "description": "The set of permissions that the app is currently requesting.\nUse Permissions.Get on the EMM API to retrieve details about these\npermissions.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Notification": {
      "id": "Notification",
      "description": "A notification of one event relating to an enterprise.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appRestrictionsSchemaChangeEvent": {
          "description": "Notifications about new app restrictions schema changes.",
          "$ref": "AppRestrictionsSchemaChangeEvent"
        },
        "appUpdateEvent": {
          "description": "Notifications about app updates.",
          "$ref": "AppUpdateEvent"
        },
        "deviceReportUpdateEvent": {
          "description": "Notifications about device report updates.",
          "$ref": "DeviceReportUpdateEvent"
        },
        "enterpriseId": {
          "description": "The ID of the enterprise for which the notification is sent.\nThis will always be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "installFailureEvent": {
          "description": "Notifications about an app installation failure.",
          "$ref": "InstallFailureEvent"
        },
        "newDeviceEvent": {
          "description": "Notifications about new devices.",
          "$ref": "NewDeviceEvent"
        },
        "newPermissionsEvent": {
          "description": "Notifications about new app permissions.",
          "$ref": "NewPermissionsEvent"
        },
        "notificationType": {
          "description": "Type of the notification.",
          "type": "string",
          "format": null,
          "enum": [
            "UNKNOWN",
            "TEST_NOTIFICATION",
            "PRODUCT_APPROVAL",
            "INSTALL_FAILURE",
            "APP_UPDATE",
            "NEW_PERMISSIONS",
            "APP_RESTRICIONS_SCHEMA_CHANGE",
            "PRODUCT_AVAILABILITY_CHANGE",
            "NEW_DEVICE",
            "DEVICE_REPORT_UPDATE"
          ],
          "enumDescriptions": [
            "",
            "A test push notification.",
            "Notification about change to a product's approval status.",
            "Notification about an app installation failure.",
            "Notification about app update.",
            "Notification about new app permissions.",
            "Notification about new app restrictions schema change.",
            "Notification about product availability change.",
            "Notification about a new device.",
            "Notification about an updated device report."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productApprovalEvent": {
          "description": "Notifications about changes to a product's approval status.",
          "$ref": "ProductApprovalEvent"
        },
        "productAvailabilityChangeEvent": {
          "description": "Notifications about product availability changes.",
          "$ref": "ProductAvailabilityChangeEvent"
        },
        "timestampMillis": {
          "description": "The time when the notification was published in\nmilliseconds since 1970-01-01T00:00:00Z.\nThis will always be present.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "NotificationSet": {
      "id": "NotificationSet",
      "description": "A resource returned by the PullNotificationSet API, which contains\na collection of notifications for enterprises associated with the service\naccount authenticated for the request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "notification": {
          "description": "The notifications received, or empty if no notifications are present.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Notification"
          }
        },
        "notificationSetId": {
          "description": "The notification set ID, required to mark the notification as\nreceived with the Enterprises.AcknowledgeNotification API.\nThis will be omitted if no notifications are present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PageInfo": {
      "id": "PageInfo",
      "description": "Information about the current page.\n\nList operations that supports paging return only one \"page\" of results. This\nprotocol buffer message describes the page that has been returned.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resultPerPage": {
          "description": "Maximum number of results returned in one page.\n! The number of results included in the API response.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalResults": {
          "description": "Total number of results available on the backend\n! The total number of results in the result set.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Permission": {
      "id": "Permission",
      "description": "A Permissions resource represents some extra capability, to be granted to an\nAndroid app, which requires explicit consent. An enterprise admin must\nconsent to these permissions on behalf of their users before an\nentitlement for the app can be created.\n\nThe permissions collection is read-only. The information provided for\neach permission (localized name and description) is intended to be\nused in the MDM user interface when obtaining consent from the\nenterprise.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "A longer description of the Permissions resource, giving more details of\nwhat it affects.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The name of the permission.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Policy": {
      "id": "Policy",
      "description": "The device policy for a given managed device.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "autoUpdatePolicy": {
          "description": "The auto-update policy for apps installed on the device. \"choiceToTheUser\"\nallows the device's user to configure the app update policy. \"always\"\nenables auto updates. \"never\" disables auto updates. \"wifiOnly\" enables\nauto updates only when the device is connected to wifi.",
          "type": "string",
          "format": null,
          "enum": [
            "AUTO_UPDATE_POLICY_UNSPECIFIED",
            "CHOICE_TO_THE_USER",
            "NEVER",
            "WIFI_ONLY",
            "ALWAYS"
          ],
          "enumDescriptions": [
            "The auto update policy is not set.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over WiFi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "deviceReportPolicy": {
          "description": "Whether the device reports app states to the EMM. The default value is\n\"deviceReportDisabled\".",
          "type": "string",
          "format": null,
          "enum": [
            "DEVICE_REPORT_POLICY_UNSPECIFIED",
            "DEVICE_REPORT_DISABLED",
            "DEVICE_REPORT_ENABLED"
          ],
          "enumDescriptions": [
            "The device report policy is not set.",
            "Device reports are disabled.",
            "Device reports are enabled."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maintenanceWindow": {
          "description": "The maintenance window defining when apps running in the foreground should\nbe updated.",
          "$ref": "MaintenanceWindow"
        },
        "productAvailabilityPolicy": {
          "description": "The availability granted to the device for the specified products. \"all\"\ngives the device access to all products, regardless of approval status.\n\"all\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks.\n\"whitelist\" grants the device access the products specified in\nproductPolicy[]. Only products that are approved or products that were\npreviously approved (products with revoked approval) by the enterprise can\nbe whitelisted. If no value is provided, the availability set at the user\nlevel is applied by default.",
          "type": "string",
          "format": null,
          "enum": [
            "PRODUCT_AVAILABILITY_POLICY_UNSPECIFIED",
            "WHITELIST",
            "ALL"
          ],
          "enumDescriptions": [
            "Unspecified, applies the user available product set by default.",
            "The approved products with product availability set to AVAILABLE\nin the product policy are available.",
            "All products are available except those explicitly marked as\nunavailable in the product availability policy."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productPolicy": {
          "description": "The list of product policies. The <code>productAvailabilityPolicy</code>\nneeds to be set to <code>WHITELIST</code> or <code>ALL</code> for the\nproduct policies to be applied.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ProductPolicy"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Product": {
      "id": "Product",
      "description": "A Products resource represents an app in the Google Play store that is\navailable to at least some users in the enterprise. (Some apps are restricted\nto a single enterprise, and no information about them is made available\noutside that enterprise.)\n\nThe information provided for each product (localized name, icon, link\nto the full Google Play details page) is intended to allow a basic\nrepresentation of the product within an EMM user interface.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appTracks": {
          "description": "The tracks visible to the enterprise.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "TrackInfo"
          }
        },
        "appVersion": {
          "description": "App versions currently available for this product.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppVersion"
          }
        },
        "authorName": {
          "description": "The name of the author of the product (for example, the app developer).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "availableCountries": {
          "description": "The countries which this app is available in.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "availableTracks": {
          "description": "Deprecated, use <code>appTracks</code> instead.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "APP_TRACK_UNSPECIFIED",
              "PRODUCTION",
              "BETA",
              "ALPHA"
            ],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "category": {
          "description": "The app category (e.g. RACING, SOCIAL, etc.)",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentRating": {
          "description": "The content rating for this app.",
          "type": "string",
          "format": null,
          "enum": [
            "RATING_UNKNOWN",
            "ALL",
            "PRE_TEEN",
            "TEEN",
            "MATURE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "The localized promotional description, if available.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "detailsUrl": {
          "description": "A link to the (consumer) Google Play details page for the product.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "distributionChannel": {
          "description": "How and to whom the package is made available.\nThe value <code>publicGoogleHosted</code> means that the package is\navailable through the Play store and not restricted to a specific\nenterprise. The value <code>privateGoogleHosted</code> means that the\npackage is a private app (restricted to an enterprise) but hosted by\nGoogle. The value <code>privateSelfHosted</code> means that the package is\na private app (restricted to an enterprise) and is privately hosted.",
          "type": "string",
          "format": null,
          "enum": [
            "PUBLIC_GOOGLE_HOSTED",
            "PRIVATE_GOOGLE_HOSTED",
            "PRIVATE_SELF_HOSTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "features": {
          "description": "Noteworthy features (if any) of this product.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [
            "",
            "The app is a VPN."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "FEATURE_UNKNOWN",
              "VPN_APP"
            ],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "iconUrl": {
          "description": "A link to an image that can be used as an icon for the product.\nThis image is suitable for use at up to 512px x 512px.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lastUpdatedTimestampMillis": {
          "description": "The approximate time (within 7 days) the app was last published, expressed\nin milliseconds since epoch.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minAndroidSdkVersion": {
          "description": "The minimum Android SDK necessary to run the app.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "permissions": {
          "description": "A list of permissions required by the app.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ProductPermission"
          }
        },
        "productId": {
          "description": "A string of the form <code><em>app:&lt;package name&gt;</em></code>. For\nexample, <code>app:com.google.android.gm</code> represents the Gmail app.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productPricing": {
[...]
