{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "customsearch:v1",
  "name": "customsearch",
  "canonicalName": "CustomSearch API",
  "fullyEncodeReservedExpansion": null,
  "version": "v1",
  "revision": "20210311",
  "title": "Custom Search API",
  "description": "Searches over a website or collection of websites",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/custom-search/v1/introduction",
  "protocol": "rest",
  "baseUrl": "https://customsearch.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://customsearch.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": null,
  "schemas": {
    "Promotion": {
      "id": "Promotion",
      "description": "Promotion result.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bodyLines": {
          "description": "An array of block objects for this promotion. See [Google WebSearch Protocol reference](https://developers.google.com/custom-search/docs/xml_results) for more information.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "htmlTitle": {
                "description": "The block object's text in HTML, if it has text.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "link": {
                "description": "The anchor text of the block object's link, if it has a link.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "title": {
                "description": "The block object's text, if it has text.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "url": {
                "description": "The URL of the block object's link, if it has one.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "displayLink": {
          "description": "An abridged version of this search's result URL, e.g. www.example.com.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "htmlTitle": {
          "description": "The title of the promotion, in HTML.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "image": {
          "description": "Image belonging to a promotion.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "height": {
              "description": "Image height in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "source": {
              "description": "URL of the image for this promotion link.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "width": {
              "description": "Image width in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "link": {
          "description": "The URL of the promotion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The title of the promotion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Result": {
      "id": "Result",
      "description": "A custom search result.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cacheId": {
          "description": "Indicates the ID of Google's cached version of the search result.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayLink": {
          "description": "An abridged version of this search result’s URL, e.g. www.example.com.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "fileFormat": {
          "description": "The file format of the search result.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "formattedUrl": {
          "description": "The URL displayed after the snippet for each search result.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "htmlFormattedUrl": {
          "description": "The HTML-formatted URL displayed after the snippet for each search result.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "htmlSnippet": {
          "description": "The snippet of the search result, in HTML.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "htmlTitle": {
          "description": "The title of the search result, in HTML.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "image": {
          "description": "Image belonging to a custom search result.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "byteSize": {
              "description": "The size of the image, in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "contextLink": {
              "description": "A URL pointing to the webpage hosting the image.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "height": {
              "description": "The height of the image, in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "thumbnailHeight": {
              "description": "The height of the thumbnail image, in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "thumbnailLink": {
              "description": "A URL to the thumbnail image.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "thumbnailWidth": {
              "description": "The width of the thumbnail image, in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "width": {
              "description": "The width of the image, in pixels.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "A unique identifier for the type of current object. For this API, it is `customsearch#result.`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labels": {
          "description": "Encapsulates all information about [refinement labels](https://developers.google.com/custom-search/docs/xml_results).",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "displayName": {
                "description": "The display name of a refinement label. This is the name you should display in your user interface.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "label_with_op": {
                "description": "Refinement label and the associated refinement operation.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "name": {
                "description": "The name of a refinement label, which you can use to refine searches. Don't display this in your user interface; instead, use displayName.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "link": {
          "description": "The full URL to which the search result is pointing, e.g. http://www.example.com/foo/bar.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "mime": {
          "description": "The MIME type of the search result.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pagemap": {
          "description": "Contains [PageMap](https://developers.google.com/custom-search/docs/structured_data#pagemaps) information for this search result.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "snippet": {
          "description": "The snippet of the search result, in plain text.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The title of the search result, in plain text.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Search": {
      "id": "Search",
      "description": "Response to a custom search request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "context": {
          "description": "Metadata and refinements associated with the given search engine, including: * The name of the search engine that was used for the query. * A set of [facet objects](https://developers.google.com/custom-search/docs/refinements#create) (refinements) you can use for refining a search.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "items": {
          "description": "The current set of custom search results.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Result"
          }
        },
        "kind": {
          "description": "Unique identifier for the type of current object. For this API, it is customsearch#search.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "promotions": {
          "description": "The set of [promotions](https://developers.google.com/custom-search/docs/promotions). Present only if the custom search engine's configuration files define any promotions for the given query.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Promotion"
          }
        },
        "queries": {
          "description": "Query metadata for the previous, current, and next pages of results.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "nextPage": {
              "description": "Metadata representing the next page of results, if applicable.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "object",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/xml_results#booleanOperators) in the `cr` parameter's value. Google WebSearch determines the country of a document by analyzing the following: * The top-level domain (TLD) of the document's URL. * The geographic location of the web server's IP address. See [Country (cr) Parameter Values](https://developers.google.com/custom-search/docs/xml_results#countryCollections) for a list of valid values for this parameter.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "cx": {
                    "description": "The identifier of an engine created using the Programmable Search Engine [Control Panel](https://programmablesearchengine.google.com/). This is a custom property not defined in the OpenSearch spec. This parameter is **required**.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/xml_results#chineseSearch) feature. Supported values are: * `0`: enabled (default) * `1`: disabled",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must contain.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported by Google include: * Adobe Portable Document Format (`pdf`) * Adobe PostScript (`ps`) * Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`) * Lotus WordPro (`lwp`) * Macwrite (`mw`) * Microsoft Excel (`xls`) * Microsoft PowerPoint (`ppt`) * Microsoft Word (`doc`) * Microsoft Works (`wks`, `wps`, `wdb`) * Microsoft Write (`wri`) * Rich Text Format (`rtf`) * Shockwave Flash (`swf`) * Text (`ans`, `txt`). Additional filetypes may be added in the future. An up-to-date list can always be found in Google's [file type FAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search results. See [Automatic Filtering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering) for more information about Google's search results filters. Valid values for this parameter are: * `0`: Disabled * `1`: Enabled (default) **Note**: By default, Google applies filtering to all search results to improve the quality of those results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter value. See [Country Codes](https://developers.google.com/custom-search/docs/xml_results#countryCodes) for a list of valid values. Specifying a `gl` parameter value in WebSearch requests should improve the relevance of results. This is particularly true for international customers and, even more specifically, for customers in English-speaking countries other than the United States.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or google.fr) to which the search should be limited.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface. Explicitly setting this parameter improves the performance and the quality of your search results. See the [Interface Languages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages) for a list of supported languages.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined with a logical `AND` operator.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values are: * `mono` (black and white) * `gray` (grayscale) * `color` (color)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported values are: * `red` * `orange` * `yellow` * `green` * `teal` * `blue` * `purple` * `pink` * `white` * `gray` * `black` * `brown`",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are: * `icon` (small) * `small | medium | large | xlarge` (medium) * `xxlarge` (large) * `huge` (extra-large)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are: * `clipart` (Clip art) * `face` (Face) * `lineart` (Line drawing) * `photo` (Photo) * `animated` (Animated) * `stock` (Stock)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms. You can also use the [Boolean OR](https://developers.google.com/custom-search/docs/xml_results#BooleanOrqt) query term for this type of query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "outputEncoding": {
                    "description": "The character encoding supported for search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the specified URL. The parameter value should be a URL.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include: * `cc_publicdomain` * `cc_attribute` * `cc_sharealike` * `cc_noncommercial` * `cc_nonderived`",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch level](https://developers.google.com/custom-search/docs/xml_results#safeSearchLevels) used for filtering out adult results. This is a custom property not defined in the OpenSearch spec. Valid parameter values are: * `\"off\"`: Disable SafeSearch * `\"active\"`: Enable SafeSearch",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited to webpages.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in the `sitesearch` parameter. Supported values are: * `i`: include content from site * `e`: exclude content from site",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified expression. For example, sort by date.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of results, where the index of the first result is 1.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by the `count` property.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "type": "string",
                    "format": "int64",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  }
                },
                "additionalProperties": null,
                "items": null
              }
            },
            "previousPage": {
              "description": "Metadata representing the previous page of results, if applicable.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "object",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/xml_results#booleanOperators) in the `cr` parameter's value. Google WebSearch determines the country of a document by analyzing the following: * The top-level domain (TLD) of the document's URL. * The geographic location of the web server's IP address. See [Country (cr) Parameter Values](https://developers.google.com/custom-search/docs/xml_results#countryCollections) for a list of valid values for this parameter.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "cx": {
                    "description": "The identifier of an engine created using the Programmable Search Engine [Control Panel](https://programmablesearchengine.google.com/). This is a custom property not defined in the OpenSearch spec. This parameter is **required**.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/xml_results#chineseSearch) feature. Supported values are: * `0`: enabled (default) * `1`: disabled",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must contain.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported by Google include: * Adobe Portable Document Format (`pdf`) * Adobe PostScript (`ps`) * Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`) * Lotus WordPro (`lwp`) * Macwrite (`mw`) * Microsoft Excel (`xls`) * Microsoft PowerPoint (`ppt`) * Microsoft Word (`doc`) * Microsoft Works (`wks`, `wps`, `wdb`) * Microsoft Write (`wri`) * Rich Text Format (`rtf`) * Shockwave Flash (`swf`) * Text (`ans`, `txt`). Additional filetypes may be added in the future. An up-to-date list can always be found in Google's [file type FAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search results. See [Automatic Filtering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering) for more information about Google's search results filters. Valid values for this parameter are: * `0`: Disabled * `1`: Enabled (default) **Note**: By default, Google applies filtering to all search results to improve the quality of those results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter value. See [Country Codes](https://developers.google.com/custom-search/docs/xml_results#countryCodes) for a list of valid values. Specifying a `gl` parameter value in WebSearch requests should improve the relevance of results. This is particularly true for international customers and, even more specifically, for customers in English-speaking countries other than the United States.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or google.fr) to which the search should be limited.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface. Explicitly setting this parameter improves the performance and the quality of your search results. See the [Interface Languages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages) for a list of supported languages.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined with a logical `AND` operator.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values are: * `mono` (black and white) * `gray` (grayscale) * `color` (color)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported values are: * `red` * `orange` * `yellow` * `green` * `teal` * `blue` * `purple` * `pink` * `white` * `gray` * `black` * `brown`",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are: * `icon` (small) * `small | medium | large | xlarge` (medium) * `xxlarge` (large) * `huge` (extra-large)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are: * `clipart` (Clip art) * `face` (Face) * `lineart` (Line drawing) * `photo` (Photo) * `animated` (Animated) * `stock` (Stock)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms. You can also use the [Boolean OR](https://developers.google.com/custom-search/docs/xml_results#BooleanOrqt) query term for this type of query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "outputEncoding": {
                    "description": "The character encoding supported for search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the specified URL. The parameter value should be a URL.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include: * `cc_publicdomain` * `cc_attribute` * `cc_sharealike` * `cc_noncommercial` * `cc_nonderived`",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch level](https://developers.google.com/custom-search/docs/xml_results#safeSearchLevels) used for filtering out adult results. This is a custom property not defined in the OpenSearch spec. Valid parameter values are: * `\"off\"`: Disable SafeSearch * `\"active\"`: Enable SafeSearch",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited to webpages.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in the `sitesearch` parameter. Supported values are: * `i`: include content from site * `e`: exclude content from site",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified expression. For example, sort by date.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of results, where the index of the first result is 1.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by the `count` property.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "type": "string",
                    "format": "int64",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  }
                },
                "additionalProperties": null,
                "items": null
              }
            },
            "request": {
              "description": "Metadata representing the current request.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "object",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/xml_results#booleanOperators) in the `cr` parameter's value. Google WebSearch determines the country of a document by analyzing the following: * The top-level domain (TLD) of the document's URL. * The geographic location of the web server's IP address. See [Country (cr) Parameter Values](https://developers.google.com/custom-search/docs/xml_results#countryCollections) for a list of valid values for this parameter.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "cx": {
                    "description": "The identifier of an engine created using the Programmable Search Engine [Control Panel](https://programmablesearchengine.google.com/). This is a custom property not defined in the OpenSearch spec. This parameter is **required**.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "disableCnTwTranslation": {
                    "description": "Enables or disables the [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/xml_results#chineseSearch) feature. Supported values are: * `0`: enabled (default) * `1`: disabled",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must contain.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported by Google include: * Adobe Portable Document Format (`pdf`) * Adobe PostScript (`ps`) * Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`) * Lotus WordPro (`lwp`) * Macwrite (`mw`) * Microsoft Excel (`xls`) * Microsoft PowerPoint (`ppt`) * Microsoft Word (`doc`) * Microsoft Works (`wks`, `wps`, `wdb`) * Microsoft Write (`wri`) * Rich Text Format (`rtf`) * Shockwave Flash (`swf`) * Text (`ans`, `txt`). Additional filetypes may be added in the future. An up-to-date list can always be found in Google's [file type FAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search results. See [Automatic Filtering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering) for more information about Google's search results filters. Valid values for this parameter are: * `0`: Disabled * `1`: Enabled (default) **Note**: By default, Google applies filtering to all search results to improve the quality of those results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter value. See [Country Codes](https://developers.google.com/custom-search/docs/xml_results#countryCodes) for a list of valid values. Specifying a `gl` parameter value in WebSearch requests should improve the relevance of results. This is particularly true for international customers and, even more specifically, for customers in English-speaking countries other than the United States.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or google.fr) to which the search should be limited.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface. Explicitly setting this parameter improves the performance and the quality of your search results. See the [Interface Languages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages) for a list of supported languages.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined with a logical `AND` operator.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values are: * `mono` (black and white) * `gray` (grayscale) * `color` (color)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported values are: * `red` * `orange` * `yellow` * `green` * `teal` * `blue` * `purple` * `pink` * `white` * `gray` * `black` * `brown`",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are: * `icon` (small) * `small | medium | large | xlarge` (medium) * `xxlarge` (large) * `huge` (extra-large)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are: * `clipart` (Clip art) * `face` (Face) * `lineart` (Line drawing) * `photo` (Photo) * `animated` (Animated) * `stock` (Stock)",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "inputEncoding": {
                    "description": "The character encoding supported for search requests.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms. You can also use the [Boolean OR](https://developers.google.com/custom-search/docs/xml_results#BooleanOrqt) query term for this type of query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "outputEncoding": {
                    "description": "The character encoding supported for search results.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the specified URL. The parameter value should be a URL.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include: * `cc_publicdomain` * `cc_attribute` * `cc_sharealike` * `cc_noncommercial` * `cc_nonderived`",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch level](https://developers.google.com/custom-search/docs/xml_results#safeSearchLevels) used for filtering out adult results. This is a custom property not defined in the OpenSearch spec. Valid parameter values are: * `\"off\"`: Disable SafeSearch * `\"active\"`: Enable SafeSearch",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited to webpages.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in the `sitesearch` parameter. Supported values are: * `i`: include content from site * `e`: exclude content from site",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified expression. For example, sort by date.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of results, where the index of the first result is 1.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by the `count` property.",
                    "type": "integer",
                    "format": "int32",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "type": "string",
                    "format": "int64",
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  }
                },
                "additionalProperties": null,
                "items": null
              }
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "searchInformation": {
          "description": "Metadata about a search operation.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "formattedSearchTime": {
              "description": "The time taken for the server to return search results, formatted according to locale style.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "formattedTotalResults": {
              "description": "The total number of search results, formatted according to locale style.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "searchTime": {
              "description": "The time taken for the server to return search results.",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalResults": {
              "description": "The total number of search results returned by the query.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "spelling": {
          "description": "Spell correction information for a query.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "correctedQuery": {
              "description": "The corrected query.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "htmlCorrectedQuery": {
              "description": "The corrected query, formatted in HTML.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "OpenSearch template and URL.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "template": {
              "description": "The actual [OpenSearch template](http://www.opensearch.org/specifications/opensearch/1.1#opensearch_url_template_syntax) for this API.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "type": {
              "description": "The MIME type of the OpenSearch URL template for the Custom Search JSON API.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "cse": {
      "resources": {
        "siterestrict": {
          "resources": {},
          "methods": {
            "list": {
              "id": "search.cse.siterestrict.list",
              "path": "customsearch/v1/siterestrict",
              "httpMethod": "GET",
              "description": "Returns metadata about the search performed, metadata about the engine used for the search, and the search results. Uses a small set of url patterns.",
              "parameters": {
                "c2coff": {
                  "description": "Enables or disables [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/xml_results#chineseSearch). The default value for this parameter is 0 (zero), meaning that the feature is enabled. Supported values are: * `1`: Disabled * `0`: Enabled (default)",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "cr": {
                  "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/xml_results_appendices#booleanOperators) in the cr parameter's value. Google Search determines the country of a document by analyzing: * the top-level domain (TLD) of the document's URL * the geographic location of the Web server's IP address See the [Country Parameter Values](https://developers.google.com/custom-search/docs/xml_results_appendices#countryCollections) page for a list of valid values for this parameter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "cx": {
                  "description": "The Programmable Search Engine ID to use for this request.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "dateRestrict": {
                  "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "exactTerms": {
                  "description": "Identifies a phrase that all documents in the search results must contain.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "excludeTerms": {
                  "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "fileType": {
                  "description": "Restricts results to files of a specified extension. A list of file types indexable by Google can be found in Search Console [Help Center](https://support.google.com/webmasters/answer/35287).",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "filter": {
                  "description": "Controls turning on or off the duplicate content filter. * See [Automatic Filtering](https://developers.google.com/custom-search/docs/xml_results#automaticFiltering) for more information about Google's search results filters. Note that host crowding filtering applies only to multi-site searches. * By default, Google applies filtering to all search results to improve the quality of those results. Acceptable values are: * `0`: Turns off duplicate content filter. * `1`: Turns on duplicate content filter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "gl": {
                  "description": "Geolocation of end user. * The `gl` parameter value is a two-letter country code. The `gl` parameter boosts search results whose country of origin matches the parameter value. See the [Country Codes](https://developers.google.com/custom-search/docs/xml_results_appendices#countryCodes) page for a list of valid values. * Specifying a `gl` parameter value should lead to more relevant results. This is particularly true for international customers and, even more specifically, for customers in English- speaking countries other than the United States.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "googlehost": {
                  "description": "**Deprecated**. Use the `gl` parameter for a similar effect. The local Google domain (for example, google.com, google.de, or google.fr) to use to perform the search.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "highRange": {
                  "description": "Specifies the ending value for a search range. * Use `lowRange` and `highRange` to append an inclusive search range of `lowRange...highRange` to the query.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "hl": {
                  "description": "Sets the user interface language. * Explicitly setting this parameter improves the performance and the quality of your search results. * See the [Interface Languages](https://developers.google.com/custom-search/docs/xml_results#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/xml_results#wsInternationalizing) for more information, and (Supported Interface Languages)[https://developers.google.com/custom-search/docs/xml_results_appendices#interfaceLanguages] for a list of supported languages.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "hq": {
                  "description": "Appends the specified query terms to the query, as if they were combined with a logical AND operator.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "imgColorType": {
                  "description": "Returns black and white, grayscale, transparent, or color images. Acceptable values are: * `\"color\"` * `\"gray\"` * `\"mono\"`: black and white * `\"trans\"`: transparent background",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [
                    "imgColorTypeUndefined",
                    "mono",
                    "gray",
                    "color",
                    "trans"
                  ],
                  "enumDescriptions": [
                    "No image color type specified.",
                    "Black and white images only.",
                    "Grayscale images only.",
                    "Color images only.",
                    "Images with transparent background"
                  ],
                  "repeated": false
                },
                "imgDominantColor": {
[...]
