{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "safebrowsing:v4",
  "name": "safebrowsing",
  "canonicalName": "Safebrowsing",
  "fullyEncodeReservedExpansion": true,
  "version": "v4",
  "revision": "20210311",
  "title": "Safe Browsing API",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "protocol": "rest",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": null,
  "schemas": {
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "id": "GoogleSecuritySafebrowsingV4Checksum",
      "description": "The expected state of a client's local database.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "sha256": {
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "id": "GoogleSecuritySafebrowsingV4ClientInfo",
      "description": "The client metadata associated with Safe Browsing API requests.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "listUpdateRequests": {
          "description": "The requested threat list updates.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest",
      "description": "A single list update request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
        },
        "platformType": {
          "description": "The type of platform at risk by entries present in the list.",
          "type": "string",
          "format": null,
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatEntryType": {
          "description": "The types of entries present in the list.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatType": {
          "description": "The type of threat posed by entries present in the list.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "description": "The constraints for this update.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deviceLocation": {
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxDatabaseEntries": {
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxUpdateEntries": {
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "region": {
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "supportedCompressions": {
          "description": "The compression types supported by the client.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "listUpdateResponses": {
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          }
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string",
          "format": "google-duration",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "description": "An update to an individual list.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          }
        },
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later.",
          "$ref": "GoogleSecuritySafebrowsingV4Checksum"
        },
        "newClientState": {
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "platformType": {
          "description": "The platform type for which data is returned.",
          "type": "string",
          "format": null,
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          }
        },
        "responseType": {
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "type": "string",
          "format": null,
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatEntryType": {
          "description": "The format of the threats.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatType": {
          "description": "The threat type for which data is returned.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "apiClient": {
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": "byte",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "threatInfo": {
          "description": "The lists and hashes to be checked.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "matches": {
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string",
          "format": "google-duration",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "negativeCacheDuration": {
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "type": "string",
          "format": "google-duration",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "description": "Request to check entries against lists.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "matches": {
          "description": "The threat list matches.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "prefixSize": {
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "id": "GoogleSecuritySafebrowsingV4RawIndices",
      "description": "A set of raw indices to remove from a local list.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "integer",
            "format": "int32",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "digest": {
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hash": {
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "A URL.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry",
      "description": "A single metadata entry.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "key": {
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet",
      "description": "A set of threats that should be added or removed from a client's local database.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "compressionType": {
          "description": "The compression type for the entries in this set.",
          "type": "string",
          "format": null,
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices"
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "clientInfo": {
          "description": "Client-reported identification.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        },
        "platformType": {
          "description": "The platform type reported.",
          "type": "string",
          "format": null,
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "resources": {
          "description": "The resources related to the threat hit.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          }
        },
        "threatType": {
          "description": "The threat type reported.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userInfo": {
          "description": "Details about the user that encountered the threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "description": "A single resource related to a threat hit.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of source reported.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL of the resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
      "description": "Details about the user that encountered the threat.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userId": {
          "description": "Unique user identifier defined by the client.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "platformTypes": {
          "description": "The platform types to be checked.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "threatEntries": {
          "description": "The threat entries to be checked.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          }
        },
        "threatEntryTypes": {
          "description": "The entry types to be checked.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "threatTypes": {
          "description": "The threat types to be checked.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "platformType": {
          "description": "The platform type targeted by the list's entries.",
          "type": "string",
          "format": null,
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatEntryType": {
          "description": "The entry types contained in the list.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatType": {
          "description": "The threat type posed by the list's entries.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cacheDuration": {
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "type": "string",
          "format": "google-duration",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "platformType": {
          "description": "The platform type matching this threat.",
          "type": "string",
          "format": null,
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threat": {
          "description": "The threat matching this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        },
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata"
        },
        "threatEntryType": {
          "description": "The threat entry type matching this threat.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "threatType": {
          "description": "The threat type matching this threat.",
          "type": "string",
          "format": null,
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "encodedFullHashes": {
      "resources": {},
      "methods": {
        "get": {
          "id": "safebrowsing.encodedFullHashes.get",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "httpMethod": "GET",
          "description": "",
          "parameters": {
            "clientId": {
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "encodedRequest": {
              "description": "A serialized FindFullHashesRequest proto.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "byte",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "request": null,
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "encodedUpdates": {
      "resources": {},
      "methods": {
        "get": {
          "id": "safebrowsing.encodedUpdates.get",
          "path": "v4/encodedUpdates/{encodedRequest}",
          "httpMethod": "GET",
          "description": "",
          "parameters": {
            "clientId": {
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "encodedRequest": {
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "byte",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "request": null,
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "fullHashes": {
      "resources": {},
      "methods": {
        "find": {
          "id": "safebrowsing.fullHashes.find",
          "path": "v4/fullHashes:find",
          "httpMethod": "POST",
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          },
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "threatHits": {
      "resources": {},
      "methods": {
        "create": {
          "id": "safebrowsing.threatHits.create",
          "path": "v4/threatHits",
          "httpMethod": "POST",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "threatListUpdates": {
      "resources": {},
      "methods": {
        "fetch": {
          "id": "safebrowsing.threatListUpdates.fetch",
          "path": "v4/threatListUpdates:fetch",
          "httpMethod": "POST",
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "threatLists": {
      "resources": {},
      "methods": {
        "list": {
          "id": "safebrowsing.threatLists.list",
          "path": "v4/threatLists",
          "httpMethod": "GET",
          "description": "Lists the Safe Browsing threat lists available for download.",
          "parameters": {},
          "parameterOrder": [],
          "request": null,
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "threatMatches": {
      "resources": {},
      "methods": {
        "find": {
          "id": "safebrowsing.threatMatches.find",
          "path": "v4/threatMatches:find",
          "httpMethod": "POST",
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          },
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "scopes": [],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    }
  },
  "methods": {}
}