{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "dlp:v2",
  "name": "dlp",
  "canonicalName": "DLP",
  "fullyEncodeReservedExpansion": true,
  "version": "v2",
  "revision": "20210314",
  "title": "Cloud Data Loss Prevention (DLP) API",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "protocol": "rest",
  "baseUrl": "https://dlp.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://dlp.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GooglePrivacyDlpV2Action": {
      "id": "GooglePrivacyDlpV2Action",
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "jobNotificationEmails": {
          "description": "Enable email notification for project owners and editors on job's completion/failure.",
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails"
        },
        "pubSub": {
          "description": "Publish a notification to a pubsub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "publishFindingsToCloudDataCatalog": {
          "description": "Publish findings to Cloud Datahub.",
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
        },
        "publishSummaryToCscc": {
          "description": "Publish summary to Cloud Security Command Center (Alpha).",
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc"
        },
        "publishToStackdriver": {
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count.",
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver"
        },
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest",
      "description": "Request message for ActivateJobTrigger.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "description": "Result of a risk analysis operation request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "categoricalStatsResult": {
          "description": "Categorical stats result",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "deltaPresenceEstimationResult": {
          "description": "Delta-presence result",
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "kAnonymityResult": {
          "description": "K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        },
        "kMapEstimationResult": {
          "description": "K-map result",
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "lDiversityResult": {
          "description": "L-divesity result",
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "numericalStatsResult": {
          "description": "Numerical stats result",
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult"
        },
        "requestedOptions": {
          "description": "The configuration used for this job.",
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions"
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2AuxiliaryTable": {
      "id": "GooglePrivacyDlpV2AuxiliaryTable",
      "description": "An auxiliary table contains statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "quasiIds": {
          "description": "Required. Quasi-identifier columns.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdField"
          }
        },
        "relativeFrequency": {
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "table": {
          "description": "Required. Auxiliary table location.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2BigQueryField": {
      "id": "GooglePrivacyDlpV2BigQueryField",
      "description": "Message defining a field of a BigQuery table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "field": {
          "description": "Designated field in the BigQuery table.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "table": {
          "description": "Source table of the field.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "id": "GooglePrivacyDlpV2BigQueryKey",
      "description": "Row key for identifying a record in BigQuery table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "rowNumber": {
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "description": "Options defining BigQuery table and row identifiers.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "excludedFields": {
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "identifyingFields": {
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rowsLimit": {
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rowsLimitPercent": {
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "sampleMethod": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "id": "GooglePrivacyDlpV2BoundingBox",
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "height": {
          "description": "Height of the bounding box in pixels.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2Bucket": {
      "id": "GooglePrivacyDlpV2Bucket",
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "min": {
          "description": "Lower bound of the range, inclusive. Type should be the same as max if used.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "description": "Required. Replacement value for this bucket.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "description": "Container for bytes to inspect or redact.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "data": {
          "description": "Content data to inspect or redact.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "type": "string",
          "format": null,
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "AVRO",
            "CSV",
            "TSV"
          ],
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "avro",
            "csv",
            "tsv"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest",
      "description": "The request message for canceling a DLP job.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig",
      "description": "Compute numerical stats over an individual column, including number of distinct values and value count distribution.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are supported except for arrays and structs. However, it may be more informative to use NumericalStats when the field type is supported, depending on the data.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "description": "Histogram of value frequencies in the column.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bucketSize": {
          "description": "Total number of values in this bucket.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "bucketValueCount": {
          "description": "Total number of distinct values in this bucket.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "bucketValues": {
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "valueFrequencyUpperBound": {
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "id": "GooglePrivacyDlpV2CategoricalStatsResult",
      "description": "Result of the categorical stats computation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "description": "Histogram of value frequencies in the column.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        },
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "id": "GooglePrivacyDlpV2CharsToIgnore",
      "description": "Characters to skip when doing deidentification of a value. These will be left alone and skipped.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "charactersToSkip": {
          "description": "Characters to not transform when masking.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "commonCharactersToIgnore": {
          "description": "Common characters to not transform when masking. Useful to avoid removing punctuation.",
          "type": "string",
          "format": null,
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ],
          "enumDescriptions": [
            "Unused.",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "id": "GooglePrivacyDlpV2CloudStorageFileSet",
      "description": "Message representing a set of files in Cloud Storage.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "id": "GooglePrivacyDlpV2CloudStorageOptions",
      "description": "Options defining a file or a set of files within a Google Cloud Storage bucket.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bytesLimitPerFile": {
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger than this value then the rest of the bytes are omitted. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "bytesLimitPerFilePercent": {
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The number of bytes scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "fileSet": {
          "description": "The set of one or more files to scan.",
          "$ref": "GooglePrivacyDlpV2FileSet"
        },
        "fileTypes": {
          "description": "List of file type groups to include in the scan. If empty, all files are scanned and available data format processors are applied. In addition, the binary content of the selected files is always scanned as well. Images are scanned only as binary if the specified region does not support image inspection and no file_types were specified. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV"
            ],
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other FileType's in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. bytes_limit_per_file has no effect on image files. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
              "Word files >30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm",
              "PDF files >30 MB will be scanned as binary files. Included file extensions: pdf",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv"
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "filesLimitPercent": {
          "description": "Limits the number of files to scan to this percentage of the input FileSet. Number of files scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "sampleMethod": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset to start scanning. The scanned bytes are contiguous."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "description": "Message representing a single file or path in Cloud Storage.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage. Example: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular expressions are used to allow fine-grained control over which files in the bucket to include. Included files are those that match at least one item in `include_regex` and do not match any items in `exclude_regex`. Note that a file that matches items from both lists will _not_ be included. For a match to occur, the entire file path (i.e., everything in the url after the bucket name) must match the regular expression. For example, given the input `{bucket_name: \"mybucket\", include_regex: [\"directory1/.*\"], exclude_regex: [\"directory1/excluded.*\"]}`: * `gs://mybucket/directory1/myfile` will be included * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches across `/`) * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the full path doesn't match any items in `include_regex`) * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path matches an item in `exclude_regex`) If `include_regex` is left empty, it will match all files by default (this is equivalent to setting `include_regex: [\".*\"]`). Some other common use cases: * `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all files in `mybucket` except for .pdf files * `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will include all files directly under `gs://mybucket/directory/`, without matching across `/`",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "excludeRegex": {
          "description": "A list of regular expressions matching file paths to exclude. All files in the bucket that match at least one of these regular expressions will be excluded from the scan. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "includeRegex": {
          "description": "A list of regular expressions matching file paths to include. All files in the bucket that match at least one of these regular expressions will be included in the set of files, except for those that also match an item in `exclude_regex`. Leaving this field empty will match all files by default (this is equivalent to including `.*` in the list). Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2Color": {
      "id": "GooglePrivacyDlpV2Color",
      "description": "Represents a color in the RGB color space.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2Condition": {
      "id": "GooglePrivacyDlpV2Condition",
      "description": "The field type of `value` and `field` do not need to match to be considered equal, but not all comparisons are possible. EQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types, but all other comparisons are invalid with incompatible types. A `value` of type: - `string` can be compared against all other types - `boolean` can only be compared against other booleans - `integer` can be compared against doubles or a string if the string value can be parsed as an integer. - `double` can be compared against integers or a string if the string can be parsed as a double. - `Timestamp` can be compared against strings in RFC 3339 date string format. - `TimeOfDay` can be compared against timestamps and strings in the format of 'HH:mm:ss'. If we fail to compare do to type mismatch, a warning will be given and the condition will evaluate to false.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "field": {
          "description": "Required. Field within the record this condition is evaluated against.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "operator": {
          "description": "Required. Operator used to compare the field or infoType to the value.",
          "type": "string",
          "format": null,
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2Conditions": {
      "id": "GooglePrivacyDlpV2Conditions",
      "description": "A collection of conditions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "conditions": {
          "description": "A collection of conditions.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2Container": {
      "id": "GooglePrivacyDlpV2Container",
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fullPath": {
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Google Cloud Storage: 'gs://Bucket/folders/filename.txt'",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "projectId": {
          "description": "Project where the finding was found. Can be different from the project that owns the finding.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "relativePath": {
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - Google Cloud Storage file `gs://bucket/folder/filename.txt`, the relative path is `folder/filename.txt`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rootPath": {
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Google Cloud Storage file `gs://bucket/folder/filename.txt`, the root is `gs://bucket`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Container type, for example BigQuery or Google Cloud Storage.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateTime": {
          "description": "Findings container modification timestamp, if applicable. For Google Cloud Storage contains last file modification timestamp. For BigQuery table contains last_modified_time property. For Datastore - not populated.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "version": {
          "description": "Findings container version, if available (\"generation\" for Google Cloud Storage).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2ContentItem": {
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "table": {
          "description": "Structured content for inspection. See https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to learn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        },
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "id": "GooglePrivacyDlpV2ContentLocation",
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "containerName": {
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for an example an image contained within a document).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "containerTimestamp": {
          "description": "Findings container modification timestamp, if applicable. For Google Cloud Storage contains last file modification timestamp. For BigQuery table contains last_modified_time property. For Datastore - not populated.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "containerVersion": {
          "description": "Findings container version, if available (\"generation\" for Google Cloud Storage).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "documentLocation": {
          "description": "Location data for document files.",
          "$ref": "GooglePrivacyDlpV2DocumentLocation"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "description": "Request message for CreateDeidentifyTemplate.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deidentifyTemplate": {
          "description": "Required. The DeidentifyTemplate to create.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CreateDlpJobRequest": {
      "id": "GooglePrivacyDlpV2CreateDlpJobRequest",
      "description": "Request message for CreateDlpJobRequest. Used to initiate long running jobs such as calculating risk metrics or inspecting Google Cloud Storage.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "inspectJob": {
          "description": "An inspection job scans a storage repository for InfoTypes.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "jobId": {
          "description": "The job id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "riskJob": {
          "description": "A risk analysis job calculates re-identification risk metrics for a BigQuery table.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "description": "Request message for CreateInspectTemplate.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "inspectTemplate": {
          "description": "Required. The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest",
      "description": "Request message for CreateJobTrigger.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "jobTrigger": {
          "description": "Required. The JobTrigger to create.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "triggerId": {
          "description": "The trigger id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest",
      "description": "Request message for CreateStoredInfoType.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "config": {
          "description": "Required. Configuration of the storedInfoType to create.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "storedInfoTypeId": {
          "description": "The storedInfoType ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig",
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "context": {
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "The key used by the encryption function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "surrogateInfoType": {
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. The key size must be either 32 or 64 bytes. Outputs a base64 encoded representation of the hashed output (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=). Currently, only string and integer values can be hashed. See https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cryptoKey": {
          "description": "The key used by the hash function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "id": "GooglePrivacyDlpV2CryptoKey",
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by KMS). When using KMS to wrap/unwrap DEKs, be sure to set an appropriate IAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot unwrap the data crypto key.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kmsWrapped": {
          "description": "Kms wrapped key",
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        },
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "unwrapped": {
          "description": "Unwrapped crypto key",
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "commonAlphabet": {
          "description": "Common alphabets.",
          "type": "string",
          "format": null,
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "Required. The key used by the encryption algorithm.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before/after encryption/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ~`!@#$%^&*()_-+={[}]|\\:;\"'<,>.?/",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "detectionRules": {
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "dictionary": {
          "description": "A list of phrases to detect as a CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "exclusionType": {
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching.",
          "type": "string",
          "format": null,
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "likelihood": {
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified.",
          "type": "string",
          "format": null,
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "surrogateType": {
          "description": "Message for detecting output from deidentification transformations that support reversing.",
          "$ref": "GooglePrivacyDlpV2SurrogateType"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DatastoreKey": {
      "id": "GooglePrivacyDlpV2DatastoreKey",
      "description": "Record key for a finding in Cloud Datastore.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "entityKey": {
          "description": "Datastore entity key.",
          "$ref": "GooglePrivacyDlpV2Key"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "id": "GooglePrivacyDlpV2DatastoreOptions",
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "The kind to process.",
          "$ref": "GooglePrivacyDlpV2KindExpression"
        },
        "partitionId": {
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "description": "Shifts dates by random number of days, with option to be consistent for the same context. See https://cloud.google.com/dlp/docs/concepts-date-shifting to learn more.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "context": {
          "description": "Points to the field that contains the context, for example, an entity id. If set, must also set cryptoKey. If set, shift will be consistent for the given context.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "Causes the shift to be computed based on this key and the context. This results in the same shift for the same context and crypto_key. If set, must also set context. Can only be applied to table items.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "lowerBoundDays": {
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "upperBoundDays": {
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this range (inclusive ends). Negative means shift to earlier in time. Must not be more than 365250 days (1000 years) each direction. For example, 3 means shift date to at most 3 days into the future.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DateTime": {
      "id": "GooglePrivacyDlpV2DateTime",
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "date": {
          "description": "One or more of the following must be set. Must be a valid date or time value.",
          "$ref": "GoogleTypeDate"
        },
        "dayOfWeek": {
          "description": "Day of week",
          "type": "string",
          "format": null,
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "timeZone": {
          "description": "Time zone",
          "$ref": "GooglePrivacyDlpV2TimeZone"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "description": "The configuration that controls how the data will change.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "infoTypeTransformations": {
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        },
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "description": "Request to de-identify a list of items.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deidentifyConfig": {
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "deidentifyTemplateName": {
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "item": {
          "description": "The item to de-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "id": "GooglePrivacyDlpV2DeidentifyTemplate",
      "description": "DeidentifyTemplates contains instructions on how to de-identify content. See https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "deidentifyConfig": {
          "description": "The core content of the template.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          }
        },
        "quasiIds": {
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket",
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following values: min_probability: 0.1 max_probability: 0.2 frequency: 42 means that there are 42 records for which δ is in [0.1, 0.2). An important particular case is when min_probability = max_probability = 1: then, every individual who shares this quasi-identifier combination is in the dataset.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bucketSize": {
          "description": "Number of records within these probability bounds.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          }
        },
        "maxProbability": {
          "description": "Always greater than or equal to min_probability.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minProbability": {
          "description": "Between 0 and 1.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues",
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "estimatedProbability": {
          "description": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "id": "GooglePrivacyDlpV2DetectionRule",
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2Dictionary": {
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can be used to match sensitive information specific to the data, such as a list of employee IDs or job titles. Dictionary words are case-insensitive and all characters other than letters and digits in the unicode [Basic Multilingual Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane) will be replaced with whitespace when scanning for matches, so the dictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\", \"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters surrounding any match must be of a different type than the adjacent characters within the word, so letters must be next to non-letters and digits next to non-digits. For example, the dictionary word \"jen\" will match the first three letters of the text \"jen123\" but will return no matches for \"jennifer\". Dictionary words containing a large number of characters that are not letters or digits may result in unexpected findings because such characters are treated as whitespace. The [limits](https://cloud.google.com/dlp/limits) page contains details about the size limits of dictionaries. For dictionaries that do not fit within these constraints, consider using `LargeCustomDictionaryConfig` in the `StoredInfoType` API.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file is accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        },
        "wordList": {
          "description": "List of words or phrases to search for.",
          "$ref": "GooglePrivacyDlpV2WordList"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DlpJob": {
      "id": "GooglePrivacyDlpV2DlpJob",
      "description": "Combines all of the information about a DLP job.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Time when the job was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "endTime": {
          "description": "Time when the job finished.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "inspectDetails": {
          "description": "Results from inspecting a data source.",
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails"
        },
        "jobTriggerName": {
          "description": "If created by a job trigger, the resource name of the trigger that instantiated the job.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The server-assigned name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "riskDetails": {
          "description": "Results from analyzing risk of a data source.",
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
        },
        "startTime": {
          "description": "Time when the job started.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "State of a job.",
          "type": "string",
          "format": null,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The job has not yet started.",
            "The job is currently running. Once a job has finished it will transition to FAILED or DONE.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete.",
            "The job is currently accepting findings via hybridInspect. A hybrid job in ACTIVE state may continue to have findings added to it through calling of hybridInspect. After the job has finished no more calls to hybridInspect may be made. ACTIVE jobs can transition to DONE."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of job.",
          "type": "string",
          "format": null,
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "enumDescriptions": [
            "Unused",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "description": "Location of a finding within a document.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fileOffset": {
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "type": "string",
[...]
