{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "youtube:v3",
  "name": "youtube",
  "canonicalName": "YouTube",
  "fullyEncodeReservedExpansion": true,
  "version": "v3",
  "revision": "20210314",
  "title": "YouTube Data API v3",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/youtube/",
  "protocol": "rest",
  "baseUrl": "https://youtube.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://youtube.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": null,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        }
      }
    }
  },
  "schemas": {
    "AbuseReport": {
      "id": "AbuseReport",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "abuseTypes": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AbuseType"
          }
        },
        "description": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "relatedEntities": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "RelatedEntity"
          }
        },
        "subject": {
          "description": null,
          "$ref": "Entity"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AbuseType": {
      "id": "AbuseType",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AccessPolicy": {
      "id": "AccessPolicy",
      "description": "Rights management policy for YouTube resources.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "allowed": {
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "exception": {
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Activity": {
      "id": "Activity",
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "snippet": {
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetails": {
      "id": "ActivityContentDetails",
      "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bulletin": {
          "description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin.",
          "$ref": "ActivityContentDetailsBulletin"
        },
        "channelItem": {
          "description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem.",
          "$ref": "ActivityContentDetailsChannelItem"
        },
        "comment": {
          "description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment.",
          "$ref": "ActivityContentDetailsComment"
        },
        "favorite": {
          "description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite.",
          "$ref": "ActivityContentDetailsFavorite"
        },
        "like": {
          "description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like.",
          "$ref": "ActivityContentDetailsLike"
        },
        "playlistItem": {
          "description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem.",
          "$ref": "ActivityContentDetailsPlaylistItem"
        },
        "promotedItem": {
          "description": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem.",
          "$ref": "ActivityContentDetailsPromotedItem"
        },
        "recommendation": {
          "description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation.",
          "$ref": "ActivityContentDetailsRecommendation"
        },
        "social": {
          "description": "The social object contains details about a social network post. This property is only present if the snippet.type is social.",
          "$ref": "ActivityContentDetailsSocial"
        },
        "subscription": {
          "description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription.",
          "$ref": "ActivityContentDetailsSubscription"
        },
        "upload": {
          "description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload.",
          "$ref": "ActivityContentDetailsUpload"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsBulletin": {
      "id": "ActivityContentDetailsBulletin",
      "description": "Details about a channel bulletin post.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsChannelItem": {
      "id": "ActivityContentDetailsChannelItem",
      "description": "Details about a resource which was added to a channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was added to the channel.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsComment": {
      "id": "ActivityContentDetailsComment",
      "description": "Information about a resource that received a comment.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsFavorite": {
      "id": "ActivityContentDetailsFavorite",
      "description": "Information about a video that was marked as a favorite video.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was marked as a favorite.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsLike": {
      "id": "ActivityContentDetailsLike",
      "description": "Information about a resource that received a positive (like) rating.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the rated resource.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsPlaylistItem": {
      "id": "ActivityContentDetailsPlaylistItem",
      "description": "Information about a new playlist item.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "playlistId": {
          "description": "The value that YouTube uses to uniquely identify the playlist.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "playlistItemId": {
          "description": "ID of the item within the playlist.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "resourceId": {
          "description": "The resourceId object contains information about the resource that was added to the playlist.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsPromotedItem": {
      "id": "ActivityContentDetailsPromotedItem",
      "description": "Details about a resource which is being promoted.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adTag": {
          "description": "The URL the client should fetch to request a promoted item.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "clickTrackingUrl": {
          "description": "The URL the client should ping to indicate that the user clicked through on this promoted item.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "creativeViewUrl": {
          "description": "The URL the client should ping to indicate that the user was shown this promoted item.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ctaType": {
          "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
          "type": "string",
          "format": null,
          "enum": [
            "ctaTypeUnspecified",
            "visitAdvertiserSite"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "customCtaButtonText": {
          "description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "descriptionText": {
          "description": "The text description to accompany the promoted item.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "destinationUrl": {
          "description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "forecastingUrl": {
          "description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "impressionUrl": {
          "description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the promoted video.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsRecommendation": {
      "id": "ActivityContentDetailsRecommendation",
      "description": "Information that identifies the recommended resource.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "type": "string",
          "format": null,
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "resourceId": {
          "description": "The resourceId object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "seedResourceId": {
          "description": "The seedResourceId object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsSocial": {
      "id": "ActivityContentDetailsSocial",
      "description": "Details about a social network post.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of the social network post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "referenceUrl": {
          "description": "The URL of the social network post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "resourceId": {
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post.",
          "$ref": "ResourceId"
        },
        "type": {
          "description": "The name of the social network.",
          "type": "string",
          "format": null,
          "enum": [
            "typeUnspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsSubscription": {
      "id": "ActivityContentDetailsSubscription",
      "description": "Information about a channel that a user subscribed to.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that the user subscribed to.",
          "$ref": "ResourceId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityContentDetailsUpload": {
      "id": "ActivityContentDetailsUpload",
      "description": "Information about the uploaded video.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the uploaded video.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivityListResponse": {
      "id": "ActivityListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Activity"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tokenPagination": {
          "description": null,
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActivitySnippet": {
      "id": "ActivitySnippet",
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "channelTitle": {
          "description": "Channel title for the channel responsible for this activity",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "groupId": {
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "publishedAt": {
          "description": "The date and time that the video was uploaded.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "description": "The title of the resource primarily associated with the activity.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of activity that the resource describes.",
          "type": "string",
          "format": null,
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Caption": {
      "id": "Caption",
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "snippet": {
          "description": "The snippet object contains basic details about the caption.",
          "$ref": "CaptionSnippet"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CaptionListResponse": {
      "id": "CaptionListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "A list of captions that match the request criteria.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Caption"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CaptionSnippet": {
      "id": "CaptionSnippet",
      "description": "Basic details about a caption track, such as its language and name.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "audioTrackType": {
          "description": "The type of audio track associated with the caption track.",
          "type": "string",
          "format": null,
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "failureReason": {
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "type": "string",
          "format": null,
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isCC": {
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isLarge": {
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "language": {
          "description": "The language of the caption track. The property value is a BCP-47 language tag.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lastUpdated": {
          "description": "The date and time when the caption track was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "The caption track's status.",
          "type": "string",
          "format": null,
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "trackKind": {
          "description": "The caption track's type.",
          "type": "string",
          "format": null,
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CdnSettings": {
      "id": "CdnSettings",
      "description": "Brief description of the live stream cdn settings.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "format": {
          "description": "The format of the video stream that you are sending to Youtube. ",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "frameRate": {
          "description": "The frame rate of the inbound video data.",
          "type": "string",
          "format": null,
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ingestionInfo": {
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube.",
          "$ref": "IngestionInfo"
        },
        "ingestionType": {
          "description": " The method or protocol used to transmit the video stream.",
          "type": "string",
          "format": null,
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "resolution": {
          "description": "The resolution of the inbound video data.",
          "type": "string",
          "format": null,
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Channel": {
      "id": "Channel",
      "description": "A *channel* resource contains information about a YouTube channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "auditDetails": {
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process.",
          "$ref": "ChannelAuditDetails"
        },
        "brandingSettings": {
          "description": "The brandingSettings object encapsulates information about the branding of the channel.",
          "$ref": "ChannelBrandingSettings"
        },
        "contentDetails": {
          "description": "The contentDetails object encapsulates information about the channel's content.",
          "$ref": "ChannelContentDetails"
        },
        "contentOwnerDetails": {
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
          "$ref": "ChannelContentOwnerDetails"
        },
        "conversionPings": {
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
          "$ref": "ChannelConversionPings"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": null,
            "$ref": "ChannelLocalization"
          },
          "items": null
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images.",
          "$ref": "ChannelSnippet"
        },
        "statistics": {
          "description": "The statistics object encapsulates statistics for the channel.",
          "$ref": "ChannelStatistics"
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel.",
          "$ref": "ChannelTopicDetails"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelAuditDetails": {
      "id": "ChannelAuditDetails",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelBannerResource": {
      "id": "ChannelBannerResource",
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL of this banner image.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelBrandingSettings": {
      "id": "ChannelBrandingSettings",
      "description": "Branding properties of a YouTube channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "channel": {
          "description": "Branding properties for the channel view.",
          "$ref": "ChannelSettings"
        },
        "hints": {
          "description": "Additional experimental branding properties.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "PropertyValue"
          }
        },
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "watch": {
          "description": "Branding properties for the watch page.",
          "$ref": "WatchSettings"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelContentDetails": {
      "id": "ChannelContentDetails",
      "description": "Details about the content of a channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "relatedPlaylists": {
          "description": null,
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "favorites": {
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "likes": {
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "uploads": {
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "watchHistory": {
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "watchLater": {
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelContentOwnerDetails": {
      "id": "ChannelContentOwnerDetails",
      "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "contentOwner": {
          "description": "The ID of the content owner linked to the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "timeLinked": {
          "description": "The date and time when the channel was linked to the content owner.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelConversionPing": {
      "id": "ChannelConversionPing",
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "context": {
          "description": "Defines the context of the ping.",
          "type": "string",
          "format": null,
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "conversionUrl": {
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelConversionPings": {
      "id": "ChannelConversionPings",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "pings": {
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ChannelConversionPing"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelListResponse": {
      "id": "ChannelListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Channel"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tokenPagination": {
          "description": null,
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelLocalization": {
      "id": "ChannelLocalization",
      "description": "Channel localization setting",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "The localized strings for channel's description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The localized strings for channel's title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelProfileDetails": {
      "id": "ChannelProfileDetails",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSection": {
      "id": "ChannelSection",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section.",
          "$ref": "ChannelSectionContentDetails"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel section.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": null,
            "$ref": "ChannelSectionLocalization"
          },
          "items": null
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title.",
          "$ref": "ChannelSectionSnippet"
        },
        "targeting": {
          "description": "The targeting object contains basic targeting settings about the channel section.",
          "$ref": "ChannelSectionTargeting"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSectionContentDetails": {
      "id": "ChannelSectionContentDetails",
      "description": "Details about a channelsection, including playlists and channels.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "channels": {
          "description": "The channel ids for type multiple_channels.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "playlists": {
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSectionListResponse": {
      "id": "ChannelSectionListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "A list of ChannelSections that match the request criteria.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ChannelSection"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSectionLocalization": {
      "id": "ChannelSectionLocalization",
      "description": "ChannelSection localization setting",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "title": {
          "description": "The localized strings for channel section's title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSectionSnippet": {
      "id": "ChannelSectionSnippet",
      "description": "Basic details about a channel section, including title, style and position.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "defaultLanguage": {
          "description": "The language of the channel section's default title and description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "localized": {
          "description": "Localized title, read-only.",
          "$ref": "ChannelSectionLocalization"
        },
        "position": {
          "description": "The position of the channel section in the channel.",
          "type": "integer",
          "format": "uint32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "style": {
          "description": "The style of the channel section.",
          "type": "string",
          "format": null,
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of the channel section.",
          "type": "string",
          "format": null,
          "enum": [
            "channelsectionTypeUnspecified",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSectionTargeting": {
      "id": "ChannelSectionTargeting",
      "description": "ChannelSection targeting setting.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "countries": {
          "description": "The country the channel section is targeting.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "languages": {
          "description": "The language the channel section is targeting.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "regions": {
          "description": "The region the channel section is targeting.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSettings": {
      "id": "ChannelSettings",
      "description": "Branding properties for the channel view.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "country": {
          "description": "The country of the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "defaultLanguage": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "defaultTab": {
          "description": "Which content tab users should see when viewing the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Specifies the channel description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "featuredChannelsTitle": {
          "description": "Title for the featured channels tab.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "featuredChannelsUrls": {
          "description": "The list of featured channels.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "moderateComments": {
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "profileColor": {
          "description": "A prominent color that can be rendered on this channel page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "showBrowseView": {
          "description": "Whether the tab to browse the videos should be displayed.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "showRelatedChannels": {
          "description": "Whether related channels should be proposed.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "Specifies the channel title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "unsubscribedTrailer": {
          "description": "The trailer of the channel, for users that are not subscribers.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelSnippet": {
      "id": "ChannelSnippet",
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "country": {
          "description": "The country of the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "customUrl": {
          "description": "The custom url of the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "defaultLanguage": {
          "description": "The language of the channel's default title and description.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "The description of the channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "localized": {
          "description": "Localized title and description, read-only.",
          "$ref": "ChannelLocalization"
        },
        "publishedAt": {
          "description": "The date and time that the channel was created.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "description": "The channel's title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelStatistics": {
      "id": "ChannelStatistics",
      "description": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "commentCount": {
          "description": "The number of comments for the channel.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hiddenSubscriberCount": {
          "description": "Whether or not the number of subscribers is shown for this user.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "subscriberCount": {
          "description": "The number of subscribers that the channel has.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "videoCount": {
          "description": "The number of videos uploaded to the channel.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "viewCount": {
          "description": "The number of times the channel has been viewed.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "description": "JSON template for the status part of a channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "longUploadsStatus": {
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "type": "string",
          "format": null,
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "madeForKids": {
          "description": null,
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "type": "string",
          "format": null,
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfDeclaredMadeForKids": {
          "description": null,
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelToStoreLinkDetails": {
      "id": "ChannelToStoreLinkDetails",
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "storeName": {
          "description": "Name of the store.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "storeUrl": {
          "description": "Landing page of the store.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ChannelTopicDetails": {
      "id": "ChannelTopicDetails",
      "description": "Freebase topic information related to the channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "topicCategories": {
          "description": "A list of Wikipedia URLs that describe the channel's content.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "topicIds": {
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Comment": {
      "id": "Comment",
      "description": "A *comment* represents a single YouTube comment.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CommentListResponse": {
      "id": "CommentListResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "items": {
          "description": "A list of comments that match the request criteria.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": null,
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CommentSnippet": {
      "id": "CommentSnippet",
      "description": "Basic details about a comment, such as its author and text.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "authorChannelId": {
          "description": null,
          "$ref": "CommentSnippetAuthorChannelId"
        },
        "authorChannelUrl": {
          "description": "Link to the author's YouTube channel, if any.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "authorDisplayName": {
          "description": "The name of the user who posted the comment.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "authorProfileImageUrl": {
          "description": "The URL for the avatar of the user who posted the comment.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canRate": {
          "description": "Whether the current viewer can rate this comment.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "channelId": {
          "description": "The id of the corresponding YouTube channel. In case of a channel comment this is the channel the comment refers to. In case of a video comment it's the video's channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "likeCount": {
          "description": "The total number of likes this comment has received.",
          "type": "integer",
          "format": "uint32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "moderationStatus": {
          "description": "The comment's moderation status. Will not be set if the comments were requested through the id filter.",
          "type": "string",
          "format": null,
          "enum": [
            "published",
            "heldForReview",
            "likelySpam",
            "rejected"
          ],
          "enumDescriptions": [
            "The comment is available for public display.",
            "The comment is awaiting review by a moderator.",
            "",
            "The comment is unfit for display."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "parentId": {
          "description": "The unique id of the parent comment, only set for replies.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "publishedAt": {
          "description": "The date and time when the comment was originally published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "textDisplay": {
[...]
