{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "servicebroker:v1alpha1",
  "name": "servicebroker",
  "canonicalName": "Service Broker",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "revision": "20190812",
  "title": "Service Broker API",
  "description": "The Google Cloud Platform Service Broker API provides Google hosted\nimplementation of the Open Service Broker API\n(https://www.openservicebrokerapi.org/).\n",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/kubernetes-engine/docs/concepts/add-on/service-broker",
  "protocol": "rest",
  "baseUrl": "https://servicebroker.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://servicebroker.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudServicebrokerV1alpha1__Binding": {
      "id": "GoogleCloudServicebrokerV1alpha1__Binding",
      "description": "Describes the binding.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bind_resource": {
          "description": "A JSON object that contains data for platform resources associated with\nthe binding to be created.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "binding_id": {
          "description": "The id of the binding. Must be unique within GCP project.\nMaximum length is 64, GUID recommended.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "createTime": {
          "description": "Output only. Timestamp for when the binding was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "parameters": {
          "description": "Configuration options for the service binding.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "plan_id": {
          "description": "The ID of the plan. See `Service` and `Plan` resources for details.\nMaximum length is 64, GUID recommended.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "service_id": {
          "description": "The id of the service. Must be a valid identifier of a service\ncontained in the list from a `ListServices()` call.\nMaximum length is 64, GUID recommended.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__CreateBindingResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__CreateBindingResponse",
      "description": "Response for the `CreateBinding()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "credentials": {
          "description": "Credentials to use the binding.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "operation": {
          "description": "If broker executes operation asynchronously, this is the operation ID that\ncan be polled to check the completion status of said operation.\nThis broker always executes all create/delete operations asynchronously.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "route_service_url": {
          "description": "A URL to which the platform may proxy requests for the address sent with\nbind_resource.route",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "syslog_drain_url": {
          "description": "From where to read system logs.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volume_mounts": {
          "description": "An array of configuration for mounting volumes.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__CreateServiceInstanceResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__CreateServiceInstanceResponse",
      "description": "Response for the `CreateServiceInstance()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "operation": {
          "description": "If broker executes operation asynchronously, this is the operation ID that\ncan be polled to check the completion status of said operation.\nThis broker always will return a non-empty operation on success.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__DashboardClient": {
      "id": "GoogleCloudServicebrokerV1alpha1__DashboardClient",
      "description": "Message containing information required to activate Dashboard SSO feature.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "The id of the Oauth client that the dashboard will use.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "redirect_uri": {
          "description": "A URI for the service dashboard.\nValidated by the OAuth token server when the dashboard requests a token.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "secret": {
          "description": "A secret for the dashboard client.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__DeleteBindingResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__DeleteBindingResponse",
      "description": "Response for the `DeleteBinding()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "operation": {
          "description": "If broker executes operation asynchronously, this is the operation ID that\ncan be polled to check the completion status of said operation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__DeleteServiceInstanceResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__DeleteServiceInstanceResponse",
      "description": "Response for the `DeleteServiceInstance()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "operation": {
          "description": "If broker executes operation asynchronously, this is the operation ID that\ncan be polled to check the completion status of said operation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__GetBindingResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__GetBindingResponse",
      "description": "Response for the `GetBinding()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "credentials": {
          "description": "Credentials to use the binding.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "route_service_url": {
          "description": "A URL to which the platform may proxy requests for the address sent with\nbind_resource.route",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "syslog_drain_url": {
          "description": "From where to read system logs.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volume_mounts": {
          "description": "An array of configuration for mounting volumes.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__ListBindingsResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__ListBindingsResponse",
      "description": "The response for the `ListBindings()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bindings": {
          "description": "The list of the bindings in the instance.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudServicebrokerV1alpha1__Binding"
          }
        },
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `pageSize`, use the `nextPageToken`\nas a value for the query parameter `pageToken` in the next list request.\nSubsequent list requests will have their own `nextPageToken` to continue\npaging through the results",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__ListCatalogResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__ListCatalogResponse",
      "description": "Response message for the `ListCatalog()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `pageSize`, use the `nextPageToken`\nas a value for the query parameter `pageToken` in the next list request.\nSubsequent list requests will have their own `nextPageToken` to continue\npaging through the results",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "services": {
          "description": "The services available for the requested GCP project.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudServicebrokerV1alpha1__Service"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__ListServiceInstancesResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__ListServiceInstancesResponse",
      "description": "The response for the `ListServiceInstances()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "instances": {
          "description": "The list of the instances in the broker.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudServicebrokerV1alpha1__ServiceInstance"
          }
        },
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `pageSize`, use the `nextPageToken`\nas a value for the query parameter `pageToken` in the next list request.\nSubsequent list requests will have their own `nextPageToken` to continue\npaging through the results",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__Operation": {
      "id": "GoogleCloudServicebrokerV1alpha1__Operation",
      "description": "Describes a long running operation, which conforms to OpenService API.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Optional description of the Operation state.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "The state of the operation.\nValid values are: \"in progress\", \"succeeded\", and \"failed\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__Plan": {
      "id": "GoogleCloudServicebrokerV1alpha1__Plan",
      "description": "Plan message describes a Service Plan.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bindable": {
          "description": "Specifies whether instances of the service can be bound to applications.\nIf not specified, `Service.bindable` will be presumed.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Textual description of the plan. Optional.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "free": {
          "description": "Whether the service is free.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "ID is a globally unique identifier used to uniquely identify the plan.\nUser must make no presumption about the format of this field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "metadata": {
          "description": "A list of metadata for a service offering.\nMetadata is an arbitrary JSON object.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "name": {
          "description": "User friendly name of the plan.\nThe name must be globally unique within GCP project.\nNote, which is different from (\"This must be globally unique within a\nplatform marketplace\").",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schemas": {
          "description": "Schema definitions for service instances and bindings for the plan.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__Service": {
      "id": "GoogleCloudServicebrokerV1alpha1__Service",
      "description": "The resource model mostly follows the Open Service Broker API, as\ndescribed here:\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/_spec.md\nThough due to Google Specifics it has additional optional fields.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bindable": {
          "description": "Specifies whether instances of the service can be bound to applications.\nRequired.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "binding_retrievable": {
          "description": "Whether the service provides an endpoint to get service bindings.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dashboard_client": {
          "description": "Information to activate Dashboard SSO feature.",
          "$ref": "GoogleCloudServicebrokerV1alpha1__DashboardClient"
        },
        "description": {
          "description": "Textual description of the service. Required.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "ID is a globally unique identifier used to uniquely identify the service.\nID is an opaque string.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "instance_retrievable": {
          "description": "Whether the service provides an endpoint to get service instances.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "metadata": {
          "description": "A list of metadata for a service offering.\nMetadata is an arbitrary JSON object.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "name": {
          "description": "User friendly service name.\nName must match [a-z0-9]+ regexp.\nThe name must be globally unique within GCP project.\nNote, which is different from (\"This must be globally unique within a\nplatform marketplace\").\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "plan_updateable": {
          "description": "Whether the service supports upgrade/downgrade for some plans.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "plans": {
          "description": "A list of plans for this service.\nAt least one plan is required.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudServicebrokerV1alpha1__Plan"
          }
        },
        "tags": {
          "description": "Tags provide a flexible mechanism to expose a classification, attribute, or\nbase technology of a service.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__ServiceInstance": {
      "id": "GoogleCloudServicebrokerV1alpha1__ServiceInstance",
      "description": "Message describing inputs to Provision and Update Service instance requests.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "context": {
          "description": "Platform specific contextual information under which the service instance\nis to be provisioned. This replaces organization_guid and space_guid.\nBut can also contain anything.\nCurrently only used for logging context information.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "createTime": {
          "description": "Output only. Timestamp for when the instance was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "deploymentName": {
          "description": "Output only. Name of the Deployment Manager deployment used for provisioning of this\nservice instance.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "instance_id": {
          "description": "The id of the service instance. Must be unique within GCP project.\nMaximum length is 64, GUID recommended.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "organization_guid": {
          "description": "The platform GUID for the organization under which the service is to be\nprovisioned.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "parameters": {
          "description": "Configuration options for the service instance.\nParameters is JSON object serialized to string.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "plan_id": {
          "description": "The ID of the plan. See `Service` and `Plan` resources for details.\nMaximum length is 64, GUID recommended.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "previous_values": {
          "description": "Used only in UpdateServiceInstance request to optionally specify previous\nfields.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "resourceName": {
          "description": "Output only. The resource name of the instance, e.g.\nprojects/project_id/brokers/broker_id/service_instances/instance_id",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "service_id": {
          "description": "The id of the service. Must be a valid identifier of a service\ncontained in the list from a `ListServices()` call.\nMaximum length is 64, GUID recommended.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "space_guid": {
          "description": "The identifier for the project space within the platform organization.\nRequired.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudServicebrokerV1alpha1__UpdateServiceInstanceResponse": {
      "id": "GoogleCloudServicebrokerV1alpha1__UpdateServiceInstanceResponse",
      "description": "Response for the `UpdateServiceInstance()` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Used to communicate description of the response. Usually for non-standard\nerror codes.\nhttps://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-broker-errors",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "operation": {
          "description": "If broker executes operation asynchronously, this is the operation ID that\ncan be polled to check the completion status of said operation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleIamV1__Binding": {
      "id": "GoogleIamV1__Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding.\nNOTE: An unsatisfied condition will not allow user access via current\nbinding. Different bindings, including their conditions, are examined\nindependently.",
          "$ref": "GoogleType__Expr"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleIamV1__Policy": {
      "id": "GoogleIamV1__Policy",
      "description": "Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n        },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n    - members:\n      - user:mike@example.com\n      - group:admins@example.com\n      - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n      role: roles/owner\n    - members:\n      - user:sean@example.com\n      role: roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam/docs).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bindings": {
          "description": "Associates a list of `members` to a `role`.\n`bindings` with no members will result in an error.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleIamV1__Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "version": {
          "description": "Deprecated.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleIamV1__SetIamPolicyRequest": {
      "id": "GoogleIamV1__SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them.",
          "$ref": "GoogleIamV1__Policy"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleIamV1__TestIamPermissionsRequest": {
      "id": "GoogleIamV1__TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with\nwildcards (such as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleIamV1__TestIamPermissionsResponse": {
      "id": "GoogleIamV1__TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleType__Expr": {
      "id": "GoogleType__Expr",
      "description": "Represents an expression text. Example:\n\n    title: \"User account presence\"\n    description: \"Determines whether the request has a user account\"\n    expression: \"size(request.user) > 0\"",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "An optional description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "expression": {
          "description": "Textual representation of an expression in\nCommon Expression Language syntax.\n\nThe application context of the containing message determines which\nwell-known feature set of CEL is supported.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "location": {
          "description": "An optional string indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "An optional title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "brokers": {
          "resources": {
            "instances": {
              "resources": {
                "service_bindings": {
                  "resources": {},
                  "methods": {
                    "list": {
                      "id": "servicebroker.projects.brokers.instances.service_bindings.list",
                      "path": "v1alpha1/{+parent}/service_bindings",
                      "httpMethod": "GET",
                      "description": "Lists all the bindings in the instance",
                      "parameters": {
                        "pageSize": {
                          "description": "Specifies the number of results to return per page. If there are fewer\nelements than the specified number, returns all elements.\nOptional. If unset or 0, all the results will be returned.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "integer",
                          "format": "int32",
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "pageToken": {
                          "description": "Specifies a page token to use. Set `pageToken` to a `nextPageToken`\nreturned by a previous list request to get the next page of results.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "parent": {
                          "description": "Parent must match\n`projects/[PROJECT_ID]/brokers/[BROKER_ID]/instances/[INSTANCE_ID]`.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^projects/[^/]+/brokers/[^/]+/instances/[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": null,
                      "response": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__ListBindingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaDownload": false,
                      "useMediaDownloadService": false,
                      "supportsSubscription": false,
                      "supportsMediaUpload": false,
                      "mediaUpload": null
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "id": "servicebroker.projects.brokers.instances.get",
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the given service instance from the system.\nThis API is an extension and not part of the OSB spec.\nHence the path is a standard Google API URL.",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the instance to return.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^projects/[^/]+/brokers/[^/]+/instances/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "GoogleCloudServicebrokerV1alpha1__ServiceInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            },
            "service_instances": {
              "resources": {},
              "methods": {
                "list": {
                  "id": "servicebroker.projects.brokers.service_instances.list",
                  "path": "v1alpha1/{+parent}/service_instances",
                  "httpMethod": "GET",
                  "description": "Lists all the instances in the brokers\nThis API is an extension and not part of the OSB spec.\nHence the path is a standard Google API URL.",
                  "parameters": {
                    "pageSize": {
                      "description": "Specifies the number of results to return per page. If there are fewer\nelements than the specified number, returns all elements.\nOptional. If unset or 0, all the results will be returned.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "Specifies a page token to use. Set `pageToken` to a `nextPageToken`\nreturned by a previous list request to get the next page of results.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "parent": {
                      "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^projects/[^/]+/brokers/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "GoogleCloudServicebrokerV1alpha1__ListServiceInstancesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            },
            "v2": {
              "resources": {
                "catalog": {
                  "resources": {},
                  "methods": {
                    "list": {
                      "id": "servicebroker.projects.brokers.v2.catalog.list",
                      "path": "v1alpha1/{+parent}/v2/catalog",
                      "httpMethod": "GET",
                      "description": "Lists all the Services registered with this broker for consumption for\ngiven service registry broker, which contains an set of services.\nNote, that Service producer API is separate from Broker API.",
                      "parameters": {
                        "pageSize": {
                          "description": "Specifies the number of results to return per page. If there are fewer\nelements than the specified number, returns all elements.\nOptional. If unset or 0, all the results will be returned.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "integer",
                          "format": "int32",
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "pageToken": {
                          "description": "Specifies a page token to use. Set `pageToken` to a `nextPageToken`\nreturned by a previous list request to get the next page of results.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "parent": {
                          "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^projects/[^/]+/brokers/[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": null,
                      "response": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__ListCatalogResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaDownload": false,
                      "useMediaDownloadService": false,
                      "supportsSubscription": false,
                      "supportsMediaUpload": false,
                      "mediaUpload": null
                    }
                  }
                },
                "service_instances": {
                  "resources": {
                    "service_bindings": {
                      "resources": {},
                      "methods": {
                        "create": {
                          "id": "servicebroker.projects.brokers.v2.service_instances.service_bindings.create",
                          "path": "v1alpha1/{+parent}/v2/service_instances/{+instanceId}/service_bindings/{+binding_id}",
                          "httpMethod": "PUT",
                          "description": "CreateBinding generates a service binding to an existing service instance.\nSee ProviServiceInstance for async operation details.",
                          "parameters": {
                            "acceptsIncomplete": {
                              "description": "See CreateServiceInstanceRequest for details.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "boolean",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "binding_id": {
                              "description": "The id of the binding. Must be unique within GCP project.\nMaximum length is 64, GUID recommended.\nRequired.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "instanceId": {
                              "description": "The service instance to which to bind.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "parent": {
                              "description": "The GCP container.\nMust match\n`projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^projects/[^/]+/brokers/[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            }
                          },
                          "parameterOrder": [
                            "parent",
                            "instanceId",
                            "binding_id"
                          ],
                          "request": {
                            "$ref": "GoogleCloudServicebrokerV1alpha1__Binding"
                          },
                          "response": {
                            "$ref": "GoogleCloudServicebrokerV1alpha1__CreateBindingResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "supportsMediaDownload": false,
                          "useMediaDownloadService": false,
                          "supportsSubscription": false,
                          "supportsMediaUpload": false,
                          "mediaUpload": null
                        },
                        "delete": {
                          "id": "servicebroker.projects.brokers.v2.service_instances.service_bindings.delete",
                          "path": "v1alpha1/{+parent}/v2/service_instances/{instanceId}/service_bindings/{bindingId}",
                          "httpMethod": "DELETE",
                          "description": "Unbinds from a service instance.\nFor synchronous/asynchronous request details see CreateServiceInstance\nmethod.\nIf binding does not exist HTTP 410 status will be returned.",
                          "parameters": {
                            "acceptsIncomplete": {
                              "description": "See CreateServiceInstanceRequest for details.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "boolean",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "bindingId": {
                              "description": "The id of the binding to delete.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "instanceId": {
                              "description": "The service instance id that deleted binding is bound to.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "parent": {
                              "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^projects/[^/]+/brokers/[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "planId": {
                              "description": "The plan id of the service instance.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "serviceId": {
                              "description": "Additional query parameter hints.\nThe service id of the service instance.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            }
                          },
                          "parameterOrder": [
                            "parent",
                            "instanceId",
                            "bindingId"
                          ],
                          "request": null,
                          "response": {
                            "$ref": "GoogleCloudServicebrokerV1alpha1__DeleteBindingResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "supportsMediaDownload": false,
                          "useMediaDownloadService": false,
                          "supportsSubscription": false,
                          "supportsMediaUpload": false,
                          "mediaUpload": null
                        },
                        "get": {
                          "id": "servicebroker.projects.brokers.v2.service_instances.service_bindings.get",
                          "path": "v1alpha1/{+parent}/v2/service_instances/{+instanceId}/service_bindings/{+bindingId}",
                          "httpMethod": "GET",
                          "description": "GetBinding returns the binding information.",
                          "parameters": {
                            "bindingId": {
                              "description": "The binding id.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "instanceId": {
                              "description": "Instance id to which the binding is bound.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "parent": {
                              "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^projects/[^/]+/brokers/[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "planId": {
                              "description": "Plan id.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "serviceId": {
                              "description": "Service id.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            }
                          },
                          "parameterOrder": [
                            "parent",
                            "instanceId",
                            "bindingId"
                          ],
                          "request": null,
                          "response": {
                            "$ref": "GoogleCloudServicebrokerV1alpha1__GetBindingResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "supportsMediaDownload": false,
                          "useMediaDownloadService": false,
                          "supportsSubscription": false,
                          "supportsMediaUpload": false,
                          "mediaUpload": null
                        },
                        "getLast_operation": {
                          "id": "servicebroker.projects.brokers.v2.service_instances.service_bindings.getLast_operation",
                          "path": "v1alpha1/{+parent}/v2/service_instances/{+instanceId}/service_bindings/{+bindingId}/last_operation",
                          "httpMethod": "GET",
                          "description": "Returns the state of the last operation for the binding.\nOnly last (or current) operation can be polled.",
                          "parameters": {
                            "bindingId": {
                              "description": "The binding id for which to return the last operation",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "instanceId": {
                              "description": "The instance id that the binding is bound to.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "operation": {
                              "description": "If `operation` was returned during mutation operation, this field must be\npopulated with the provided value.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "parent": {
                              "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                              "default": null,
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": "^projects/[^/]+/brokers/[^/]+$",
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "planId": {
                              "description": "Plan id.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            },
                            "serviceId": {
                              "description": "Service id.",
                              "default": null,
                              "location": "query",
                              "required": false,
                              "type": "string",
                              "format": null,
                              "minimum": null,
                              "maximum": null,
                              "pattern": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "repeated": false
                            }
                          },
                          "parameterOrder": [
                            "parent",
                            "instanceId",
                            "bindingId"
                          ],
                          "request": null,
                          "response": {
                            "$ref": "GoogleCloudServicebrokerV1alpha1__Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "supportsMediaDownload": false,
                          "useMediaDownloadService": false,
                          "supportsSubscription": false,
                          "supportsMediaUpload": false,
                          "mediaUpload": null
                        }
                      }
                    }
                  },
                  "methods": {
                    "create": {
                      "id": "servicebroker.projects.brokers.v2.service_instances.create",
                      "path": "v1alpha1/{+parent}/v2/service_instances/{+instance_id}",
                      "httpMethod": "PUT",
                      "description": "Provisions a service instance.\nIf `request.accepts_incomplete` is false and Broker cannot execute request\nsynchronously HTTP 422 error will be returned along with\nFAILED_PRECONDITION status.\nIf `request.accepts_incomplete` is true and the Broker decides to execute\nresource asynchronously then HTTP 202 response code will be returned and a\nvalid polling operation in the response will be included.\nIf Broker executes the request synchronously and it succeeds HTTP 201\nresponse will be furnished.\nIf identical instance exists, then HTTP 200 response will be returned.\nIf an instance with identical ID but mismatching parameters exists, then\nHTTP 409 status code will be returned.",
                      "parameters": {
                        "acceptsIncomplete": {
                          "description": "Value indicating that API client supports asynchronous operations. If\nBroker cannot execute the request synchronously HTTP 422 code will be\nreturned to HTTP clients along with FAILED_PRECONDITION error.\nIf true and broker will execute request asynchronously 202 HTTP code will\nbe returned.\nThis broker always requires this to be true as all mutator operations are\nasynchronous.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "boolean",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "instance_id": {
                          "description": "The id of the service instance. Must be unique within GCP project.\nMaximum length is 64, GUID recommended.\nRequired.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "parent": {
                          "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^projects/[^/]+/brokers/[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        }
                      },
                      "parameterOrder": [
                        "parent",
                        "instance_id"
                      ],
                      "request": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__ServiceInstance"
                      },
                      "response": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__CreateServiceInstanceResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaDownload": false,
                      "useMediaDownloadService": false,
                      "supportsSubscription": false,
                      "supportsMediaUpload": false,
                      "mediaUpload": null
                    },
                    "delete": {
                      "id": "servicebroker.projects.brokers.v2.service_instances.delete",
                      "path": "v1alpha1/{+parent}/v2/service_instances/{+instanceId}",
                      "httpMethod": "DELETE",
                      "description": "Deprovisions a service instance.\nFor synchronous/asynchronous request details see CreateServiceInstance\nmethod.\nIf service instance does not exist HTTP 410 status will be returned.",
                      "parameters": {
                        "acceptsIncomplete": {
                          "description": "See CreateServiceInstanceRequest for details.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "boolean",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "instanceId": {
                          "description": "The instance id to deprovision.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "parent": {
                          "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^projects/[^/]+/brokers/[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "planId": {
                          "description": "The plan id of the service instance.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "serviceId": {
                          "description": "The service id of the service instance.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        }
                      },
                      "parameterOrder": [
                        "parent",
                        "instanceId"
                      ],
                      "request": null,
                      "response": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__DeleteServiceInstanceResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaDownload": false,
                      "useMediaDownloadService": false,
                      "supportsSubscription": false,
                      "supportsMediaUpload": false,
                      "mediaUpload": null
                    },
                    "get": {
                      "id": "servicebroker.projects.brokers.v2.service_instances.get",
                      "path": "v1alpha1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets the given service instance from the system.\nThis API is an extension and not part of the OSB spec.\nHence the path is a standard Google API URL.",
                      "parameters": {
                        "name": {
                          "description": "The resource name of the instance to return.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^projects/[^/]+/brokers/[^/]+/v2/service_instances/[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": null,
                      "response": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__ServiceInstance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaDownload": false,
                      "useMediaDownloadService": false,
                      "supportsSubscription": false,
                      "supportsMediaUpload": false,
                      "mediaUpload": null
                    },
                    "getLast_operation": {
                      "id": "servicebroker.projects.brokers.v2.service_instances.getLast_operation",
                      "path": "v1alpha1/{+parent}/v2/service_instances/{+instanceId}/last_operation",
                      "httpMethod": "GET",
                      "description": "Returns the state of the last operation for the service instance.\nOnly last (or current) operation can be polled.",
                      "parameters": {
                        "instanceId": {
                          "description": "The instance id for which to return the last operation status.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "operation": {
                          "description": "If `operation` was returned during mutation operation, this field must be\npopulated with the provided value.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "parent": {
                          "description": "Parent must match `projects/[PROJECT_ID]/brokers/[BROKER_ID]`.",
                          "default": null,
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": "^projects/[^/]+/brokers/[^/]+$",
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "planId": {
                          "description": "Plan id.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        },
                        "serviceId": {
                          "description": "Service id.",
                          "default": null,
                          "location": "query",
                          "required": false,
                          "type": "string",
                          "format": null,
                          "minimum": null,
                          "maximum": null,
                          "pattern": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "repeated": false
                        }
                      },
                      "parameterOrder": [
                        "parent",
                        "instanceId"
                      ],
                      "request": null,
                      "response": {
                        "$ref": "GoogleCloudServicebrokerV1alpha1__Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
[...]
