{
  "kind": "discovery#restDescription",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/Z5EHPc14yAZsSAzJ4h0IGwPnnlw\"",
  "discoveryVersion": "v1",
  "id": "doubleclicksearch:v2",
  "name": "doubleclicksearch",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v2",
  "revision": "20190827",
  "title": "Search Ads 360 API",
  "description": "Reports and modifies your advertising data in DoubleClick Search (for example, campaigns, ad groups, keywords, and conversions).",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "documentationLink": "https://developers.google.com/doubleclick-search/",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/doubleclicksearch/v2/",
  "basePath": "/doubleclicksearch/v2/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "doubleclicksearch/v2/",
  "batchPath": "batch/doubleclicksearch/v2",
  "version_module": null,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "schemas": {
    "Availability": {
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is FLOODLIGHT).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adGroupId": {
          "description": "DS ad group ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "adId": {
          "description": "DS ad ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are:  \n- \"local\": a physical store \n- \"online\": an online store",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser.\nFor online conversions, DS copies the dsConversionId or floodlightOrderId into this property depending on the advertiser's Floodlight instructions.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string",
          "format": "uint64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "customMetric": {
          "description": "Custom metrics for the conversion.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dsConversionId": {
          "description": "ID that DoubleClick Search generates for each conversion.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "revenueMicros": {
          "description": "The revenue amount of this TRANSACTION conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, FLOODLIGHT).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "The state of the conversion, that is, either ACTIVE or REMOVED. Note: state DELETED is deprecated.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"local\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of the conversion, that is, either ACTION or TRANSACTION. An ACTION conversion is an action by the user that has no monetarily quantifiable value, while a TRANSACTION conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (ACTION) versus ecommerce purchases (TRANSACTION).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ConversionList": {
      "id": "ConversionList",
      "description": "A list of conversions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "conversion": {
          "description": "The conversions being requested.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "description": "A message containing the custome dimension.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "description": "A message containing the custome metric.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Report": {
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "type": "string",
                "format": "int64",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string doubleclicksearch#report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ReportRow"
          }
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the statisticsCurrency field of the report request.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\nIf used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with startDate.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to true to group by this column. Defaults to false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to columnName or savedColumnName when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are:  \n- \"sold\": returns metrics only for products that were sold \n- \"advertised\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with endDate.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportRequest": {
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the columnName parameter is required. For saved columns only the savedColumnName parameter is required. Both columnName and savedColumnName cannot be set in the same stanza.\nThe maximum number of columns per request is 300.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently csv or tsv is supported.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\nThe maximum number of filters per request is 300.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "values": {
                "description": "A list of values to filter the column value against.\nThe maximum number of filter values per request is 300.",
                "type": "array",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": {
                  "type": "any",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to false. Deprecated, please use includeRemovedEntities instead.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are 1000000 to 100000000, inclusive.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\nThe maximum number of orderings per request is 300.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either ascending or descending.",
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "agencyId": {
              "description": "DS agency ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify reportType: keyword, each row in the report will contain data about a keyword. See the Types of Reports reference for the columns that are available for each type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are 0 to 10000, inclusive. Defaults to 10000.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are 0 to 50000, inclusive. Defaults to 0.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: usd, agency (valid if the report is scoped to agency or lower), advertiser (valid if the report is scoped to * advertiser or lower), or account (valid if the report is scoped to engine account or lower).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references on how changed attribute reports work.",
              "type": "string",
              "format": "date-time",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references on how changed metrics reports work.",
              "type": "string",
              "format": "date-time",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "verifySingleTimeZone": {
          "description": "If true, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any",
        "format": null,
        "enum": [],
        "enumDescriptions": [],
        "properties": {},
        "additionalProperties": null,
        "items": null
      },
      "items": null
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "description": "A saved column",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "description": "The request to update availability.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "availabilities": {
          "description": "The availabilities being returned.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "conversion": {
      "resources": {},
      "methods": {
        "get": {
          "id": "doubleclicksearch.conversion.get",
          "path": "agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameters": {
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "maximum": "1000",
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "request": null,
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "insert": {
          "id": "doubleclicksearch.conversion.insert",
          "path": "conversion",
          "httpMethod": "POST",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "patch": {
          "id": "doubleclicksearch.conversion.patch",
          "path": "conversion",
          "httpMethod": "PATCH",
          "description": "Updates a batch of conversions in DoubleClick Search. This method supports patch semantics.",
          "parameters": {
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "maximum": "1000",
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231",
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "advertiserId",
            "agencyId",
            "endDate",
            "engineAccountId",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "path": "conversion",
          "httpMethod": "PUT",
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "updateAvailability": {
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "conversion/updateAvailability",
          "httpMethod": "POST",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "reports": {
      "resources": {},
      "methods": {
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "path": "reports/generate",
          "httpMethod": "POST",
          "description": "Generates and returns a report immediately.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "get": {
          "id": "doubleclicksearch.reports.get",
          "path": "reports/{reportId}",
          "httpMethod": "GET",
          "description": "Polls for the status of a report request.",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "reportId"
          ],
          "request": null,
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "getFile": {
          "id": "doubleclicksearch.reports.getFile",
          "path": "reports/{reportId}/files/{reportFragment}",
          "httpMethod": "GET",
          "description": "Downloads a report file encoded in UTF-8.",
          "parameters": {
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "reportId": {
              "description": "ID of the report.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "request": {
          "id": "doubleclicksearch.reports.request",
          "path": "reports",
          "httpMethod": "POST",
          "description": "Inserts a report request into the reporting system.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "savedColumns": {
      "resources": {},
      "methods": {
        "list": {
          "id": "doubleclicksearch.savedColumns.list",
          "path": "agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "httpMethod": "GET",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "parameters": {
            "advertiserId": {
              "description": "DS ID of the advertiser.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "agencyId": {
              "description": "DS ID of the agency.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "request": null,
          "response": {
            "$ref": "SavedColumnList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    }
  },
  "methods": {}
}