{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "billingbudgets:v1beta1",
  "name": "billingbudgets",
  "canonicalName": "CloudBillingBudget",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta1",
  "revision": "20200502",
  "title": "Cloud Billing Budget API",
  "description": "The Cloud Billing Budget API stores Cloud Billing budgets, which define a budget plan and the rules to execute as spend is tracked against that plan.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/billing/docs/how-to/budget-api-overview",
  "protocol": "rest",
  "baseUrl": "https://billingbudgets.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://billingbudgets.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule": {
      "id": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule",
      "description": "AllUpdatesRule defines notifications that are sent on every update to the\nbilling account's spend, regardless of the thresholds defined using\nthreshold rules.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "pubsubTopic": {
          "description": "Required. The name of the Cloud Pub/Sub topic where budget related messages will be\npublished, in the form `projects/{project_id}/topics/{topic_id}`. Updates\nare sent at regular intervals to the topic.\nThe topic needs to be created before the budget is created; see\nhttps://cloud.google.com/billing/docs/how-to/budgets#manage-notifications\nfor more details.\nCaller is expected to have\n`pubsub.topics.setIamPolicy` permission on the topic when it's set for a\nbudget, otherwise, the API call will fail with PERMISSION_DENIED. See\nhttps://cloud.google.com/pubsub/docs/access-control for more details on\nPub/Sub roles and permissions.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schemaVersion": {
          "description": "Required. The schema version of the notification.\nOnly \"1.0\" is accepted. It represents the JSON schema as defined in\nhttps://cloud.google.com/billing/docs/how-to/budgets#notification_format",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1Budget": {
      "id": "GoogleCloudBillingBudgetsV1beta1Budget",
      "description": "A budget is a plan that describes what you expect to spend on Cloud\nprojects, plus the rules to execute as spend is tracked against that plan,\n(for example, send an alert when 90% of the target spend is met).\nCurrently all plans are monthly budgets so the usage period(s) tracked are\nimplied (calendar months of usage back-to-back).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "allUpdatesRule": {
          "description": "Optional. Rules to apply to all updates to the actual spend, regardless\nof the thresholds set in `threshold_rules`.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1AllUpdatesRule"
        },
        "amount": {
          "description": "Required. Budgeted amount.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1BudgetAmount"
        },
        "budgetFilter": {
          "description": "Optional. Filters that define which resources are used to compute\nthe actual spend against the budget.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1Filter"
        },
        "displayName": {
          "description": "User data for display name in UI.\nValidation: <= 60 chars.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "etag": {
          "description": "Optional. Etag to validate that the object is unchanged for a\nread-modify-write operation.\nAn empty etag will cause an update to overwrite other changes.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of the budget.\nThe resource name implies the scope of a budget. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "thresholdRules": {
          "description": "Optional. Rules that trigger alerts (notifications of thresholds\nbeing crossed) when spend exceeds the specified percentages of the budget.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudBillingBudgetsV1beta1ThresholdRule"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1BudgetAmount": {
      "id": "GoogleCloudBillingBudgetsV1beta1BudgetAmount",
      "description": "The budgeted amount for each usage period.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "lastPeriodAmount": {
          "description": "Use the last period's actual spend as the budget for the present period.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount"
        },
        "specifiedAmount": {
          "description": "A specified amount to use as the budget.\n`currency_code` is optional. If specified, it must match the\ncurrency of the billing account. The `currency_code` is provided on\noutput.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest": {
      "id": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest",
      "description": "Request for CreateBudget",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "budget": {
          "description": "Required. Budget to create.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1Filter": {
      "id": "GoogleCloudBillingBudgetsV1beta1Filter",
      "description": "A filter for a budget, limiting the scope of the cost to calculate.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "creditTypesTreatment": {
          "description": "Optional. If not set, default behavior is `INCLUDE_ALL_CREDITS`.",
          "type": "string",
          "format": null,
          "enum": [
            "CREDIT_TYPES_TREATMENT_UNSPECIFIED",
            "INCLUDE_ALL_CREDITS",
            "EXCLUDE_ALL_CREDITS"
          ],
          "enumDescriptions": [
            "",
            "All types of credit are subtracted from the gross cost to determine the\nspend for threshold calculations.",
            "All types of credit are added to the net cost to determine the spend for\nthreshold calculations."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "projects": {
          "description": "Optional. A set of projects of the form `projects/{project}`,\nspecifying that usage from only this set of projects should be\nincluded in the budget. If omitted, the report will include all usage for\nthe billing account, regardless of which project the usage occurred on.\nOnly zero or one project can be specified currently.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "services": {
          "description": "Optional. A set of services of the form `services/{service_id}`,\nspecifying that usage from only this set of services should be\nincluded in the budget. If omitted, the report will include usage for\nall the services.\nThe service names are available through the Catalog API:\nhttps://cloud.google.com/billing/v1/how-tos/catalog-api.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount": {
      "id": "GoogleCloudBillingBudgetsV1beta1LastPeriodAmount",
      "description": "Describes a budget amount targeted to last period's spend.\nAt this time, the amount is automatically 100% of last period's spend;\nthat is, there are no other options yet.\nFuture configuration will be described here (for example, configuring a\npercentage of last period's spend).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse": {
      "id": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse",
      "description": "Response for ListBudgets",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "budgets": {
          "description": "List of the budgets owned by the requested billing account.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
          }
        },
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more budgets that match the\nrequest; this value should be passed in a new `ListBudgetsRequest`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1ThresholdRule": {
      "id": "GoogleCloudBillingBudgetsV1beta1ThresholdRule",
      "description": "ThresholdRule contains a definition of a threshold which triggers\nan alert (a notification of a threshold being crossed) to be sent when\nspend goes above the specified amount.\nAlerts are automatically e-mailed to users with the Billing Account\nAdministrator role or the Billing Account User role.\nThe thresholds here have no effect on notifications sent to anything\nconfigured under `Budget.all_updates_rule`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "spendBasis": {
          "description": "Optional. The type of basis used to determine if spend has passed the\nthreshold. Behavior defaults to CURRENT_SPEND if not set.",
          "type": "string",
          "format": null,
          "enum": [
            "BASIS_UNSPECIFIED",
            "CURRENT_SPEND",
            "FORECASTED_SPEND"
          ],
          "enumDescriptions": [
            "Unspecified threshold basis.",
            "Use current spend as the basis for comparison against the threshold.",
            "Use forecasted spend for the period as the basis for comparison against\nthe threshold."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "thresholdPercent": {
          "description": "Required. Send an alert when this threshold is exceeded.\nThis is a 1.0-based percentage, so 0.5 = 50%.\nValidation: non-negative number.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest": {
      "id": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest",
      "description": "Request for UpdateBudget",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "budget": {
          "description": "Required. The updated budget object.\nThe budget to update is specified by the budget name in the budget.",
          "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
        },
        "updateMask": {
          "description": "Optional. Indicates which fields in the provided budget to update.\nRead-only fields (such as `name`) cannot be changed. If this is not\nprovided, then only fields with non-default values from the request are\nupdated. See\nhttps://developers.google.com/protocol-buffers/docs/proto3#default for more\ndetails about default values.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "currencyCode": {
          "description": "The 3-letter currency code defined in ISO 4217.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "units": {
          "description": "The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "billingAccounts": {
      "resources": {
        "budgets": {
          "resources": {},
          "methods": {
            "create": {
              "id": "billingbudgets.billingAccounts.budgets.create",
              "path": "v1beta1/{+parent}/budgets",
              "httpMethod": "POST",
              "description": "Creates a new budget. See\n<a href=\"https://cloud.google.com/billing/quotas\">Quotas and limits</a>\nfor more information on the limits of the number of budgets you can create.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the billing account to create the budget in. Values\nare of the form `billingAccounts/{billingAccountId}`.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^billingAccounts/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1CreateBudgetRequest"
              },
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "delete": {
              "id": "billingbudgets.billingAccounts.budgets.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a budget. Returns successfully if already deleted.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the budget to delete. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "get": {
              "id": "billingbudgets.billingAccounts.budgets.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Returns a budget.\n\nWARNING: There are some fields exposed on the Google Cloud Console that\naren't available on this API. When reading from the API, you will not\nsee these fields in the return value, though they may have been set\nin the Cloud Console.",
              "parameters": {
                "name": {
                  "description": "Required. Name of budget to get. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "billingbudgets.billingAccounts.budgets.list",
              "path": "v1beta1/{+parent}/budgets",
              "httpMethod": "GET",
              "description": "Returns a list of budgets for a billing account.\n\nWARNING: There are some fields exposed on the Google Cloud Console that\naren't available on this API. When reading from the API, you will not\nsee these fields in the return value, though they may have been set\nin the Cloud Console.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of budgets to return per page.\nThe default and maximum value are 100.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "Optional. The value returned by the last `ListBudgetsResponse` which\nindicates that this is a continuation of a prior `ListBudgets` call,\nand that the system should return the next page of data.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. Name of billing account to list budgets under. Values\nare of the form `billingAccounts/{billingAccountId}`.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^billingAccounts/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1ListBudgetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "patch": {
              "id": "billingbudgets.billingAccounts.budgets.patch",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a budget and returns the updated budget.\n\nWARNING: There are some fields exposed on the Google Cloud Console that\naren't available on this API. Budget fields that are not exposed in\nthis API will not be changed by this method.",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of the budget.\nThe resource name implies the scope of a budget. Values are of the form\n`billingAccounts/{billingAccountId}/budgets/{budgetId}`.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^billingAccounts/[^/]+/budgets/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1UpdateBudgetRequest"
              },
              "response": {
                "$ref": "GoogleCloudBillingBudgetsV1beta1Budget"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        }
      },
      "methods": {}
    }
  },
  "methods": {}
}