{
  "kind": "discovery#restDescription",
  "etag": "\"u9GIe6H63LSGq-9_t39K2Zx_EAc/HgR482mnyPA6xsLHjUjlQzYwL1g\"",
  "discoveryVersion": "v1",
  "id": "doubleclickbidmanager:v1",
  "name": "doubleclickbidmanager",
  "canonicalName": "DoubleClick Bid Manager",
  "fullyEncodeReservedExpansion": null,
  "version": "v1",
  "revision": "20200316",
  "title": "DoubleClick Bid Manager API",
  "description": "API for viewing and managing your reports in DoubleClick Bid Manager.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "documentationLink": "https://developers.google.com/bid-manager/",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/doubleclickbidmanager/v1/",
  "basePath": "/doubleclickbidmanager/v1/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "doubleclickbidmanager/v1/",
  "batchPath": "batch/doubleclickbidmanager/v1",
  "version_module": null,
  "packagePath": null,
  "labels": [
    "limited_availability"
  ],
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "schemas": {
    "DownloadLineItemsRequest": {
      "id": "DownloadLineItemsRequest",
      "description": "Request to fetch stored line items.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fileSpec": {
          "description": "File specification (column names, types, order) in which the line items will be returned. Default to EWF.",
          "type": "string",
          "format": null,
          "enum": [
            "EWF"
          ],
          "enumDescriptions": [
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "filterIds": {
          "description": "Ids of the specified filter type used to filter line items to fetch. If omitted, all the line items will be returned.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": "int64",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "filterType": {
          "description": "Filter type used to filter line items to fetch.",
          "type": "string",
          "format": null,
          "enum": [
            "ADVERTISER_ID",
            "INSERTION_ORDER_ID",
            "LINE_ITEM_ID"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "format": {
          "description": "Format in which the line items will be returned. Default to CSV.",
          "type": "string",
          "format": null,
          "enum": [
            "CSV"
          ],
          "enumDescriptions": [
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DownloadLineItemsResponse": {
      "id": "DownloadLineItemsResponse",
      "description": "Download line items response.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "lineItems": {
          "description": "Retrieved line items in CSV format. For more information about file formats, see  Entity Write File Format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DownloadRequest": {
      "id": "DownloadRequest",
      "description": "Request to fetch stored inventory sources, campaigns, insertion orders, line items, TrueView ad groups and ads.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fileTypes": {
          "description": "File types that will be returned. If INVENTORY_SOURCE is requested, no other file types may be requested.\n\nAcceptable values are:  \n- \"AD\" \n- \"AD_GROUP\" \n- \"CAMPAIGN\" \n- \"INSERTION_ORDER\" \n- \"INVENTORY_SOURCE\" \n- \"LINE_ITEM\"",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "AD",
              "AD_GROUP",
              "CAMPAIGN",
              "INSERTION_ORDER",
              "INVENTORY_SOURCE",
              "LINE_ITEM"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "filterIds": {
          "description": "The IDs of the specified filter type. This is used to filter entities to fetch. At least one ID must be specified.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": "int64",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "filterType": {
          "description": "Filter type used to filter entities to fetch. PARTNER_ID and INVENTORY_SOURCE_ID may only be used when downloading inventory sources.",
          "type": "string",
          "format": null,
          "enum": [
            "ADVERTISER_ID",
            "CAMPAIGN_ID",
            "INSERTION_ORDER_ID",
            "INVENTORY_SOURCE_ID",
            "LINE_ITEM_ID",
            "PARTNER_ID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "version": {
          "description": "SDF Version (column names, types, order) in which the entities will be returned. Default to 5.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DownloadResponse": {
      "id": "DownloadResponse",
      "description": "Download response.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adGroups": {
          "description": "Retrieved ad groups in SDF format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ads": {
          "description": "Retrieved ads in SDF format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "campaigns": {
          "description": "Retrieved campaigns in SDF format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "insertionOrders": {
          "description": "Retrieved insertion orders in SDF format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inventorySources": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lineItems": {
          "description": "Retrieved line items in SDF format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "FilterPair": {
      "id": "FilterPair",
      "description": "Filter used to match traffic data in your report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "type": {
          "description": "Filter type.",
          "type": "string",
          "format": null,
          "enum": [
            "FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY",
            "FILTER_ADVERTISER",
            "FILTER_ADVERTISER_CURRENCY",
            "FILTER_ADVERTISER_TIMEZONE",
            "FILTER_AD_POSITION",
            "FILTER_AGE",
            "FILTER_AUTHORIZED_SELLER_STATE",
            "FILTER_BROWSER",
            "FILTER_BUDGET_SEGMENT_DESCRIPTION",
            "FILTER_CAMPAIGN_DAILY_FREQUENCY",
            "FILTER_CARRIER",
            "FILTER_CHANNEL_ID",
            "FILTER_CITY",
            "FILTER_COMPANION_CREATIVE_ID",
            "FILTER_CONVERSION_DELAY",
            "FILTER_COUNTRY",
            "FILTER_CREATIVE_ATTRIBUTE",
            "FILTER_CREATIVE_HEIGHT",
            "FILTER_CREATIVE_ID",
            "FILTER_CREATIVE_SIZE",
            "FILTER_CREATIVE_TYPE",
            "FILTER_CREATIVE_WIDTH",
            "FILTER_DATA_PROVIDER",
            "FILTER_DATE",
            "FILTER_DAY_OF_WEEK",
            "FILTER_DEVICE_MAKE",
            "FILTER_DEVICE_MODEL",
            "FILTER_DEVICE_TYPE",
            "FILTER_DFP_ORDER_ID",
            "FILTER_DMA",
            "FILTER_EXCHANGE_ID",
            "FILTER_FLOODLIGHT_ACTIVITY_ID",
            "FILTER_GENDER",
            "FILTER_INSERTION_ORDER",
            "FILTER_INVENTORY_COMMITMENT_TYPE",
            "FILTER_INVENTORY_DELIVERY_METHOD",
            "FILTER_INVENTORY_FORMAT",
            "FILTER_INVENTORY_RATE_TYPE",
            "FILTER_INVENTORY_SOURCE",
            "FILTER_INVENTORY_SOURCE_EXTERNAL_ID",
            "FILTER_INVENTORY_SOURCE_TYPE",
            "FILTER_KEYWORD",
            "FILTER_LINE_ITEM",
            "FILTER_LINE_ITEM_DAILY_FREQUENCY",
            "FILTER_LINE_ITEM_LIFETIME_FREQUENCY",
            "FILTER_LINE_ITEM_TYPE",
            "FILTER_MEDIA_PLAN",
            "FILTER_MOBILE_GEO",
            "FILTER_MONTH",
            "FILTER_MRAID_SUPPORT",
            "FILTER_NIELSEN_AGE",
            "FILTER_NIELSEN_COUNTRY_CODE",
            "FILTER_NIELSEN_DEVICE_ID",
            "FILTER_NIELSEN_GENDER",
            "FILTER_NOT_SUPPORTED",
            "FILTER_ORDER_ID",
            "FILTER_OS",
            "FILTER_PAGE_CATEGORY",
            "FILTER_PAGE_LAYOUT",
            "FILTER_PARTNER",
            "FILTER_PARTNER_CURRENCY",
            "FILTER_QUARTER",
            "FILTER_REGION",
            "FILTER_SITE_ID",
            "FILTER_SITE_LANGUAGE",
            "FILTER_SKIPPABLE_SUPPORT",
            "FILTER_TARGETED_USER_LIST",
            "FILTER_TIME_OF_DAY",
            "FILTER_TRUEVIEW_AD_GROUP_AD_ID",
            "FILTER_TRUEVIEW_AD_GROUP_ID",
            "FILTER_TRUEVIEW_AGE",
            "FILTER_TRUEVIEW_CATEGORY",
            "FILTER_TRUEVIEW_CITY",
            "FILTER_TRUEVIEW_CONVERSION_TYPE",
            "FILTER_TRUEVIEW_COUNTRY",
            "FILTER_TRUEVIEW_CUSTOM_AFFINITY",
            "FILTER_TRUEVIEW_DMA",
            "FILTER_TRUEVIEW_GENDER",
            "FILTER_TRUEVIEW_IAR_AGE",
            "FILTER_TRUEVIEW_IAR_CATEGORY",
            "FILTER_TRUEVIEW_IAR_CITY",
            "FILTER_TRUEVIEW_IAR_COUNTRY",
            "FILTER_TRUEVIEW_IAR_GENDER",
            "FILTER_TRUEVIEW_IAR_INTEREST",
            "FILTER_TRUEVIEW_IAR_LANGUAGE",
            "FILTER_TRUEVIEW_IAR_PARENTAL_STATUS",
            "FILTER_TRUEVIEW_IAR_REGION",
            "FILTER_TRUEVIEW_IAR_REMARKETING_LIST",
            "FILTER_TRUEVIEW_IAR_TIME_OF_DAY",
            "FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL",
            "FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO",
            "FILTER_TRUEVIEW_IAR_ZIPCODE",
            "FILTER_TRUEVIEW_INTEREST",
            "FILTER_TRUEVIEW_KEYWORD",
            "FILTER_TRUEVIEW_PARENTAL_STATUS",
            "FILTER_TRUEVIEW_PLACEMENT",
            "FILTER_TRUEVIEW_REGION",
            "FILTER_TRUEVIEW_REMARKETING_LIST",
            "FILTER_TRUEVIEW_URL",
            "FILTER_TRUEVIEW_ZIPCODE",
            "FILTER_UNKNOWN",
            "FILTER_USER_LIST",
            "FILTER_USER_LIST_FIRST_PARTY",
            "FILTER_USER_LIST_THIRD_PARTY",
            "FILTER_VIDEO_AD_POSITION_IN_STREAM",
            "FILTER_VIDEO_CREATIVE_DURATION",
            "FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE",
            "FILTER_VIDEO_DURATION_SECONDS",
            "FILTER_VIDEO_DURATION_SECONDS_RANGE",
            "FILTER_VIDEO_FORMAT_SUPPORT",
            "FILTER_VIDEO_PLAYER_SIZE",
            "FILTER_VIDEO_RATING_TIER",
            "FILTER_VIDEO_SKIPPABLE_SUPPORT",
            "FILTER_VIDEO_VPAID_SUPPORT",
            "FILTER_WEEK",
            "FILTER_YEAR",
            "FILTER_ZIP_CODE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "Filter value.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "description": "List queries response.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listQueriesResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "queries": {
          "description": "Retrieved queries.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Query"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "description": "List reports response.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listReportsResponse\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reports": {
          "description": "Retrieved reports.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Report"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Parameters": {
      "id": "Parameters",
      "description": "Parameters of a query or report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "filters": {
          "description": "Filters used to match traffic data in your report.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "FilterPair"
          }
        },
        "groupBys": {
          "description": "Data is grouped by the filters listed in this field.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY",
              "FILTER_ADVERTISER",
              "FILTER_ADVERTISER_CURRENCY",
              "FILTER_ADVERTISER_TIMEZONE",
              "FILTER_AD_POSITION",
              "FILTER_AGE",
              "FILTER_AUTHORIZED_SELLER_STATE",
              "FILTER_BROWSER",
              "FILTER_BUDGET_SEGMENT_DESCRIPTION",
              "FILTER_CAMPAIGN_DAILY_FREQUENCY",
              "FILTER_CARRIER",
              "FILTER_CHANNEL_ID",
              "FILTER_CITY",
              "FILTER_COMPANION_CREATIVE_ID",
              "FILTER_CONVERSION_DELAY",
              "FILTER_COUNTRY",
              "FILTER_CREATIVE_ATTRIBUTE",
              "FILTER_CREATIVE_HEIGHT",
              "FILTER_CREATIVE_ID",
              "FILTER_CREATIVE_SIZE",
              "FILTER_CREATIVE_TYPE",
              "FILTER_CREATIVE_WIDTH",
              "FILTER_DATA_PROVIDER",
              "FILTER_DATE",
              "FILTER_DAY_OF_WEEK",
              "FILTER_DEVICE_MAKE",
              "FILTER_DEVICE_MODEL",
              "FILTER_DEVICE_TYPE",
              "FILTER_DFP_ORDER_ID",
              "FILTER_DMA",
              "FILTER_EXCHANGE_ID",
              "FILTER_FLOODLIGHT_ACTIVITY_ID",
              "FILTER_GENDER",
              "FILTER_INSERTION_ORDER",
              "FILTER_INVENTORY_COMMITMENT_TYPE",
              "FILTER_INVENTORY_DELIVERY_METHOD",
              "FILTER_INVENTORY_FORMAT",
              "FILTER_INVENTORY_RATE_TYPE",
              "FILTER_INVENTORY_SOURCE",
              "FILTER_INVENTORY_SOURCE_EXTERNAL_ID",
              "FILTER_INVENTORY_SOURCE_TYPE",
              "FILTER_KEYWORD",
              "FILTER_LINE_ITEM",
              "FILTER_LINE_ITEM_DAILY_FREQUENCY",
              "FILTER_LINE_ITEM_LIFETIME_FREQUENCY",
              "FILTER_LINE_ITEM_TYPE",
              "FILTER_MEDIA_PLAN",
              "FILTER_MOBILE_GEO",
              "FILTER_MONTH",
              "FILTER_MRAID_SUPPORT",
              "FILTER_NIELSEN_AGE",
              "FILTER_NIELSEN_COUNTRY_CODE",
              "FILTER_NIELSEN_DEVICE_ID",
              "FILTER_NIELSEN_GENDER",
              "FILTER_NOT_SUPPORTED",
              "FILTER_ORDER_ID",
              "FILTER_OS",
              "FILTER_PAGE_CATEGORY",
              "FILTER_PAGE_LAYOUT",
              "FILTER_PARTNER",
              "FILTER_PARTNER_CURRENCY",
              "FILTER_QUARTER",
              "FILTER_REGION",
              "FILTER_SITE_ID",
              "FILTER_SITE_LANGUAGE",
              "FILTER_SKIPPABLE_SUPPORT",
              "FILTER_TARGETED_USER_LIST",
              "FILTER_TIME_OF_DAY",
              "FILTER_TRUEVIEW_AD_GROUP_AD_ID",
              "FILTER_TRUEVIEW_AD_GROUP_ID",
              "FILTER_TRUEVIEW_AGE",
              "FILTER_TRUEVIEW_CATEGORY",
              "FILTER_TRUEVIEW_CITY",
              "FILTER_TRUEVIEW_CONVERSION_TYPE",
              "FILTER_TRUEVIEW_COUNTRY",
              "FILTER_TRUEVIEW_CUSTOM_AFFINITY",
              "FILTER_TRUEVIEW_DMA",
              "FILTER_TRUEVIEW_GENDER",
              "FILTER_TRUEVIEW_IAR_AGE",
              "FILTER_TRUEVIEW_IAR_CATEGORY",
              "FILTER_TRUEVIEW_IAR_CITY",
              "FILTER_TRUEVIEW_IAR_COUNTRY",
              "FILTER_TRUEVIEW_IAR_GENDER",
              "FILTER_TRUEVIEW_IAR_INTEREST",
              "FILTER_TRUEVIEW_IAR_LANGUAGE",
              "FILTER_TRUEVIEW_IAR_PARENTAL_STATUS",
              "FILTER_TRUEVIEW_IAR_REGION",
              "FILTER_TRUEVIEW_IAR_REMARKETING_LIST",
              "FILTER_TRUEVIEW_IAR_TIME_OF_DAY",
              "FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL",
              "FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO",
              "FILTER_TRUEVIEW_IAR_ZIPCODE",
              "FILTER_TRUEVIEW_INTEREST",
              "FILTER_TRUEVIEW_KEYWORD",
              "FILTER_TRUEVIEW_PARENTAL_STATUS",
              "FILTER_TRUEVIEW_PLACEMENT",
              "FILTER_TRUEVIEW_REGION",
              "FILTER_TRUEVIEW_REMARKETING_LIST",
              "FILTER_TRUEVIEW_URL",
              "FILTER_TRUEVIEW_ZIPCODE",
              "FILTER_UNKNOWN",
              "FILTER_USER_LIST",
              "FILTER_USER_LIST_FIRST_PARTY",
              "FILTER_USER_LIST_THIRD_PARTY",
              "FILTER_VIDEO_AD_POSITION_IN_STREAM",
              "FILTER_VIDEO_CREATIVE_DURATION",
              "FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE",
              "FILTER_VIDEO_DURATION_SECONDS",
              "FILTER_VIDEO_DURATION_SECONDS_RANGE",
              "FILTER_VIDEO_FORMAT_SUPPORT",
              "FILTER_VIDEO_PLAYER_SIZE",
              "FILTER_VIDEO_RATING_TIER",
              "FILTER_VIDEO_SKIPPABLE_SUPPORT",
              "FILTER_VIDEO_VPAID_SUPPORT",
              "FILTER_WEEK",
              "FILTER_YEAR",
              "FILTER_ZIP_CODE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "includeInviteData": {
          "description": "Deprecated. This field is no longer in use.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "metrics": {
          "description": "Metrics to include as columns in your report.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [
              "METRIC_ACTIVE_VIEW_AUDIBLE_VISIBLE_ON_COMPLETE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_AVERAGE_VIEWABLE_TIME",
              "METRIC_ACTIVE_VIEW_DISTRIBUTION_UNMEASURABLE",
              "METRIC_ACTIVE_VIEW_DISTRIBUTION_UNVIEWABLE",
              "METRIC_ACTIVE_VIEW_DISTRIBUTION_VIEWABLE",
              "METRIC_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_PCT_MEASURABLE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_PCT_VIEWABLE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_AT_START",
              "METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_FIRST_QUAR",
              "METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_ON_COMPLETE",
              "METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_SECOND_QUAR",
              "METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_THIRD_QUAR",
              "METRIC_ACTIVE_VIEW_PERCENT_VIEWABLE_FOR_TIME_THRESHOLD",
              "METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_AT_START",
              "METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_FIRST_QUAR",
              "METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_ON_COMPLETE",
              "METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_SECOND_QUAR",
              "METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_THIRD_QUAR",
              "METRIC_ACTIVE_VIEW_UNMEASURABLE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_UNVIEWABLE_IMPRESSIONS",
              "METRIC_ACTIVE_VIEW_VIEWABLE_FOR_TIME_THRESHOLD",
              "METRIC_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS",
              "METRIC_BID_REQUESTS",
              "METRIC_BILLABLE_COST_ADVERTISER",
              "METRIC_BILLABLE_COST_PARTNER",
              "METRIC_BILLABLE_COST_USD",
              "METRIC_BILLABLE_IMPRESSIONS",
              "METRIC_CLICKS",
              "METRIC_CLICK_TO_POST_CLICK_CONVERSION_RATE",
              "METRIC_CM_POST_CLICK_REVENUE",
              "METRIC_CM_POST_VIEW_REVENUE",
              "METRIC_CONVERSIONS_PER_MILLE",
              "METRIC_COOKIE_REACH_AVERAGE_IMPRESSION_FREQUENCY",
              "METRIC_COOKIE_REACH_IMPRESSION_REACH",
              "METRIC_CPM_FEE1_ADVERTISER",
              "METRIC_CPM_FEE1_PARTNER",
              "METRIC_CPM_FEE1_USD",
              "METRIC_CPM_FEE2_ADVERTISER",
              "METRIC_CPM_FEE2_PARTNER",
              "METRIC_CPM_FEE2_USD",
              "METRIC_CPM_FEE3_ADVERTISER",
              "METRIC_CPM_FEE3_PARTNER",
              "METRIC_CPM_FEE3_USD",
              "METRIC_CPM_FEE4_ADVERTISER",
              "METRIC_CPM_FEE4_PARTNER",
              "METRIC_CPM_FEE4_USD",
              "METRIC_CPM_FEE5_ADVERTISER",
              "METRIC_CPM_FEE5_PARTNER",
              "METRIC_CPM_FEE5_USD",
              "METRIC_CTR",
              "METRIC_DATA_COST_ADVERTISER",
              "METRIC_DATA_COST_PARTNER",
              "METRIC_DATA_COST_USD",
              "METRIC_DBM_ENGAGEMENT_RATE",
              "METRIC_FEE10_ADVERTISER",
              "METRIC_FEE10_PARTNER",
              "METRIC_FEE10_USD",
              "METRIC_FEE11_ADVERTISER",
              "METRIC_FEE11_PARTNER",
              "METRIC_FEE11_USD",
              "METRIC_FEE12_ADVERTISER",
              "METRIC_FEE12_PARTNER",
              "METRIC_FEE12_USD",
              "METRIC_FEE13_ADVERTISER",
              "METRIC_FEE13_PARTNER",
              "METRIC_FEE13_USD",
              "METRIC_FEE14_ADVERTISER",
              "METRIC_FEE14_PARTNER",
              "METRIC_FEE14_USD",
              "METRIC_FEE15_ADVERTISER",
              "METRIC_FEE15_PARTNER",
              "METRIC_FEE15_USD",
              "METRIC_FEE16_ADVERTISER",
              "METRIC_FEE16_PARTNER",
              "METRIC_FEE16_USD",
              "METRIC_FEE17_ADVERTISER",
              "METRIC_FEE17_PARTNER",
              "METRIC_FEE17_USD",
              "METRIC_FEE18_ADVERTISER",
              "METRIC_FEE18_PARTNER",
              "METRIC_FEE18_USD",
              "METRIC_FEE19_ADVERTISER",
              "METRIC_FEE19_PARTNER",
              "METRIC_FEE19_USD",
              "METRIC_FEE20_ADVERTISER",
              "METRIC_FEE20_PARTNER",
              "METRIC_FEE20_USD",
              "METRIC_FEE21_ADVERTISER",
              "METRIC_FEE21_PARTNER",
              "METRIC_FEE21_USD",
              "METRIC_FEE22_ADVERTISER",
              "METRIC_FEE22_PARTNER",
              "METRIC_FEE22_USD",
              "METRIC_FEE2_ADVERTISER",
              "METRIC_FEE2_PARTNER",
              "METRIC_FEE2_USD",
              "METRIC_FEE3_ADVERTISER",
              "METRIC_FEE3_PARTNER",
              "METRIC_FEE3_USD",
              "METRIC_FEE4_ADVERTISER",
              "METRIC_FEE4_PARTNER",
              "METRIC_FEE4_USD",
              "METRIC_FEE5_ADVERTISER",
              "METRIC_FEE5_PARTNER",
              "METRIC_FEE5_USD",
              "METRIC_FEE6_ADVERTISER",
              "METRIC_FEE6_PARTNER",
              "METRIC_FEE6_USD",
              "METRIC_FEE7_ADVERTISER",
              "METRIC_FEE7_PARTNER",
              "METRIC_FEE7_USD",
              "METRIC_FEE8_ADVERTISER",
              "METRIC_FEE8_PARTNER",
              "METRIC_FEE8_USD",
              "METRIC_FEE9_ADVERTISER",
              "METRIC_FEE9_PARTNER",
              "METRIC_FEE9_USD",
              "METRIC_FLOODLIGHT_IMPRESSIONS",
              "METRIC_IMPRESSIONS",
              "METRIC_IMPRESSIONS_TO_CONVERSION_RATE",
              "METRIC_LAST_CLICKS",
              "METRIC_LAST_IMPRESSIONS",
              "METRIC_MEDIA_COST_ADVERTISER",
              "METRIC_MEDIA_COST_ECPAPC_ADVERTISER",
              "METRIC_MEDIA_COST_ECPAPC_PARTNER",
              "METRIC_MEDIA_COST_ECPAPC_USD",
              "METRIC_MEDIA_COST_ECPAPV_ADVERTISER",
              "METRIC_MEDIA_COST_ECPAPV_PARTNER",
              "METRIC_MEDIA_COST_ECPAPV_USD",
              "METRIC_MEDIA_COST_ECPA_ADVERTISER",
              "METRIC_MEDIA_COST_ECPA_PARTNER",
              "METRIC_MEDIA_COST_ECPA_USD",
              "METRIC_MEDIA_COST_ECPCV_ADVERTISER",
              "METRIC_MEDIA_COST_ECPCV_PARTNER",
              "METRIC_MEDIA_COST_ECPCV_USD",
              "METRIC_MEDIA_COST_ECPC_ADVERTISER",
              "METRIC_MEDIA_COST_ECPC_PARTNER",
              "METRIC_MEDIA_COST_ECPC_USD",
              "METRIC_MEDIA_COST_ECPM_ADVERTISER",
              "METRIC_MEDIA_COST_ECPM_PARTNER",
              "METRIC_MEDIA_COST_ECPM_USD",
              "METRIC_MEDIA_COST_PARTNER",
              "METRIC_MEDIA_COST_USD",
              "METRIC_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER",
              "METRIC_MEDIA_COST_VIEWABLE_ECPM_PARTNER",
              "METRIC_MEDIA_COST_VIEWABLE_ECPM_USD",
              "METRIC_MEDIA_FEE1_ADVERTISER",
              "METRIC_MEDIA_FEE1_PARTNER",
              "METRIC_MEDIA_FEE1_USD",
              "METRIC_MEDIA_FEE2_ADVERTISER",
              "METRIC_MEDIA_FEE2_PARTNER",
              "METRIC_MEDIA_FEE2_USD",
              "METRIC_MEDIA_FEE3_ADVERTISER",
              "METRIC_MEDIA_FEE3_PARTNER",
              "METRIC_MEDIA_FEE3_USD",
              "METRIC_MEDIA_FEE4_ADVERTISER",
              "METRIC_MEDIA_FEE4_PARTNER",
              "METRIC_MEDIA_FEE4_USD",
              "METRIC_MEDIA_FEE5_ADVERTISER",
              "METRIC_MEDIA_FEE5_PARTNER",
              "METRIC_MEDIA_FEE5_USD",
              "METRIC_PLATFORM_FEE_ADVERTISER",
              "METRIC_PLATFORM_FEE_PARTNER",
              "METRIC_PLATFORM_FEE_USD",
              "METRIC_PROFIT_ADVERTISER",
              "METRIC_PROFIT_ECPM_ADVERTISER",
              "METRIC_PROFIT_ECPM_PARTNER",
              "METRIC_PROFIT_ECPM_USD",
              "METRIC_PROFIT_MARGIN",
              "METRIC_PROFIT_PARTNER",
              "METRIC_PROFIT_USD",
              "METRIC_PROFIT_VIEWABLE_ECPM_ADVERTISER",
              "METRIC_PROFIT_VIEWABLE_ECPM_PARTNER",
              "METRIC_PROFIT_VIEWABLE_ECPM_USD",
              "METRIC_REVENUE_ADVERTISER",
              "METRIC_REVENUE_ECPAPC_ADVERTISER",
              "METRIC_REVENUE_ECPAPC_PARTNER",
              "METRIC_REVENUE_ECPAPC_USD",
              "METRIC_REVENUE_ECPAPV_ADVERTISER",
              "METRIC_REVENUE_ECPAPV_PARTNER",
              "METRIC_REVENUE_ECPAPV_USD",
              "METRIC_REVENUE_ECPA_ADVERTISER",
              "METRIC_REVENUE_ECPA_PARTNER",
              "METRIC_REVENUE_ECPA_USD",
              "METRIC_REVENUE_ECPCV_ADVERTISER",
              "METRIC_REVENUE_ECPCV_PARTNER",
              "METRIC_REVENUE_ECPCV_USD",
              "METRIC_REVENUE_ECPC_ADVERTISER",
              "METRIC_REVENUE_ECPC_PARTNER",
              "METRIC_REVENUE_ECPC_USD",
              "METRIC_REVENUE_ECPM_ADVERTISER",
              "METRIC_REVENUE_ECPM_PARTNER",
              "METRIC_REVENUE_ECPM_USD",
              "METRIC_REVENUE_PARTNER",
              "METRIC_REVENUE_USD",
              "METRIC_REVENUE_VIEWABLE_ECPM_ADVERTISER",
              "METRIC_REVENUE_VIEWABLE_ECPM_PARTNER",
              "METRIC_REVENUE_VIEWABLE_ECPM_USD",
              "METRIC_RICH_MEDIA_SCROLLS",
              "METRIC_RICH_MEDIA_VIDEO_COMPLETIONS",
              "METRIC_RICH_MEDIA_VIDEO_FIRST_QUARTILE_COMPLETES",
              "METRIC_RICH_MEDIA_VIDEO_FULL_SCREENS",
              "METRIC_RICH_MEDIA_VIDEO_MIDPOINTS",
              "METRIC_RICH_MEDIA_VIDEO_MUTES",
              "METRIC_RICH_MEDIA_VIDEO_PAUSES",
              "METRIC_RICH_MEDIA_VIDEO_PLAYS",
              "METRIC_RICH_MEDIA_VIDEO_SKIPS",
              "METRIC_RICH_MEDIA_VIDEO_THIRD_QUARTILE_COMPLETES",
              "METRIC_TEA_TRUEVIEW_IMPRESSIONS",
              "METRIC_TEA_TRUEVIEW_UNIQUE_COOKIES",
              "METRIC_TOTAL_CONVERSIONS",
              "METRIC_TOTAL_MEDIA_COST_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPAPC_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPAPC_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_ECPAPC_USD",
              "METRIC_TOTAL_MEDIA_COST_ECPAPV_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPAPV_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_ECPAPV_USD",
              "METRIC_TOTAL_MEDIA_COST_ECPA_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPA_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_ECPA_USD",
              "METRIC_TOTAL_MEDIA_COST_ECPCV_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPCV_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_ECPCV_USD",
              "METRIC_TOTAL_MEDIA_COST_ECPC_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPC_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_ECPC_USD",
              "METRIC_TOTAL_MEDIA_COST_ECPM_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_ECPM_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_ECPM_USD",
              "METRIC_TOTAL_MEDIA_COST_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_USD",
              "METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER",
              "METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_PARTNER",
              "METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_USD",
              "METRIC_TRUEVIEW_AVERAGE_CPE_ADVERTISER",
              "METRIC_TRUEVIEW_AVERAGE_CPE_PARTNER",
              "METRIC_TRUEVIEW_AVERAGE_CPE_USD",
              "METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_ADVERTISER",
              "METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_PARTNER",
              "METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_USD",
              "METRIC_TRUEVIEW_CONVERSION_MANY_PER_VIEW",
              "METRIC_TRUEVIEW_CONVERSION_RATE_ONE_PER_VIEW",
              "METRIC_TRUEVIEW_CPV_ADVERTISER",
              "METRIC_TRUEVIEW_CPV_PARTNER",
              "METRIC_TRUEVIEW_CPV_USD",
              "METRIC_TRUEVIEW_EARNED_LIKES",
              "METRIC_TRUEVIEW_EARNED_PLAYLIST_ADDITIONS",
              "METRIC_TRUEVIEW_EARNED_SHARES",
              "METRIC_TRUEVIEW_EARNED_SUBSCRIBERS",
              "METRIC_TRUEVIEW_EARNED_VIEWS",
              "METRIC_TRUEVIEW_ENGAGEMENTS",
              "METRIC_TRUEVIEW_ENGAGEMENT_RATE",
              "METRIC_TRUEVIEW_IMPRESSION_SHARE",
              "METRIC_TRUEVIEW_LOST_IS_BUDGET",
              "METRIC_TRUEVIEW_LOST_IS_RANK",
              "METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUE",
              "METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_ADVERTISER",
              "METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_PARTNER",
              "METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_USD",
              "METRIC_TRUEVIEW_UNIQUE_VIEWERS",
              "METRIC_TRUEVIEW_VIEWS",
              "METRIC_TRUEVIEW_VIEW_RATE",
              "METRIC_TRUEVIEW_VIEW_THROUGH_CONVERSION",
              "METRIC_UNIQUE_VISITORS_COOKIES",
              "METRIC_UNKNOWN",
              "METRIC_VIDEO_COMPANION_CLICKS",
              "METRIC_VIDEO_COMPANION_IMPRESSIONS",
              "METRIC_VIDEO_COMPLETION_RATE",
              "METRIC_VIEWABLE_BID_REQUESTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "type": {
          "description": "Report type.",
          "type": "string",
          "format": null,
          "enum": [
            "TYPE_ACTIVE_GRP",
            "TYPE_AUDIENCE_COMPOSITION",
            "TYPE_AUDIENCE_PERFORMANCE",
            "TYPE_CLIENT_SAFE",
            "TYPE_COMSCORE_VCE",
            "TYPE_CROSS_FEE",
            "TYPE_CROSS_PARTNER",
            "TYPE_CROSS_PARTNER_THIRD_PARTY_DATA_PROVIDER",
            "TYPE_ESTIMATED_CONVERSION",
            "TYPE_FEE",
            "TYPE_GENERAL",
            "TYPE_INVENTORY_AVAILABILITY",
            "TYPE_KEYWORD",
            "TYPE_LINEAR_TV_SEARCH_LIFT",
            "TYPE_NIELSEN_AUDIENCE_PROFILE",
            "TYPE_NIELSEN_DAILY_REACH_BUILD",
            "TYPE_NIELSEN_ONLINE_GLOBAL_MARKET",
            "TYPE_NIELSEN_SITE",
            "TYPE_NOT_SUPPORTED",
            "TYPE_ORDER_ID",
            "TYPE_PAGE_CATEGORY",
            "TYPE_PETRA_NIELSEN_AUDIENCE_PROFILE",
            "TYPE_PETRA_NIELSEN_DAILY_REACH_BUILD",
            "TYPE_PETRA_NIELSEN_ONLINE_GLOBAL_MARKET",
            "TYPE_PIXEL_LOAD",
            "TYPE_REACH_AND_FREQUENCY",
            "TYPE_REACH_AUDIENCE",
            "TYPE_THIRD_PARTY_DATA_PROVIDER",
            "TYPE_TRUEVIEW",
            "TYPE_TRUEVIEW_IAR",
            "TYPE_VERIFICATION",
            "TYPE_YOUTUBE_VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Query": {
      "id": "Query",
      "description": "Represents a query.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#query\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "metadata": {
          "description": "Query metadata.",
          "$ref": "QueryMetadata"
        },
        "params": {
          "description": "Query parameters.",
          "$ref": "Parameters"
        },
        "queryId": {
          "description": "Query ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportDataEndTimeMs": {
          "description": "The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportDataStartTimeMs": {
          "description": "The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schedule": {
          "description": "Information on how often and when to run a query.",
          "$ref": "QuerySchedule"
        },
        "timezoneCode": {
          "description": "Canonical timezone code for report data time. Defaults to America/New_York.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "QueryMetadata": {
      "id": "QueryMetadata",
      "description": "Query metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dataRange": {
          "description": "Range of report data.",
          "type": "string",
          "format": null,
          "enum": [
            "ALL_TIME",
            "CURRENT_DAY",
            "CUSTOM_DATES",
            "LAST_14_DAYS",
            "LAST_30_DAYS",
            "LAST_365_DAYS",
            "LAST_7_DAYS",
            "LAST_90_DAYS",
            "MONTH_TO_DATE",
            "PREVIOUS_DAY",
            "PREVIOUS_HALF_MONTH",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_WEEK",
            "PREVIOUS_YEAR",
            "QUARTER_TO_DATE",
            "TYPE_NOT_SUPPORTED",
            "WEEK_TO_DATE",
            "YEAR_TO_DATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "format": {
          "description": "Format of the generated report.",
          "type": "string",
          "format": null,
          "enum": [
            "CSV",
            "EXCEL_CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "googleCloudStoragePathForLatestReport": {
          "description": "The path to the location in Google Cloud Storage where the latest report is stored.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "googleDrivePathForLatestReport": {
          "description": "The path in Google Drive for the latest report.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "latestReportRunTimeMs": {
          "description": "The time when the latest report started to run.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "locale": {
          "description": "Locale of the generated reports. Valid values are cs CZECH de GERMAN en ENGLISH es SPANISH fr FRENCH it ITALIAN ja JAPANESE ko KOREAN pl POLISH pt-BR BRAZILIAN_PORTUGUESE ru RUSSIAN tr TURKISH uk UKRAINIAN zh-CN CHINA_CHINESE zh-TW TAIWAN_CHINESE\n\nAn locale string not in the list above will generate reports in English.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportCount": {
          "description": "Number of reports that have been generated for the query.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "running": {
          "description": "Whether the latest report is currently running.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "sendNotification": {
          "description": "Whether to send an email notification when a report is ready. Default to false.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "shareEmailAddress": {
          "description": "List of email addresses which are sent email notifications when the report is finished. Separate from sendNotification.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "title": {
          "description": "Query title. It is used to name the reports generated from this query.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "description": "Information on how frequently and when to run a query.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "endTimeMs": {
          "description": "Datetime to periodically run the query until.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "frequency": {
          "description": "How often the query is run.",
          "type": "string",
          "format": null,
          "enum": [
            "DAILY",
            "MONTHLY",
            "ONE_TIME",
            "QUARTERLY",
            "SEMI_MONTHLY",
            "WEEKLY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextRunMinuteOfDay": {
          "description": "Time of day at which a new report will be generated, represented as minutes past midnight. Range is 0 to 1439. Only applies to scheduled reports.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextRunTimezoneCode": {
          "description": "Canonical timezone code for report generation time. Defaults to America/New_York.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Report": {
      "id": "Report",
      "description": "Represents a report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "key": {
          "description": "Key used to identify a report.",
          "$ref": "ReportKey"
        },
        "metadata": {
          "description": "Report metadata.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "description": "Report parameters.",
          "$ref": "Parameters"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportFailure": {
      "id": "ReportFailure",
      "description": "An explanation of a report failure.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "errorCode": {
          "description": "Error code that shows why the report was not created.",
          "type": "string",
          "format": null,
          "enum": [
            "AUTHENTICATION_ERROR",
            "DEPRECATED_REPORTING_INVALID_QUERY",
            "REPORTING_BUCKET_NOT_FOUND",
            "REPORTING_CREATE_BUCKET_FAILED",
            "REPORTING_DELETE_BUCKET_FAILED",
            "REPORTING_FATAL_ERROR",
            "REPORTING_ILLEGAL_FILENAME",
            "REPORTING_IMCOMPATIBLE_METRICS",
            "REPORTING_INVALID_QUERY_MISSING_PARTNER_AND_ADVERTISER_FILTERS",
            "REPORTING_INVALID_QUERY_TITLE_MISSING",
            "REPORTING_INVALID_QUERY_TOO_MANY_UNFILTERED_LARGE_GROUP_BYS",
            "REPORTING_QUERY_NOT_FOUND",
            "REPORTING_TRANSIENT_ERROR",
            "REPORTING_UPDATE_BUCKET_PERMISSION_FAILED",
            "REPORTING_WRITE_BUCKET_OBJECT_FAILED",
            "SERVER_ERROR",
            "UNAUTHORIZED_API_ACCESS",
            "VALIDATION_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportKey": {
      "id": "ReportKey",
      "description": "Key used to identify a report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "queryId": {
          "description": "Query ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportId": {
          "description": "Report ID.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "description": "Report metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "googleCloudStoragePath": {
          "description": "The path to the location in Google Cloud Storage where the report is stored.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportDataEndTimeMs": {
          "description": "The ending time for the data that is shown in the report.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportDataStartTimeMs": {
          "description": "The starting time for the data that is shown in the report.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "status": {
          "description": "Report status.",
          "$ref": "ReportStatus"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportStatus": {
      "id": "ReportStatus",
      "description": "Report status.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "failure": {
          "description": "If the report failed, this records the cause.",
          "$ref": "ReportFailure"
        },
        "finishTimeMs": {
          "description": "The time when this report either completed successfully or failed.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "format": {
          "description": "The file type of the report.",
          "type": "string",
          "format": null,
          "enum": [
            "CSV",
            "EXCEL_CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "The state of the report.",
          "type": "string",
          "format": null,
          "enum": [
            "DONE",
            "FAILED",
            "RUNNING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "RowStatus": {
      "id": "RowStatus",
      "description": "Represents the upload status of a row in the request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "changed": {
          "description": "Whether the stored entity is changed as a result of upload.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "entityId": {
          "description": "Entity Id.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "entityName": {
          "description": "Entity name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "errors": {
          "description": "Reasons why the entity can't be uploaded.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "persisted": {
          "description": "Whether the entity is persisted.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rowNumber": {
          "description": "Row number.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "Request to run a stored query to generate a report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dataRange": {
          "description": "Report data range used to generate the report.",
          "type": "string",
          "format": null,
          "enum": [
            "ALL_TIME",
            "CURRENT_DAY",
            "CUSTOM_DATES",
            "LAST_14_DAYS",
            "LAST_30_DAYS",
            "LAST_365_DAYS",
            "LAST_7_DAYS",
            "LAST_90_DAYS",
            "MONTH_TO_DATE",
            "PREVIOUS_DAY",
            "PREVIOUS_HALF_MONTH",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_WEEK",
            "PREVIOUS_YEAR",
            "QUARTER_TO_DATE",
            "TYPE_NOT_SUPPORTED",
            "WEEK_TO_DATE",
            "YEAR_TO_DATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportDataEndTimeMs": {
          "description": "The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportDataStartTimeMs": {
          "description": "The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "timezoneCode": {
          "description": "Canonical timezone code for report data time. Defaults to America/New_York.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UploadLineItemsRequest": {
      "id": "UploadLineItemsRequest",
      "description": "Request to upload line items.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dryRun": {
          "description": "Set to true to get upload status without actually persisting the line items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "format": {
          "description": "Format the line items are in. Default to CSV.",
          "type": "string",
          "format": null,
          "enum": [
            "CSV"
          ],
          "enumDescriptions": [
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lineItems": {
          "description": "Line items in CSV to upload. Refer to  Entity Write File Format for more information on file format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UploadLineItemsResponse": {
      "id": "UploadLineItemsResponse",
      "description": "Upload line items response.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "uploadStatus": {
          "description": "Status of upload.",
          "$ref": "UploadStatus"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UploadStatus": {
      "id": "UploadStatus",
      "description": "Represents the status of upload.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "errors": {
          "description": "Reasons why upload can't be completed.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "rowStatus": {
          "description": "Per-row upload status.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "RowStatus"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "lineitems": {
      "resources": {},
      "methods": {
        "downloadlineitems": {
          "id": "doubleclickbidmanager.lineitems.downloadlineitems",
          "path": "lineitems/downloadlineitems",
          "httpMethod": "POST",
          "description": "Retrieves line items in CSV format. TrueView line items are not supported.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "DownloadLineItemsRequest"
          },
          "response": {
            "$ref": "DownloadLineItemsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "uploadlineitems": {
          "id": "doubleclickbidmanager.lineitems.uploadlineitems",
          "path": "lineitems/uploadlineitems",
          "httpMethod": "POST",
          "description": "Uploads line items in CSV format. TrueView line items are not supported.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "UploadLineItemsRequest"
          },
          "response": {
            "$ref": "UploadLineItemsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "queries": {
      "resources": {},
      "methods": {
        "createquery": {
          "id": "doubleclickbidmanager.queries.createquery",
          "path": "query",
          "httpMethod": "POST",
          "description": "Creates a query.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "Query"
          },
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "deletequery": {
          "id": "doubleclickbidmanager.queries.deletequery",
          "path": "query/{queryId}",
          "httpMethod": "DELETE",
          "description": "Deletes a stored query as well as the associated stored reports.",
          "parameters": {
            "queryId": {
              "description": "Query ID to delete.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "getquery": {
          "id": "doubleclickbidmanager.queries.getquery",
          "path": "query/{queryId}",
          "httpMethod": "GET",
          "description": "Retrieves a stored query.",
          "parameters": {
            "queryId": {
              "description": "Query ID to retrieve.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "request": null,
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "listqueries": {
          "id": "doubleclickbidmanager.queries.listqueries",
          "path": "queries",
          "httpMethod": "GET",
          "description": "Retrieves stored queries.",
          "parameters": {},
          "parameterOrder": [],
          "request": null,
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "runquery": {
          "id": "doubleclickbidmanager.queries.runquery",
          "path": "query/{queryId}",
          "httpMethod": "POST",
          "description": "Runs a stored query to generate a report.",
          "parameters": {
            "queryId": {
              "description": "Query ID to run.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          },
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "reports": {
      "resources": {},
      "methods": {
        "listreports": {
          "id": "doubleclickbidmanager.reports.listreports",
          "path": "queries/{queryId}/reports",
          "httpMethod": "GET",
          "description": "Retrieves stored reports.",
          "parameters": {
            "queryId": {
              "description": "Query ID with which the reports are associated.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "request": null,
          "response": {
            "$ref": "ListReportsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "sdf": {
      "resources": {},
      "methods": {
        "download": {
          "id": "doubleclickbidmanager.sdf.download",
          "path": "sdf/download",
          "httpMethod": "POST",
          "description": "Retrieves entities in SDF format.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "DownloadRequest"
          },
          "response": {
            "$ref": "DownloadResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    }
  },
  "methods": {}
}