{
  "kind": "discovery#restDescription",
  "etag": "\"LYADMvHWYH2ul9D6m9UT9gT77YM/EQbuV7RCJTKzgEWKaE9OS8b021Q\"",
  "discoveryVersion": "v1",
  "id": "analytics:v2.4",
  "name": "analytics",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v2.4",
  "revision": "20190917",
  "title": "Google Analytics API",
  "description": "Views and manages your Google Analytics data.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "documentationLink": "https://developers.google.com/analytics/",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/analytics/v2.4/",
  "basePath": "/analytics/v2.4/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "analytics/v2.4/",
  "batchPath": "batch/analytics/v2.4",
  "version_module": null,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "atom",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "atom"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/atom+xml"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "schemas": {},
  "resources": {
    "data": {
      "resources": {},
      "methods": {
        "get": {
          "id": "analytics.data.get",
          "path": "data",
          "httpMethod": "GET",
          "description": "Returns Analytics report data for a view (profile).",
          "parameters": {
            "dimensions": {
              "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "(ga:.+)?",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "end-date": {
              "description": "End date for fetching report data. All requests should specify an end date formatted as YYYY-MM-DD.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "filters": {
              "description": "A comma-separated list of dimension or metric filters to be applied to the report data.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "ga:.+",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "ids": {
              "description": "Unique table ID for retrieving report data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "ga:[0-9]+",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "max-results": {
              "description": "The maximum number of entries to include in this feed.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "metrics": {
              "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified to retrieve a valid Analytics report.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "ga:.+",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "segment": {
              "description": "An Analytics advanced segment to be applied to the report data.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "sort": {
              "description": "A comma-separated list of dimensions or metrics that determine the sort order for the report data.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "(-)?ga:.+",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "start-date": {
              "description": "Start date for fetching report data. All requests should specify a start date formatted as YYYY-MM-DD.",
              "default": null,
              "location": "query",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "start-index": {
              "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "ids",
            "start-date",
            "end-date",
            "metrics"
          ],
          "request": null,
          "response": null,
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "management": {
      "resources": {
        "accounts": {
          "resources": {},
          "methods": {
            "list": {
              "id": "analytics.management.accounts.list",
              "path": "management/accounts",
              "httpMethod": "GET",
              "description": "Lists all accounts to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of accounts to include in this response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "start-index": {
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [],
              "request": null,
              "response": null,
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "goals": {
          "resources": {},
          "methods": {
            "list": {
              "id": "analytics.management.goals.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "httpMethod": "GET",
              "description": "Lists goals to which the user has access.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "max-results": {
                  "description": "The maximum number of goals to include in this response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "start-index": {
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": null,
              "response": null,
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "profiles": {
          "resources": {},
          "methods": {
            "list": {
              "id": "analytics.management.profiles.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "httpMethod": "GET",
              "description": "Lists views (profiles) to which the user has access.",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the views (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "webPropertyId": {
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": null,
              "response": null,
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "segments": {
          "resources": {},
          "methods": {
            "list": {
              "id": "analytics.management.segments.list",
              "path": "management/segments",
              "httpMethod": "GET",
              "description": "Lists advanced segments to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of advanced segments to include in this response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "start-index": {
                  "description": "An index of the first advanced segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [],
              "request": null,
              "response": null,
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "webproperties": {
          "resources": {},
          "methods": {
            "list": {
              "id": "analytics.management.webproperties.list",
              "path": "management/accounts/{accountId}/webproperties",
              "httpMethod": "GET",
              "description": "Lists web properties to which the user has access.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "max-results": {
                  "description": "The maximum number of web properties to include in this response.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": null,
              "response": null,
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        }
      },
      "methods": {}
    }
  },
  "methods": {}
}