{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "books:v1",
  "name": "books",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v1",
  "revision": "20200624",
  "title": "Books API",
  "description": "The Google Books API allows clients to access the Google Books repository.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch/books/v1",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/books": {
          "description": "Manage your books"
        }
      }
    }
  },
  "schemas": {
    "Annotation": {
      "id": "Annotation",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "afterSelectedText": {
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen\nthat has no flowing text on it, then this field should be empty.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "beforeSelectedText": {
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen\nthat has no flowing text on it, then this field should be empty.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "clientVersionRanges": {
          "description": "Selection ranges sent from the client.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "cfiRange": {
              "description": "Range in CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version the client sent in.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation sent by client.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "created": {
          "description": "Timestamp for the created time of this annotation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "currentVersionRanges": {
          "description": "Selection ranges for the most recent content version.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "cfiRange": {
              "description": "Range in CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "contentVersion": {
              "description": "Content version applicable to ranges below.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "gbImageRange": {
              "description": "Range in GB image format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "gbTextRange": {
              "description": "Range in GB text format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            },
            "imageCfiRange": {
              "description": "Range in image CFI format for this annotation for version above.",
              "$ref": "BooksAnnotationsRange"
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "data": {
          "description": "User-created data for this annotation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "deleted": {
          "description": "Indicates that this annotation is deleted.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "highlightStyle": {
          "description": "The highlight style for this annotation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Id of this annotation, in the form of a GUID.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "layerId": {
          "description": "The layer this annotation is for.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "layerSummary": {
          "description": null,
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "allowedCharacterCount": {
              "description": "Maximum allowed characters on this layer, especially for the \"copy\"\nlayer.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "limitType": {
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\"\nlayer.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "remainingCharacterCount": {
              "description": "Remaining allowed characters on this layer, especially for the \"copy\"\nlayer.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "pageIds": {
          "description": "Pages that this annotation spans.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "selectedText": {
          "description": "Excerpt from the volume.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "Timestamp for the last time this annotation was modified.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": "The volume that this annotation belongs to.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Annotations": {
      "id": "Annotations",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of annotations.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Annotation"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present\nif this request does not have more results.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "Total number of annotations found. This may be greater than the number of\nnotes returned in this response if results have been paginated.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AnnotationsSummary": {
      "id": "AnnotationsSummary",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "layers": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "allowedCharacterCount": {
                "description": null,
                "type": "integer",
                "format": "int32",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "layerId": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "limitType": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "remainingCharacterCount": {
                "description": null,
                "type": "integer",
                "format": "int32",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "updated": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Annotationsdata": {
      "id": "Annotationsdata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of Annotation Data.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GeoAnnotationdata"
          }
        },
        "kind": {
          "description": "Resource type",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Token to pass in for pagination for the next page. This will not be present\nif this request does not have more results.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "The total number of volume annotations found.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BooksAnnotationsRange": {
      "id": "BooksAnnotationsRange",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "endOffset": {
          "description": "The offset from the ending position.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "endPosition": {
          "description": "The ending position for the range.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startOffset": {
          "description": "The offset from the starting position.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startPosition": {
          "description": "The starting position for the range.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BooksCloudloadingResource": {
      "id": "BooksCloudloadingResource",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "processingState": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BooksVolumesRecommendedRateResponse": {
      "id": "BooksVolumesRecommendedRateResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "consistency_token": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Bookshelf": {
      "id": "Bookshelf",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "access": {
          "description": "Whether this bookshelf is PUBLIC or PRIVATE.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "created": {
          "description": "Created time for this bookshelf (formatted UTC timestamp with millisecond\nresolution).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Description of this bookshelf.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Id of this bookshelf, only unique by user.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource type for bookshelf metadata.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "Title of this bookshelf.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "Last modified time of this bookshelf (formatted UTC timestamp with\nmillisecond resolution).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeCount": {
          "description": "Number of volumes in this bookshelf.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumesLastUpdated": {
          "description": "Last time a volume was added or removed from this bookshelf (formatted UTC\ntimestamp with millisecond resolution).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Bookshelves": {
      "id": "Bookshelves",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of bookshelves.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Bookshelf"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Category": {
      "id": "Category",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of onboarding categories.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "badgeUrl": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "categoryId": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "name": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ConcurrentAccessRestriction": {
      "id": "ConcurrentAccessRestriction",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deviceAllowed": {
          "description": "Whether access is granted for this (user, device, volume).",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxConcurrentDevices": {
          "description": "The maximum number of concurrent access licenses for this volume.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reasonCode": {
          "description": "Error/warning reason code.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "restricted": {
          "description": "Whether this volume has any concurrent access restrictions.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "signature": {
          "description": "Response signature.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "source": {
          "description": "Client app identifier for verification. Download access and\nclient-validation only.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "timeWindowSeconds": {
          "description": "Time in seconds for license auto-expiration.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DictionaryAnnotationdata": {
      "id": "DictionaryAnnotationdata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "data": {
          "description": "JSON encoded data for this dictionary annotation data.\nEmitted with name 'data' in JSON output. Either this or geo_data will\nbe populated.",
          "$ref": "Dictlayerdata"
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource Type",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time\nformat).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Dictlayerdata": {
      "id": "Dictlayerdata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "common": {
          "description": null,
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "title": {
              "description": "The display title and localized canonical name to use when searching for\nthis entity on Google search.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "dict": {
          "description": null,
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "source": {
              "description": "The source, url and attribution for this dictionary data.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "attribution": {
                  "description": null,
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                },
                "url": {
                  "description": null,
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "words": {
              "description": null,
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "object",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {
                  "derivatives": {
                    "description": null,
                    "type": "array",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": {
                      "type": "object",
                      "format": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {
                        "source": {
                          "description": null,
                          "type": "object",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {
                            "attribution": {
                              "description": null,
                              "type": "string",
                              "format": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "properties": {},
                              "additionalProperties": null,
                              "items": null
                            },
                            "url": {
                              "description": null,
                              "type": "string",
                              "format": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "properties": {},
                              "additionalProperties": null,
                              "items": null
                            }
                          },
                          "additionalProperties": null,
                          "items": null
                        },
                        "text": {
                          "description": null,
                          "type": "string",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": null
                        }
                      },
                      "additionalProperties": null,
                      "items": null
                    }
                  },
                  "examples": {
                    "description": null,
                    "type": "array",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": {
                      "type": "object",
                      "format": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {
                        "source": {
                          "description": null,
                          "type": "object",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {
                            "attribution": {
                              "description": null,
                              "type": "string",
                              "format": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "properties": {},
                              "additionalProperties": null,
                              "items": null
                            },
                            "url": {
                              "description": null,
                              "type": "string",
                              "format": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "properties": {},
                              "additionalProperties": null,
                              "items": null
                            }
                          },
                          "additionalProperties": null,
                          "items": null
                        },
                        "text": {
                          "description": null,
                          "type": "string",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": null
                        }
                      },
                      "additionalProperties": null,
                      "items": null
                    }
                  },
                  "senses": {
                    "description": null,
                    "type": "array",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": {
                      "type": "object",
                      "format": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {
                        "conjugations": {
                          "description": null,
                          "type": "array",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": {
                            "type": "object",
                            "format": null,
                            "enum": [],
                            "enumDescriptions": [],
                            "properties": {
                              "type": {
                                "description": null,
                                "type": "string",
                                "format": null,
                                "enum": [],
                                "enumDescriptions": [],
                                "properties": {},
                                "additionalProperties": null,
                                "items": null
                              },
                              "value": {
                                "description": null,
                                "type": "string",
                                "format": null,
                                "enum": [],
                                "enumDescriptions": [],
                                "properties": {},
                                "additionalProperties": null,
                                "items": null
                              }
                            },
                            "additionalProperties": null,
                            "items": null
                          }
                        },
                        "definitions": {
                          "description": null,
                          "type": "array",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": {
                            "type": "object",
                            "format": null,
                            "enum": [],
                            "enumDescriptions": [],
                            "properties": {
                              "definition": {
                                "description": null,
                                "type": "string",
                                "format": null,
                                "enum": [],
                                "enumDescriptions": [],
                                "properties": {},
                                "additionalProperties": null,
                                "items": null
                              },
                              "examples": {
                                "description": null,
                                "type": "array",
                                "format": null,
                                "enum": [],
                                "enumDescriptions": [],
                                "properties": {},
                                "additionalProperties": null,
                                "items": {
                                  "type": "object",
                                  "format": null,
                                  "enum": [],
                                  "enumDescriptions": [],
                                  "properties": {
                                    "source": {
                                      "description": null,
                                      "type": "object",
                                      "format": null,
                                      "enum": [],
                                      "enumDescriptions": [],
                                      "properties": {
                                        "attribution": {
                                          "description": null,
                                          "type": "string",
                                          "format": null,
                                          "enum": [],
                                          "enumDescriptions": [],
                                          "properties": {},
                                          "additionalProperties": null,
                                          "items": null
                                        },
                                        "url": {
                                          "description": null,
                                          "type": "string",
                                          "format": null,
                                          "enum": [],
                                          "enumDescriptions": [],
                                          "properties": {},
                                          "additionalProperties": null,
                                          "items": null
                                        }
                                      },
                                      "additionalProperties": null,
                                      "items": null
                                    },
                                    "text": {
                                      "description": null,
                                      "type": "string",
                                      "format": null,
                                      "enum": [],
                                      "enumDescriptions": [],
                                      "properties": {},
                                      "additionalProperties": null,
                                      "items": null
                                    }
                                  },
                                  "additionalProperties": null,
                                  "items": null
                                }
                              }
                            },
                            "additionalProperties": null,
                            "items": null
                          }
                        },
                        "partOfSpeech": {
                          "description": null,
                          "type": "string",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": null
                        },
                        "pronunciation": {
                          "description": null,
                          "type": "string",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": null
                        },
                        "pronunciationUrl": {
                          "description": null,
                          "type": "string",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": null
                        },
                        "source": {
                          "description": null,
                          "type": "object",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {
                            "attribution": {
                              "description": null,
                              "type": "string",
                              "format": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "properties": {},
                              "additionalProperties": null,
                              "items": null
                            },
                            "url": {
                              "description": null,
                              "type": "string",
                              "format": null,
                              "enum": [],
                              "enumDescriptions": [],
                              "properties": {},
                              "additionalProperties": null,
                              "items": null
                            }
                          },
                          "additionalProperties": null,
                          "items": null
                        },
                        "syllabification": {
                          "description": null,
                          "type": "string",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": null
                        },
                        "synonyms": {
                          "description": null,
                          "type": "array",
                          "format": null,
                          "enum": [],
                          "enumDescriptions": [],
                          "properties": {},
                          "additionalProperties": null,
                          "items": {
                            "type": "object",
                            "format": null,
                            "enum": [],
                            "enumDescriptions": [],
                            "properties": {
                              "source": {
                                "description": null,
                                "type": "object",
                                "format": null,
                                "enum": [],
                                "enumDescriptions": [],
                                "properties": {
                                  "attribution": {
                                    "description": null,
                                    "type": "string",
                                    "format": null,
                                    "enum": [],
                                    "enumDescriptions": [],
                                    "properties": {},
                                    "additionalProperties": null,
                                    "items": null
                                  },
                                  "url": {
                                    "description": null,
                                    "type": "string",
                                    "format": null,
                                    "enum": [],
                                    "enumDescriptions": [],
                                    "properties": {},
                                    "additionalProperties": null,
                                    "items": null
                                  }
                                },
                                "additionalProperties": null,
                                "items": null
                              },
                              "text": {
                                "description": null,
                                "type": "string",
                                "format": null,
                                "enum": [],
                                "enumDescriptions": [],
                                "properties": {},
                                "additionalProperties": null,
                                "items": null
                              }
                            },
                            "additionalProperties": null,
                            "items": null
                          }
                        }
                      },
                      "additionalProperties": null,
                      "items": null
                    }
                  },
                  "source": {
                    "description": "The words with different meanings but not related words, e.g. \"go\"\n(game) and \"go\" (verb).",
                    "type": "object",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {
                      "attribution": {
                        "description": null,
                        "type": "string",
                        "format": null,
                        "enum": [],
                        "enumDescriptions": [],
                        "properties": {},
                        "additionalProperties": null,
                        "items": null
                      },
                      "url": {
                        "description": null,
                        "type": "string",
                        "format": null,
                        "enum": [],
                        "enumDescriptions": [],
                        "properties": {},
                        "additionalProperties": null,
                        "items": null
                      }
                    },
                    "additionalProperties": null,
                    "items": null
                  }
                },
                "additionalProperties": null,
                "items": null
              }
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Discoveryclusters": {
      "id": "Discoveryclusters",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "clusters": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "banner_with_content_container": {
                "description": null,
                "type": "object",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {
                  "fillColorArgb": {
                    "description": null,
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "imageUrl": {
                    "description": null,
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "maskColorArgb": {
                    "description": null,
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "moreButtonText": {
                    "description": null,
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "moreButtonUrl": {
                    "description": null,
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  },
                  "textColorArgb": {
                    "description": null,
                    "type": "string",
                    "format": null,
                    "enum": [],
                    "enumDescriptions": [],
                    "properties": {},
                    "additionalProperties": null,
                    "items": null
                  }
                },
                "additionalProperties": null,
                "items": null
              },
              "subTitle": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "title": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "totalVolumes": {
                "description": null,
                "type": "integer",
                "format": "int32",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "uid": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "volumes": {
                "description": null,
                "type": "array",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": {
                  "$ref": "Volume"
                }
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "Resorce type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalClusters": {
          "description": null,
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DownloadAccessRestriction": {
      "id": "DownloadAccessRestriction",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "deviceAllowed": {
          "description": "If restricted, whether access is granted for this (user, device, volume).",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "downloadsAcquired": {
          "description": "If restricted, the number of content download licenses already acquired\n(including the requesting client, if licensed).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "justAcquired": {
          "description": "If deviceAllowed, whether access was just acquired with this request.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxDownloadDevices": {
          "description": "If restricted, the maximum number of content download licenses for this\nvolume.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "message": {
          "description": "Error/warning message.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nonce": {
          "description": "Client nonce for verification. Download access and client-validation only.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reasonCode": {
          "description": "Error/warning reason code.  Additional codes may be added in the future. 0\nOK 100   ACCESS_DENIED_PUBLISHER_LIMIT 101   ACCESS_DENIED_LIMIT 200\nWARNING_USED_LAST_ACCESS",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "restricted": {
          "description": "Whether this volume has any download access restrictions.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "signature": {
          "description": "Response signature.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "source": {
          "description": "Client app identifier for verification. Download access and\nclient-validation only.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": "Identifies the volume for which this entry applies.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DownloadAccesses": {
      "id": "DownloadAccesses",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "downloadAccessList": {
          "description": "A list of download access responses.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "DownloadAccessRestriction"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "FamilyInfo": {
      "id": "FamilyInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "membership": {
          "description": "Family membership info of the user that made the request.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "acquirePermission": {
              "description": "Restrictions on user buying and acquiring content.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "ageGroup": {
              "description": "The age group of the user.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "allowedMaturityRating": {
              "description": "The maximum allowed maturity rating for the user.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "isInFamily": {
              "description": null,
              "type": "boolean",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "role": {
              "description": "The role of the user in the family.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GeoAnnotationdata": {
      "id": "GeoAnnotationdata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationType": {
          "description": "The type of annotation this data is for.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "data": {
          "description": "JSON encoded data for this geo annotation data.\nEmitted with name 'data' in JSON output. Either this or dict_data will\nbe populated.",
          "$ref": "Geolayerdata"
        },
        "encodedData": {
          "description": "Base64 encoded data for this annotation data.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique id for this annotation data.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource Type",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "layerId": {
          "description": "The Layer id for this data. *",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "URL for this resource. *",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time\nformat).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": "The volume id for this data. *",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Geolayerdata": {
      "id": "Geolayerdata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "common": {
          "description": null,
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "lang": {
              "description": "The language of the information url and description.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "previewImageUrl": {
              "description": "The URL for the preview image information.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "snippet": {
              "description": "The description for this location.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "snippetUrl": {
              "description": "The URL for information for this location. Ex: wikipedia link.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "title": {
              "description": "The display title and localized canonical name to use when searching for\nthis entity on Google search.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "geo": {
          "description": null,
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "boundary": {
              "description": "The boundary of the location as a set of loops containing pairs of\nlatitude, longitude coordinates.",
              "type": "array",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": {
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "cachePolicy": {
              "description": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED,\nNEVER",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "countryCode": {
              "description": "The country code of the location.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "latitude": {
              "description": "The latitude of the location.",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "longitude": {
              "description": "The longitude of the location.",
              "type": "number",
              "format": "double",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "mapType": {
              "description": "The type of map that should be used for this location. EX: HYBRID,\nROADMAP, SATELLITE, TERRAIN",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "viewport": {
              "description": "The viewport for showing this location. This is a latitude, longitude\nrectangle.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "hi": {
                  "description": null,
                  "type": "object",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {
                    "latitude": {
                      "description": null,
                      "type": "number",
                      "format": "double",
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {},
                      "additionalProperties": null,
                      "items": null
                    },
                    "longitude": {
                      "description": null,
                      "type": "number",
                      "format": "double",
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {},
                      "additionalProperties": null,
                      "items": null
                    }
                  },
                  "additionalProperties": null,
                  "items": null
                },
                "lo": {
                  "description": null,
                  "type": "object",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {
                    "latitude": {
                      "description": null,
                      "type": "number",
                      "format": "double",
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {},
                      "additionalProperties": null,
                      "items": null
                    },
                    "longitude": {
                      "description": null,
                      "type": "number",
                      "format": "double",
                      "enum": [],
                      "enumDescriptions": [],
                      "properties": {},
                      "additionalProperties": null,
                      "items": null
                    }
                  },
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "zoom": {
              "description": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom\nlevel, in which the entire world can be seen on one map) to 21+ (down to\nindividual buildings). See: https:\n//developers.google.com/maps/documentation/staticmaps/#Zoomlevels",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Layersummaries": {
      "id": "Layersummaries",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of layer summary items.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Layersummary"
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalItems": {
          "description": "The total number of layer summaries found.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Layersummary": {
      "id": "Layersummary",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationCount": {
          "description": "The number of annotations for this layer.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotationTypes": {
          "description": "The list of annotation types contained for this layer.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "annotationsDataLink": {
          "description": "Link to get data for this annotation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotationsLink": {
          "description": "The link to get the annotations for this layer.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentVersion": {
          "description": "The content version this resource is for.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dataCount": {
          "description": "The number of data items for this layer.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Unique id of this layer summary.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource Type",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "layerId": {
          "description": "The layer id for this summary.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "URL to this resource.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "Timestamp for the last time an item in this layer was updated. (RFC 3339\nUTC date-time format).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeAnnotationsVersion": {
          "description": "The current version of this layer's volume annotations. Note that this\nversion applies only to the data in the books.layers.volumeAnnotations.*\nresponses. The actual annotation data is versioned separately.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "volumeId": {
          "description": "The volume id this resource is for.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Metadata": {
      "id": "Metadata",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of offline dictionary metadata.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "download_url": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "encrypted_key": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "language": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "size": {
                "description": null,
                "type": "string",
                "format": "int64",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "version": {
                "description": null,
                "type": "string",
                "format": "int64",
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              }
            },
            "additionalProperties": null,
            "items": null
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Notification": {
      "id": "Notification",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "body": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "crmExperimentIds": {
          "description": "The list of crm experiment ids.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": "int64",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "doc_id": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "doc_type": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dont_show_notification": {
          "description": null,
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "iconUrl": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "is_document_mature": {
          "description": null,
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "notificationGroup": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "notification_type": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pcampaign_id": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reason": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "show_notification_settings_action": {
          "description": null,
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "targetUrl": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "timeToExpireMs": {
          "description": null,
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Offers": {
      "id": "Offers",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "A list of offers.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {
              "artUrl": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "gservicesKey": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "id": {
                "description": null,
                "type": "string",
                "format": null,
                "enum": [],
                "enumDescriptions": [],
                "properties": {},
                "additionalProperties": null,
                "items": null
              },
              "items": {
[...]
