{
  "kind": "discovery#restDescription",
  "etag": "\"LYADMvHWYH2ul9D6m9UT9gT77YM/-Mtk4jzrnfn1WM7fqzAFlj2E6ZM\"",
  "discoveryVersion": "v1",
  "id": "blogger:v2",
  "name": "blogger",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v2",
  "revision": "20150422",
  "title": "Blogger API",
  "description": "API for access to the data within Blogger.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/blogger-16.png",
    "x32": "https://www.google.com/images/icons/product/blogger-32.png"
  },
  "documentationLink": "https://developers.google.com/blogger/docs/2.0/json/getting_started",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/blogger/v2/",
  "basePath": "/blogger/v2/",
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "blogger/v2/",
  "batchPath": "batch/blogger/v2",
  "version_module": null,
  "packagePath": null,
  "labels": [
    "limited_availability"
  ],
  "features": null,
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/blogger": {
          "description": "Manage your Blogger account"
        }
      }
    }
  },
  "schemas": {
    "Blog": {
      "id": "Blog",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "The description of this blog. This is displayed underneath the title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#blog",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "locale": {
          "description": "The locale this Blog is set to.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "country": {
              "description": "The country this blog's locale is set to.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "language": {
              "description": "The language this blog is authored in.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "variant": {
              "description": "The language variant this blog is authored in.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The name of this blog. This is displayed as the title.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pages": {
          "description": "The container of pages in this blog.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "selfLink": {
              "description": "The URL of the container for pages in this blog.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalItems": {
              "description": "The count of pages in this blog.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "posts": {
          "description": "The container of posts in this blog.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "selfLink": {
              "description": "The URL of the container for posts in this blog.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalItems": {
              "description": "The count of posts in this blog.",
              "type": "integer",
              "format": "int32",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this blog was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this blog was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL where this blog is published.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BlogList": {
      "id": "BlogList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The list of Blogs this user has Authorship or Admin rights over.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Blog"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#blogList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Comment": {
      "id": "Comment",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of this Comment.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "id": {
              "description": "The identifier of the Comment creator.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "image": {
              "description": "The comment creator's avatar.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "url": {
                  "description": "The comment creator's avatar URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The URL of the Comment creator's Profile page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "blog": {
          "description": "Data about the blog containing this comment.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the blog containing this comment.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "content": {
          "description": "The actual content of the comment. May include HTML markup.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inReplyTo": {
          "description": "Data about the comment this is in reply to.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identified of the parent of this comment.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#comment",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "post": {
          "description": "Data about the post containing this comment.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the post containing this comment.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this comment was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this comment was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CommentList": {
      "id": "CommentList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The List of Comments for a Post.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "description": "The kind of this entry. Always blogger#commentList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "prevPageToken": {
          "description": "Pagination token to fetch the previous page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Page": {
      "id": "Page",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of this Page.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "id": {
              "description": "The identifier of the Page creator.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "image": {
              "description": "The page author's avatar.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "url": {
                  "description": "The page author's avatar URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The URL of the Page creator's Profile page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "blog": {
          "description": "Data about the blog containing this Page.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the blog containing this page.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "content": {
          "description": "The body content of this Page, in HTML.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this resource.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#page",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "published": {
          "description": "RFC 3339 date-time when this Page was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The title of this entity. This is the name displayed in the Admin user interface.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this Page was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL that this Page is displayed at.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PageList": {
      "id": "PageList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The list of Pages for a Blog.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Page"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#pageList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Post": {
      "id": "Post",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "author": {
          "description": "The author of this Post.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "displayName": {
              "description": "The display name.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "id": {
              "description": "The identifier of the Post creator.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "image": {
              "description": "The Post author's avatar.",
              "type": "object",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {
                "url": {
                  "description": "The Post author's avatar URL.",
                  "type": "string",
                  "format": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "properties": {},
                  "additionalProperties": null,
                  "items": null
                }
              },
              "additionalProperties": null,
              "items": null
            },
            "url": {
              "description": "The URL of the Post creator's Profile page.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "blog": {
          "description": "Data about the blog containing this Post.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "id": {
              "description": "The identifier of the Blog that contains this Post.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "content": {
          "description": "The content of the Post. May contain HTML markup.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier of this Post.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#post",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labels": {
          "description": "The list of labels this Post was tagged with.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "published": {
          "description": "RFC 3339 date-time when this Post was published.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "replies": {
          "description": "The container of comments on this Post.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "selfLink": {
              "description": "The URL of the comments on this post.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "totalItems": {
              "description": "The count of comments on this post.",
              "type": "string",
              "format": "int64",
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "The title of the Post.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updated": {
          "description": "RFC 3339 date-time when this Post was last updated.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The URL where this Post is displayed.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "PostList": {
      "id": "PostList",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "items": {
          "description": "The list of Posts for this Blog.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Post"
          }
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#postList",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "nextPageToken": {
          "description": "Pagination token to fetch the next page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "prevPageToken": {
          "description": "Pagination token to fetch the previous page, if one exists.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "User": {
      "id": "User",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "about": {
          "description": "Profile summary information.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "blogs": {
          "description": "The container of blogs for this user.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "selfLink": {
              "description": "The URL of the Blogs for this user.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "created": {
          "description": "The timestamp of when this profile was created, in seconds since epoch.",
          "type": "string",
          "format": "date-time",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "The display name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The identifier for this User.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "kind": {
          "description": "The kind of this entity. Always blogger#user",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "locale": {
          "description": "This user's locale",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {
            "country": {
              "description": "The user's country setting.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "language": {
              "description": "The user's language setting.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "variant": {
              "description": "The user's language variant setting.",
              "type": "string",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            }
          },
          "additionalProperties": null,
          "items": null
        },
        "selfLink": {
          "description": "The API REST URL to fetch this resource from.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "The user's profile page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "blogs": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.blogs.get",
          "path": "blogs/{blogId}",
          "httpMethod": "GET",
          "description": "Gets one blog by id.",
          "parameters": {
            "blogId": {
              "description": "The ID of the blog to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "Blog"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "comments": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.comments.get",
          "path": "blogs/{blogId}/posts/{postId}/comments/{commentId}",
          "httpMethod": "GET",
          "description": "Gets one comment by id.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to containing the comment.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "commentId": {
              "description": "The ID of the comment to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "ID of the post to fetch posts from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId",
            "commentId"
          ],
          "request": null,
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "blogger.comments.list",
          "path": "blogs/{blogId}/posts/{postId}/comments",
          "httpMethod": "GET",
          "description": "Retrieves the comments for a blog, possibly filtered.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch comments from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "fetchBodies": {
              "description": "Whether the body content of the comments is included.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxResults": {
              "description": "Maximum number of comments to include in the result.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token if request is paged.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "ID of the post to fetch posts from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startDate": {
              "description": "Earliest date of comment to fetch, a date-time with RFC 3339 formatting.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "date-time",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "request": null,
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "pages": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.pages.get",
          "path": "blogs/{blogId}/pages/{pageId}",
          "httpMethod": "GET",
          "description": "Gets one blog page by id.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog containing the page.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageId": {
              "description": "The ID of the page to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "pageId"
          ],
          "request": null,
          "response": {
            "$ref": "Page"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "blogger.pages.list",
          "path": "blogs/{blogId}/pages",
          "httpMethod": "GET",
          "description": "Retrieves pages for a blog, possibly filtered.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch pages from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "fetchBodies": {
              "description": "Whether to retrieve the Page bodies.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "PageList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "posts": {
      "resources": {},
      "methods": {
        "get": {
          "id": "blogger.posts.get",
          "path": "blogs/{blogId}/posts/{postId}",
          "httpMethod": "GET",
          "description": "Get a post by id.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch the post from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "postId": {
              "description": "The ID of the post",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId",
            "postId"
          ],
          "request": null,
          "response": {
            "$ref": "Post"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "blogger.posts.list",
          "path": "blogs/{blogId}/posts",
          "httpMethod": "GET",
          "description": "Retrieves a list of posts, possibly filtered.",
          "parameters": {
            "blogId": {
              "description": "ID of the blog to fetch posts from.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "fetchBodies": {
              "description": "Whether the body content of posts is included.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "boolean",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "maxResults": {
              "description": "Maximum number of posts to fetch.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "uint32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "Continuation token if the request is paged.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "startDate": {
              "description": "Earliest post date to fetch, a date-time with RFC 3339 formatting.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": "date-time",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "blogId"
          ],
          "request": null,
          "response": {
            "$ref": "PostList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "users": {
      "resources": {
        "blogs": {
          "resources": {},
          "methods": {
            "list": {
              "id": "blogger.users.blogs.list",
              "path": "users/{userId}/blogs",
              "httpMethod": "GET",
              "description": "Retrieves a list of blogs, possibly filtered.",
              "parameters": {
                "userId": {
                  "description": "ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "request": null,
              "response": {
                "$ref": "BlogList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/blogger"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "blogger.users.get",
          "path": "users/{userId}",
          "httpMethod": "GET",
          "description": "Gets one user by id.",
          "parameters": {
            "userId": {
              "description": "The ID of the user to get.",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "request": null,
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/blogger"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    }
  },
  "methods": {}
}